902x05w0_06-ConfPrflCmnClss.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="902x12m1-SmCmnEnt-AbsEvnt.xsd"/>
	<xsd:include schemaLocation="902x12m1-SmCmnEnt-CmnClss.xsd"/>
	<xsd:include schemaLocation="902x12m1-SmCmnEnt-InfEntHdr.xsd"/>
	<!-- include of Simple Schedule needed for service type definitions -->
	<xsd:include schemaLocation="902x01b1TC1-SmplSchd.xsd"/>
	<!-- the "glue" for the FRM schemas -->
	<xsd:include schemaLocation="SanaRegistry/AbstractFrStrataParameterSets.xsd"/>
	<!--********************************************************************************************************************** -->
	<!-- Define Configuration Profile Container  -->
	<!--********************************************************************************************************************** -->
	<xsd:element name="configurationProfileData" type="ConfigurationProfileDataType" substitutionGroup="srvMgtData"/>
	<xsd:complexType name="ConfigurationProfileDataType">
		<xsd:complexContent>
			<xsd:extension base="SrvMgtDataType">
				<xsd:sequence>
					<xsd:element ref="serviceProfile" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="configurationProfileId" type="xsd:string" use="required"/>
				<xsd:attribute name="configurationProfileNickname" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--********************************************************************************************************************** -->
	<!-- Define Service Profile -->
	<!--********************************************************************************************************************** -->
	<xsd:element name="serviceProfile" type="ServiceProfileType"/>
	<xsd:complexType name="ServiceProfileType">
		<xsd:sequence>
			<xsd:element name="dependencyConfig" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="apertureStratumFR" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="slsRadiometricDataProdStratumFR" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="srvMgtFunctionsStratumFR" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="offlineDataStorageStratumFR" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="unregisteredStratumFR" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="configurationParameters">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="ApertureStratumParameters" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="PhysicalChannelStratumParameters" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="SynchronizationandChannelCodingStratumParameters" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="SLSRadiometricDataProductionStratumParameters" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="SLSDataDeliveryProductionStratumParameters" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="SpaceLinkProtocolStratumParameters" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="OfflineDataStorageStratumParameters" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="DataTransferServicesStratumParameters" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="ServiceManagementStratumParameters" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="UnregisteredStratumParameters" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="serviceType" type="ServiceType" use="required"/>
		<xsd:attribute name="frequencyBand" type="FrequencyBandType"/>
	</xsd:complexType>
	<!--******************************************************************************************************************************************************* -->
	<!-- FR Strata definitions  -->
	<!--******************************************************************************************************************************************************* -->
	<!--********************************************************************************************************************** -->
	<!-- Define Service Management Functions Functional Resource  -->
	<!--********************************************************************************************************************** -->
	<xsd:element name="srvMgtFunctionsStratumFR" type="SrvMgtFunctionsFRType" substitutionGroup="functionalResource"/>
	<xsd:complexType name="SrvMgtFunctionsFRType">
		<xsd:complexContent>
			<xsd:extension base="FunctionalResourceType">
				<xsd:sequence>
					<xsd:element ref="srvMgtFunctionsStratumFR" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--********************************************************************************************************************** -->
	<!-- Define Aperture Functional Resource  -->
	<!--********************************************************************************************************************** -->
	<xsd:element name="apertureStratumFR" type="ApertureFRType" substitutionGroup="functionalResource"/>
	<xsd:complexType name="ApertureFRType">
		<xsd:complexContent>
			<xsd:extension base="FunctionalResourceType">
				<xsd:sequence>
					<xsd:element ref="physicalChannelStratumFR" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--********************************************************************************************************************** -->
	<!-- Define Physical Channel Functional Resource  -->
	<!--********************************************************************************************************************** -->
	<xsd:element name="physicalChannelStratumFR" type="PhysicalChannelFRType" substitutionGroup="functionalResource"/>
	<xsd:complexType name="PhysicalChannelFRType">
		<xsd:complexContent>
			<xsd:extension base="FunctionalResourceType">
				<xsd:sequence>
					<xsd:element ref="physicalChannelStratumFR" minOccurs="0"/>
					<xsd:element ref="syncChannelCodingStratumFR" minOccurs="0"/>
					<xsd:element ref="slsRadiometricDataProdStratumFR" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--********************************************************************************************************************** -->
	<!-- Define Sync and Channel Coding Functional Resource  -->
	<!--********************************************************************************************************************** -->
	<xsd:element name="syncChannelCodingStratumFR" type="SyncChannelCodingFRType" substitutionGroup="functionalResource"/>
	<xsd:complexType name="SyncChannelCodingFRType">
		<xsd:complexContent>
			<xsd:extension base="FunctionalResourceType">
				<xsd:sequence>
					<xsd:element ref="spaceDataLinkProtocolStratumFR" minOccurs="0" maxOccurs="2"/>
					<xsd:element ref="slsDeliveryProdStratumFR" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="dataTransferServiceStratumFR" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--********************************************************************************************************************** -->
	<!-- Define SLS Radiometric Data Production Functional Resource  -->
	<!--********************************************************************************************************************** -->
	<xsd:element name="slsRadiometricDataProdStratumFR" type="SlsRadiometricDataProdFRType" substitutionGroup="functionalResource"/>
	<xsd:complexType name="SlsRadiometricDataProdFRType">
		<xsd:complexContent>
			<xsd:extension base="FunctionalResourceType">
				<xsd:sequence>
					<!-- require 0 or 1 classes class derived from apertureLocation -->
					<xsd:element ref="offlineDataStorageStratumFR" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="dataTransferServiceStratumFR" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--********************************************************************************************************************** -->
	<!-- Define SLS Delivery Production Functional Resource  -->
	<!--********************************************************************************************************************** -->
	<xsd:element name="slsDeliveryProdStratumFR" type="SlsDeliveryProdFRType" substitutionGroup="functionalResource"/>
	<xsd:complexType name="SlsDeliveryProdFRType">
		<xsd:complexContent>
			<xsd:extension base="FunctionalResourceType">
				<xsd:sequence>
					<!-- require 0 or 1 classes class derived from apertureLocation -->
					<xsd:element ref="offlineDataStorageStratumFR" minOccurs="0"/>
					<xsd:element ref="slsDeliveryProdStratumFR" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--********************************************************************************************************************** -->
	<!-- Define Space Data Link Functional Resource  -->
	<!--********************************************************************************************************************** -->
	<xsd:element name="spaceDataLinkProtocolStratumFR" type="SpaceDataLinkProtocolFRType" substitutionGroup="functionalResource"/>
	<xsd:complexType name="SpaceDataLinkProtocolFRType">
		<xsd:complexContent>
			<xsd:extension base="FunctionalResourceType">
				<xsd:sequence>
					<xsd:element ref="slsDeliveryProdStratumFR" minOccurs="0"/>
					<xsd:element ref="spaceDataLinkProtocolStratumFR" minOccurs="0"/>
					<xsd:element ref="dataTransferServiceStratumFR" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--********************************************************************************************************************** -->
	<!-- Define Offline Data Storage Functional Resource  -->
	<!--********************************************************************************************************************** -->
	<xsd:element name="offlineDataStorageStratumFR" type="OfflineDataStorageFRType" substitutionGroup="functionalResource"/>
	<xsd:complexType name="OfflineDataStorageFRType">
		<xsd:complexContent>
			<xsd:extension base="FunctionalResourceType">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--********************************************************************************************************************** -->
	<!-- Define Data Transfer Service Functional Resource  -->
	<!--********************************************************************************************************************** -->
	<xsd:element name="dataTransferServiceStratumFR" type="DataTransferServiceFRType" substitutionGroup="functionalResource"/>
	<xsd:complexType name="DataTransferServiceFRType">
		<xsd:complexContent>
			<xsd:extension base="FunctionalResourceType">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--********************************************************************************************************************** -->
	<!-- Define Data Transfer Service Functional Resource  -->
	<!--********************************************************************************************************************** -->
	<xsd:element name="unregisteredStratumFR" type="UnregisteredFRType" substitutionGroup="functionalResource"/>
	<xsd:complexType name="UnregisteredFRType">
		<xsd:complexContent>
			<xsd:extension base="FunctionalResourceType">
				<xsd:sequence>
					<xsd:element ref="unregisteredStratumFR" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--******************************************************************************************************************************************************* -->
	<!-- FR abstract and parameter definitions  -->
	<!--******************************************************************************************************************************************************* -->
	<!--********************************************************************************************************************** -->
	<!-- Define abstract Functional Resource  -->
	<!--********************************************************************************************************************** -->
	<xsd:element name="functionalResource" type="FunctionalResourceType" abstract="true"/>
	<xsd:complexType name="FunctionalResourceType">
		<xsd:sequence>
			<xsd:element name="interfaceProviderFrName" type="InterfaceProviderType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="frin" type="xsd:string" use="optional"/>
		<xsd:attribute name="frTypeOid" type="xsd:string" use="optional"/>
		<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!--********************************************************************************************************************** -->
	<!-- Define abstract Unregistered Functional Resource Parameters -->
	<!--********************************************************************************************************************** -->
	<xsd:complexType name="UnregisteredFRParametersType">
		<xsd:sequence>
			<xsd:element name="unregisteredParameter" type="FrParameterType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--********************************************************************************************************************** -->
	<xsd:element name="unregisteredElement" type="FRUnregisteredParametersType" substitutionGroup="UnregisteredStratumParameters"/>
	<xsd:complexType name="FRUnregisteredParametersType">
		<xsd:complexContent>
			<xsd:extension base="UnregisteredStratumType">
				<xsd:sequence>
					<xsd:element name="unregisteredParameterList" type="UnregisteredFRParametersType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="xsd:string" use="optional"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--********************************************************************************************************************** -->
	<!-- Define interface Provider Type -->
	<!--********************************************************************************************************************** -->
	<xsd:complexType name="InterfaceProviderType">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="value" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!--********************************************************************************************************************** -->
	<!-- Define abstract Configuration Functional Resource Parameter with range/listextension-->
	<!-- xxxx maybe needs to go to CommonDataEntities? Replace the FRParameterType there? -->
	<!-- xxxx shall the parameter definition have optional OID reference? -->
	<!--********************************************************************************************************************** -->
	<xsd:complexType name="FrParameterType">
		<xsd:sequence>
			<xsd:element ref="abstractParameter" minOccurs="1" maxOccurs="1"/>
			<xsd:choice minOccurs="0">
				<xsd:element name="agreedRange">
					<xsd:complexType>
						<xsd:attribute name="minValue" use="required"/>
						<xsd:attribute name="maxValue" use="required"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="agreedList" type="xsd:string"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
