902x12w1_04-SmCmnEnt-TLE.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">


	<xsd:element name="tle" type="TleType"/>
	<xsd:complexType name="TleType" mixed="true">


<!--********************************************************************************************************************** -->
<!--  TLE Line 0 is defined to be                                                                                          -->
<!--                                                                                                                       -->
<!--  Field 	Columns 	Content 	                                                                                   -->
<!--  1         01–24       Satellite name                                                                                 -->
<!--                                                                                                                       -->
<!--********************************************************************************************************************** -->

		<xsd:attribute name="tleLine0" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
				    <xsd:pattern value="[ -~]{24}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>


<!--********************************************************************************************************************** -->
<!--  TLE Line 1 is defined to be                                                                                          -->
<!--                                                                                                                       -->
<!--  Field 	Columns 	Content 	                                                                                   -->
<!--  1         01–01       Line number                                                                                    -->
<!--  2         03–07       Satellite catalog number                                                                       -->
<!--  3         08–08       Classification (U=Unclassified, C=Classified, S=Secret)                                        -->
<!--  4         10–11       International Designator (last two digits of launch year)                                      -->
<!--  5         12–14       International Designator (launch number of the year)                                           -->
<!--  6         15–17       International Designator (piece of the launch)                                                 -->
<!--  7         19–20       Epoch Year (last two digits of year)                                                           -->
<!--  8         21–32       Epoch (day of the year and fractional portion of the day)                                      -->
<!--  9         34–43       First Derivative of Mean Motion aka the Ballistic Coefficient                                  -->
<!--  10        45–52       Second Derivative of Mean Motion (decimal point assumed)                                       -->
<!--  11        54–61       Drag Term aka Radiation Pressure Coefficient or BSTAR (decimal point assumed)                  -->
<!--  12        63–63       Ephemeris type (internal use only - always zero in distributed TLE data)                       -->
<!--  13        65–68       Element set number. Incremented when a new TLE is generated for this object.                   -->
<!--  14        69–69       Checksum (modulo 10)                                                                           -->
<!--                                                                                                                       -->
<!--   NOTE: Where decimal points are assumed, they are leading decimal points. The last two symbols in Fields 10 and 11   -->
<!--         of the first line give powers of 10 to apply to the preceding decimal.                                        -->
<!--                                                                                                                       -->
<!-- The format of TLE line 1 is as shown below                                                                            -->
<!--                                                                                                                       -->
<!-- "1 NNNNNC NNNNNAAA NNNNN.NNNNNNNN +.NNNNNNNN +NNNNN-N +NNNNN-N N NNNNN"                                               -->
<!--                                                                                                                       -->
<!-- where                                                                                                                 -->
<!--    Columns with a space or period can have no other character.                                                        -->
<!--    Columns with an 'N' can have any number 0-9 or, in some cases, a space.                                            -->
<!--    Columns with an 'A' can have any character A-Z or a space.                                                         -->
<!--    Column with a 'C' can only have a character representing the classification of the element set—normally either a   -->
<!--    'U' for unclassified data or an 'S' for secret data (of course, only unclassified data are publicly available).    -->
<!--    Columns with a '+' can have either a plus sign, a minus sign, or a space.                                          -->
<!--    Columns with a '-' can have either a plus or minus sign (if the rest of the field is not blank).                   -->
<!--                                                                                                                       -->
<!--********************************************************************************************************************** -->

		<xsd:attribute name="tleLine1" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[1][ ][ 0-9]{5}[USC][ ][ 0-9]{5}[ A-Z]{3}[ ][ 0-9]{2}[ 0-9]{3}[.][ 0-9]{8}[ ][ +\-][.][ 0-9]{8}[ ][ +\-][ 0-9]{5}[ +\-][ 0-9][ ][ +\-][ 0-9]{5}[ +\-][ 0-9][ ][ 0-9][ ][ 0-9]{5}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>


<!--********************************************************************************************************************** -->
<!--  TLE Line 2 is defined to be                                                                                          -->
<!--                                                                                                                       -->
<!--  Field 	Columns 	Content 	                                                                                   -->
<!--  1         01–01       Line number                                                                                    -->
<!--  2         03–07       Satellite catalog number                                                                       -->
<!--  3         09-16       Inclination (degrees)                                                                          -->
<!--  4         18-25       Right Ascension of the Ascending Node (degrees)                                                -->
<!--  5         27-33       Eccentricity (decimal point assumed)                                                           -->
<!--  6         35-42       Argument of Perigee (degrees)                                                                  -->
<!--  7         44-51       Mean Anomaly (degrees)                                                                         -->
<!--  8         53-63       Mean Motion (revolutions per day)                                                              -->
<!--  9         64-68       Revolution number at epoch (revolutions)                                                       -->
<!--  10        69–69       Checksum (modulo 10)                                                                           -->
<!--                                                                                                                       -->
<!--   NOTE: Where decimal points are assumed, they are leading decimal points. The last two symbols in Fields 10 and 11   -->
<!--         of the first line give powers of 10 to apply to the preceding decimal.                                        -->
<!--                                                                                                                       -->
<!-- The format of TLE line 2 is as shown below                                                                            -->
<!--                                                                                                                       -->
<!-- "2 NNNNN NNN.NNNN NNN.NNNN NNNNNNN NNN.NNNN NNN.NNNN NN.NNNNNNNNNNNNNN"                                               -->
<!--                                                                                                                       -->
<!-- where                                                                                                                 -->
<!--    Columns with a space or period can have no other character.                                                        -->
<!--    Columns with an 'N' can have any number 0-9 or, in some cases, a space.                                            -->
<!--    Columns with an 'A' can have any character A-Z or a space.                                                         -->
<!--    Columns with a '+' can have either a plus sign, a minus sign, or a space.                                          -->
<!--    Columns with a '-' can have either a plus or minus sign (if the rest of the field is not blank).                   -->
<!--                                                                                                                       -->
<!--********************************************************************************************************************** -->


		<xsd:attribute name="tleLine2" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[2][ ][ 0-9]{5}[ ][ 0-9]{3}[.][ 0-9]{4}[ ][ 0-9]{3}[.][ 0-9]{4}[ ][ 0-9]{7}[ ][ 0-9]{3}[.][ 0-9]{4}[ ][ 0-9]{3}[.][ 0-9]{4}[ ][ 0-9]{2}[.][ 0-9]{14}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>	
	</xsd:complexType>

</xsd:schema>