902x09w0_19-Smurf.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="902x12m1-SmCmnEnt-InfEntHdr.xsd"/>
	<xsd:include schemaLocation="902x12m1-SmCmnEnt-AbsEvnt.xsd"/>
	<xsd:include schemaLocation="902x12m1-SmCmnEnt-CmnClss.xsd"/>
	<xsd:include schemaLocation="902x12w1_04-SmCmnEnt-DataWrp.xsd"/>
	<xsd:include schemaLocation="902x12w1_04-SmCmnEnt-SrvPkg.xsd"/>
	<xsd:include schemaLocation="902x09w0_19-Smurf-EnhancedCons.xsd"/>
	

<!--********************************************************************************************************************** -->
<!-- Define Service management Utilization Request Formats (SMURF) type -->
<!--********************************************************************************************************************** -->

	<xsd:element name="srvMgtUtilReq" type="SrvMgtUtilReqType"/>
	<xsd:complexType name="SrvMgtUtilReqType">
		<xsd:complexContent>
			<xsd:restriction base="SrvMgtInfoEntityType">
				<xsd:sequence>
					<xsd:element ref="srvMgtUtilReqHeader" minOccurs="1" maxOccurs="1" />
					<xsd:element ref="requestType" minOccurs="1" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:restriction>			
		</xsd:complexContent>
	</xsd:complexType>
	

<!--********************************************************************************************************************** -->
<!-- Define SMURF possible statuses -->
<!--********************************************************************************************************************** -->

	<xsd:simpleType name="UtilizationReqStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TEST"/>
			<xsd:enumeration value="OPERATIONAL"/>
		</xsd:restriction>
	</xsd:simpleType>


<!--********************************************************************************************************************** -->
<!-- Define SMURF Header -->
<!--********************************************************************************************************************** -->

	<xsd:element name="srvMgtUtilReqHeader" type="SrvMgtUtilReqHeaderType" substitutionGroup="srvMgtHeader"/>
	<xsd:complexType name="SrvMgtUtilReqHeaderType">
		<xsd:complexContent>
			<xsd:extension base="SrvMgtHeaderType">
				<xsd:sequence>
					<!-- allow a list of parameters derived from AbstractParameter -->
					<xsd:element ref="abstractParameter" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="utilizationReqStatus" type="UtilizationReqStatusType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


<!--********************************************************************************************************************** -->
<!-- Define space user node -->
<!--********************************************************************************************************************** -->

	<xsd:element name="spaceUserNode" type="xsd:string" />


<!--********************************************************************************************************************** -->
<!-- Define abstract Request Type -->
<!--********************************************************************************************************************** -->

	<xsd:element name="requestType" type="RequestTypeType" substitutionGroup="srvMgtData" abstract="true"/>
	<xsd:complexType name="RequestTypeType">
		<xsd:complexContent>
			<xsd:extension base="SrvMgtDataType">
				<xsd:sequence>
					<!-- allow a list of parameters derived from AbstractParameter -->
					<xsd:element ref="abstractParameter" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="requestID" type="xsd:string" use="required"/>
				<xsd:attribute name="serviceAgreementRef" type="xsd:string" use="optional"/>
				<xsd:attribute name="comment" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


<!--********************************************************************************************************************** -->
<!-- Define abstract Report Request Type and concrete report requests-->
<!--********************************************************************************************************************** -->

	<xsd:element name="reportReq" type="ReportReqType" substitutionGroup="requestType" abstract = "true"/>
	<xsd:complexType name="ReportReqType">
		<xsd:complexContent>
			<xsd:extension base="RequestTypeType">
				<xsd:sequence>
					<!--  allow a list of space user nodes -->
					<xsd:element  ref="spaceUserNode" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="startTime" type="CcsdsAsciiTimeCodeBType" use="required"/>
				<xsd:attribute name="endTime" type="CcsdsAsciiTimeCodeBType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="simpleScheduleRepReq" type="SimpleScheduleRepReqType" substitutionGroup="reportReq"/>
	<xsd:complexType name="SimpleScheduleRepReqType">
		<xsd:complexContent>
			<xsd:extension base="ReportReqType">
				<xsd:sequence>
					<!--  allow a list of aperture locations -->
					<xsd:element ref="apertureLocation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="reportType" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="SIM_SCH_SPECIFIC"/>
							<xsd:enumeration value="SIM_SCH_COMPLETE"/>
							<xsd:enumeration value="SIM_SCH_FREE"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="accountingRepReq" type="AccountingRepReqType" substitutionGroup="reportReq"/>
	<xsd:complexType name="AccountingRepReqType">
		<xsd:complexContent>
			<xsd:extension base="ReportReqType">
				<xsd:attribute name="reportType" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="ACCOUNTING"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	

<!--********************************************************************************************************************** -->
<!-- Define Planning Info Request Type                                                                                     -->
<!--********************************************************************************************************************** -->

	<xsd:element name="planningInfoReq" type="PlanningInfoReqType" substitutionGroup="requestType"/>
	<xsd:complexType name="PlanningInfoReqType">
		<xsd:complexContent>
			<xsd:extension base="RequestTypeType">
			<xsd:sequence>
					<!--  allow exactly 1 space user nodes -->
					<xsd:element  ref="spaceUserNode" minOccurs="1" maxOccurs="1"/>
					<!-- allow a list of constraints derived from Constraints -->
					<xsd:element ref="constraints" minOccurs="0" maxOccurs="unbounded"/>
					<!-- allow a list of planningInfoTypes -->
		    		<xsd:element ref="planningInfoTypeList" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
				<xsd:attribute name="trajectoryRef" type="xsd:string" use="required"/>
				<xsd:attribute name="configurationProfileRef" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


<!--********************************************************************************************************************** -->
<!-- Define Info Request Type                                                                                              -->
<!--********************************************************************************************************************** -->

	<xsd:element name="infoReq" type="InfoReqType" substitutionGroup="requestType"/>
	<xsd:complexType name="InfoReqType">
		<xsd:complexContent>
			<xsd:extension base="RequestTypeType">
				<xsd:sequence>
					<!-- allow lists of InfoTypes -->
		    		<xsd:element name="configurationProfileRef" type="xsd:string"   minOccurs="0" maxOccurs="unbounded"/>
		    		<xsd:element name="eventSequenceRef" type="xsd:string"   minOccurs="0" maxOccurs="unbounded"/>
		    		<xsd:element name="serviceAgreementRef" type="xsd:string"   minOccurs="0" maxOccurs="unbounded"/>
		    		<xsd:element name="servicePackageRef" type="xsd:string"   minOccurs="0" maxOccurs="unbounded"/>
		    		<xsd:element name="trajectoryRef" type="xsd:string"   minOccurs="0" maxOccurs="unbounded"/>
		    		<xsd:element name="ddorScanPatternRef" type="xsd:string"   minOccurs="0" maxOccurs="unbounded"/>
		    		<xsd:element name="sicfRef" type="xsd:string"   minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	
<!--********************************************************************************************************************** -->
<!-- Define Submission Request Type                                                                                        -->
<!--********************************************************************************************************************** -->

	<xsd:element name="submissionReq" type="SubmissionReqType" substitutionGroup="requestType" />
	<xsd:complexType name="SubmissionReqType">
		<xsd:complexContent>
			<xsd:extension base="RequestTypeType">
				<xsd:sequence>
					<!--  allow exactly 1 space user nodes -->
					<xsd:element  ref="spaceUserNode" minOccurs="1" maxOccurs="1"/>
					<!--  allow a data wrapper class derived from AbstractDataSubWrapper -->
					<xsd:element ref="abstractDataSubWrapper" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	
<!--********************************************************************************************************************** -->
<!-- Define abstract Service Package Request Type and concrete types derived from it -->
<!--********************************************************************************************************************** -->

	<xsd:element name="servicePkgReq" type="ServicePkgReqType" substitutionGroup="requestType" abstract="true"/>
	<xsd:complexType name="ServicePkgReqType">
		<xsd:complexContent>
			<xsd:extension base="RequestTypeType">
				<xsd:sequence>
					<!--  allow exactly 1 space user nodes -->
					<xsd:element  ref="spaceUserNode" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
				<xsd:attribute name="serviceReqID" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="deleteSrvPkgReq" type="DeleteSrvPkgReqType" substitutionGroup="servicePkgReq" />
	<xsd:complexType name="DeleteSrvPkgReqType">
		<xsd:complexContent>
			<xsd:extension base="ServicePkgReqType">
				<xsd:attribute name="deletePending" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="deleteSrvPkg" type="DeleteSrvPkgType" substitutionGroup="servicePkgReq" />
	<xsd:complexType name="DeleteSrvPkgType">
		<xsd:complexContent>
			<xsd:extension base="ServicePkgReqType">
				<xsd:sequence>
					<!-- allow lists of srvPkgResIDs -->
		    		<xsd:element name="srvPkgRef" type="xsd:string"   minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="replaceSrvPkg" type="ReplaceSrvPkgType" substitutionGroup="servicePkgReq" />
	<xsd:complexType name="ReplaceSrvPkgType">
		<xsd:complexContent>
			<xsd:extension base="ServicePkgReqType">
				<xsd:sequence>
					<!-- allow specification of service package -->
					<xsd:element ref="abstractSrvPkg" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
	    		<xsd:attribute name="SrvPkgRef" type="xsd:string" use="required"/>
				<xsd:attribute name="newBeginningOfTrack" type="CcsdsAsciiTimeCodeBType" use="optional"/>	
				<xsd:attribute name="newEndOfTrack" type="CcsdsAsciiTimeCodeBType" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	
<!--********************************************************************************************************************** -->
<!-- Define abstract Online Service Package Request Type and concrete types derived from it, as well as associated classes -->
<!--********************************************************************************************************************** -->

	<xsd:element name="onlineSrvPkgReq" type="OnlineSrvPkgReqType" substitutionGroup="servicePkgReq" abstract="true"/>
	<xsd:complexType name="OnlineSrvPkgReqType">
		<xsd:complexContent>
			<xsd:extension base="ServicePkgReqType">
				<xsd:sequence>
					<!-- allow a list of classes derived from constraints. -->
					<xsd:element ref="constraints" minOccurs="0" maxOccurs="unbounded"/>
					<!-- required 1 class derived from abstractOnlineSrvPkg -->
					<xsd:element ref="abstractOnlineSrvPkg" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="newOnlineSrvPkgReq" type="OnlineSrvPkgReqType" substitutionGroup="onlineSrvPkgReq" />
	
	<xsd:element name="replaceOnlineSrvPkgReq" type="OnlineSrvPkgReqType" substitutionGroup="onlineSrvPkgReq" />

	
<!--********************************************************************************************************************** -->
<!-- Define abstract Offline Service Package Request Type and concrete types derived from it, as well as associated        -->
<!-- classes                                                                                                               -->
<!--********************************************************************************************************************** -->

	<xsd:element name="offlineSrvPkgReq" type="OfflineSrvPkgReqType" substitutionGroup="servicePkgReq" abstract="true"/>
	<xsd:complexType name="OfflineSrvPkgReqType">
		<xsd:complexContent>
			<xsd:extension base="ServicePkgReqType">
				<xsd:sequence>
					<!-- allow a list of constraints derived from ConstraintsAlsoSuitableForOffline -->
					<xsd:element ref="constraintsAlsoSuitableForOffline" minOccurs="0" maxOccurs="unbounded"/>			
					<!-- allow a list of offline Srv Pkg Req Details from offlineSrvDetails -->
					<xsd:element ref="offlineSrvPkgType1" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="newOfflineSrvPkgReq" type="OfflineSrvPkgReqType" substitutionGroup="offlineSrvPkgReq" />
	
	<xsd:element name="replaceOfflineSrvPkgReq" type="OfflineSrvPkgReqType" substitutionGroup="offlineSrvPkgReq" />


</xsd:schema>
