Example-902x09w0_19-SMURFSubmitTrajDataOther.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:OtherTraj" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:OtherTraj" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<!--********************************************************************************************************************** -->
	
	<xsd:element name="otherTrajTextFmt" type="OtherTrajTextFmtType" />
	<xsd:complexType name="OtherTrajTextFmtType">
		<xsd:attribute name="trajData" type="xsd:string" use="required" />
	</xsd:complexType>

</xsd:schema>
