SanaRegistry/Antenna.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
The Antenna FR accepts as input the carrier signal that shall either be radiated
 into space or into a water load, provided the given FR instance has the transmit
 capability. 

The Antenna FR provides as output the carrier signal received from
 space to the Ccsds401SpaceLinkCarrierRcpt FR or the Ccsds415SpaceLinkCarrierRcpt
 FR and to open-loop receivers. The azimuth and elevation pointing angles are forwarded
 to the TdmSegmentGen FR and NonValRmDataCollection FR, provided the given FR instance
 has the receive capability. The pointing angles are provided only while the antenna
 is in some form of 'closedLoop' pointing mode.

For the correction of radiometric
 observables weather data are required which  should be collected close to the antenna
 used to obtain the radiometric observables. Therefore the Antenna FR is regarded
 as the source of the weather data provided to the TdmSegmentGeneration FR and the
 NonValRmDataCollection FR. 

Note: An Antenna FR may be limited to 'transmit-only'
 or 'receive-only'.

-->
	<xsd:element name="AntennaElement" type="AntennaType" substitutionGroup="ApertureStratumParameters"/>
	<xsd:complexType name="AntennaType">
		<xsd:complexContent>
			<xsd:extension base="ApertureStratumType">
				<xsd:all>
					<xsd:element name="antContrPointing" type="AntContrPointingNamed" minOccurs="0"/>
					<xsd:element name="antContrAngularRate" type="AntContrAngularRateNamed" minOccurs="0"/>
					<xsd:element name="antPointingMode" type="AntPointingModeNamed" minOccurs="0"/>
					<xsd:element name="antClosedLoopConfiguration" type="AntClosedLoopConfigurationNamed" minOccurs="0"/>
					<xsd:element name="antTrackingSignalPolarization" type="AntTrackingSignalPolarizationNamed" minOccurs="0"/>
					<xsd:element name="antTrackingRxNominalFreq" type="AntTrackingRxNominalFreqNamed" minOccurs="0"/>
					<xsd:element name="antTrackingRxFreqSearchRange" type="AntTrackingRxFreqSearchRangeNamed" minOccurs="0"/>
					<xsd:element name="antTrackingRxPredictMode" type="AntTrackingRxPredictModeNamed" minOccurs="0"/>
					<xsd:element name="antTrackingRxLoopBwdth" type="AntTrackingRxLoopBwdthNamed" minOccurs="0"/>
					<xsd:element name="antTrackingRxOrderOfLoop" type="AntTrackingRxOrderOfLoopNamed" minOccurs="0"/>
					<xsd:element name="antTrackingRxAntiSideBandStat" type="AntTrackingRxAntiSideBandStatNamed" minOccurs="0"/>
					<xsd:element name="antAcqThreshold" type="AntAcqThresholdNamed" minOccurs="0"/>
					<xsd:element name="antWindIntegrationTime" type="AntWindIntegrationTimeNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.10100"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the overall status of the antenna and can take
 on four values: 
- 'configured':  the antenna system has been configured, but is
 not yet tracking because it is still moving to the initial pointing or the spacecraft
 is not yet or no longer in view; 
- 'operational':  the antenna is tracking in
 the reported pointing mode (cf. antennaPointingMode); 
- 'interrupted':  a failure
 has been detected that prevents the antenna from tracking nominally; 
- 'halted':
  the antenna has been taken out of service, e.g. due to wind speed requiring the
 antenna to be put into stow position.
-->
	<xsd:simpleType name="AntResourceStat">
		<xsd:restriction base="ResourceStat"/>
	</xsd:simpleType>
	<!--
This parameter identifies the antenna that is involved in providing a given support.
 The antenna may either be identified by its name where typically this name is defined
 by the operating agency so that no guarantee can be given that the identifier is
 globally unique. Alternatively the antenna may be officially registered in SANA
 in which case it has a globally unique Object Identifier. Knowledge of which antenna
 is being used is needed for a number of aspects, e.g. to assess the observed signal
 levels with respect to the antenna performance or to perform time correlation that
 requires knowledge of the exact geographical location of the given antenna.

Note:
 In case the antennas used for uplink and downlink are not identical, the Functional
 Resource (FR) instance number shall be used to differentiate them. 

Antenna arrays
 will be modeled by a dedicated FR type
-->
	<xsd:complexType name="AntId">
		<xsd:choice>
			<xsd:element name="antennaName">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="3"/>
								<xsd:maxLength value="16"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="antennaOid">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="ObjectIdentifier"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter reports the current antenna azimuth and elevation pointing in 1/1000
 degrees, where for the azimuth 0 degrees corresponds to pointing north and 90 degrees
 corresponds to pointing east and for the elevation 0 degrees corresponds to pointing
 to the horizon and 90 degrees corresponds to zenith pointing. Depending on the way
 the antenna is built, azimuth values above 360 degrees may be reported in cases
 where the antenna enables such azimuth range as to mitigate the cable unwrap issue.
 Elevation values above 90 degrees may be reported in cases where the antenna enables
 such elevation range as to mitigate the azimuth singularity at zenith. For antennas
 with a mount different from elevation over azimuth (e.g. x/y mount), the antenna
 pointing shall be converted to the azimuth/elevation presentation. This also applies
 to antennas having a tilt mode as to overcome the zenith track singularity.

Note:
 Time-tagged antenna pointing is regarded a radiometric product and therefore not
 part of monitoring provided by this FR type. 
-->
	<xsd:complexType name="AntActualPointing">
		<xsd:complexContent>
			<xsd:extension base="AntennaPointing"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This parameter reports the azimuth and elevation pointing in 1/1000 degrees commanded
 to the servo system while the antPointingMode is either 'programTrack' or 'closedLoop',
 where for the azimuth 0 degrees corresponds to pointing north and 90 degrees corresponds
 to pointing east while for the elevation 0 degrees corresponds to pointing to the
 horizon and 90 degrees corresponds to zenith pointing. Depending on the way the
 antenna is built, azimuth values above 360 degrees may be reported in cases where
 the antenna enables such azimuth range as to mitigate the cable unwrap issue. Elevation
 values above 90 degrees may be reported in cases where the antenna enables such
 elevation range as to mitigate the azimuth singularity at zenith.

For antennas
 with a mount different from elevation over azimuth (e.g. x/y mount), the antenna
 pointing shall be converted to the azimuth/elevation presentation. This also applies
 to antennas having a tilt mode as to overcome the zenith track singularity.
-->
	<xsd:complexType name="AntCommandedPointing">
		<xsd:complexContent>
			<xsd:extension base="AntennaPointing"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This parameter configures and reports the azimuth and elevation in 1/1000 degrees
 the antenna shall point to when the pointing-mode is set to 'fixedPosition', where
 for the azimuth 0 degrees corresponds to pointing north and 90 degrees corresponds
 to pointing east while for the elevation 0 degrees corresponds to pointing to the
 horizon and 90 degrees corresponds to zenith pointing. Depending on the way the
 antenna is built, azimuth values above 360 degrees may be reported in cases where
 the antenna enables such azimuth range as to mitigate the cable unwrap issue. Elevation
 values above 90 degrees may be reported in cases where the antenna enables such
 elevation range as to mitigate the azimuth singularity at zenith.

For antennas
 with a mount different from elevation over azimuth (e.g. x/y mount), the antenna
 pointing shall be converted to the azimuth/elevation presentation. This also applies
 to antennas having a tilt mode as to overcome the zenith track singularity.
-->
	<xsd:complexType name="AntContrPointingNamed">
		<xsd:complexContent>
			<xsd:extension base="ApertureStratumType">
				<xsd:sequence>
					<xsd:element name="AntContrPointing" type="AntContrPointing"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.10100.1.5.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="AntContrPointing"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AntContrPointing">
		<xsd:complexContent>
			<xsd:extension base="AntennaPointing"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
The parameter configures and reports the azimuth and elevation angular rates in 1/1000
 degrees per second at which the antenna shall move when antPointingMode is set to
 'slew'. 
-->
	<xsd:complexType name="AntContrAngularRateNamed">
		<xsd:complexContent>
			<xsd:extension base="ApertureStratumType">
				<xsd:sequence>
					<xsd:element name="AntContrAngularRate" type="AntContrAngularRate"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.10100.1.6.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="AntContrAngularRate"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AntContrAngularRate">
		<xsd:sequence>
			<xsd:element name="azimuthAngularRate">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       The engineering unit of this element is 1/1000 degree per second
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="-15000"/>
								<xsd:maxInclusive value="15000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="elevationAngularRate">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       The engineering unit of this element is 1/1000 degree per second
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="-15000"/>
								<xsd:maxInclusive value="15000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter reports the azimuth residual (actual azimuth in closed-loop tracking
 minus the azimuth calculated for antPointingMode = 'programTrack') and the elevation
 residual (actual elevation in closed-loop tracking minus the elevation calculated
 for antPointingMode = 'programTrack') in 1/1000 degrees. Consequently this parameter
 will only be valid if antPointingMode = 'closedLoop'. Antennas not having or not
 being operated in any closed-loop tracking mode cannot provide this parameter and
 in this case the parameter shall be flagged as unavailable. 

Note: Time-tagged
 antenna pointing is regarded a radiometric product and therefore not part of monitoring.
  
-->
	<xsd:complexType name="AntPointingResidual">
		<xsd:sequence>
			<xsd:element name="azimuth">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The engineering unit of this element is 1/1000 degree.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="-540000"/>
								<xsd:maxInclusive value="540000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="elevation">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The engineering unit of this element is 1/1000 degree.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="-180000"/>
								<xsd:maxInclusive value="180000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter reports the azimuth and elevation aberration between the forward beam
 and the return beam in 1/1000 degree. In case the provider applies aberration correction,
 the effect of this correction shall be factored into the aberration values reported.
 
A valid parameter can only be reported if antPointingMode is 'closedLoop' or 'programTrack'.

-->
	<xsd:complexType name="AntPointingAberration">
		<xsd:sequence>
			<xsd:element name="azimuthAberration">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fwdBeamAberration">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
        The engineering unit of this element is 1/1000 degree.
        -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="-1000"/>
											<xsd:maxInclusive value="1000"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="rtnBeamAberration">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
        The engineering unit of this element is 1/1000 degree.
        -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="-1000"/>
											<xsd:maxInclusive value="1000"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="elevationAberration">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fwdBeamAberration">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
        The engineering unit of this element is 1/1000 degree.
        -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="-1000"/>
											<xsd:maxInclusive value="1000"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="rtnBeamAberration">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
        The engineering unit of this element is 1/1000 degree.
        -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="-1000"/>
											<xsd:maxInclusive value="1000"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This enumerated parameter configures and reports the pointing mode of the antenna
 servo system. The values this parameter can take on are:
- 'stow':  the antenna
 is in or is moving to its stow position; the angular rates applied in this case
 are not those specified by the antContrAngularRate parameter, but depend on the
 specifics of the antenna implementation; 
- 'halt':  the antenna has been stopped
 in its current position;
- 'fixedPosition':  the antenna is moving to or has moved
 to the specified azimuth and elevation;
- 'slew':  the antenna is moving at commanded
 angular rates;
- 'programTrack':  the antenna is pointed in accordance with spacecraft
 trajectory predicts;
- 'closedLoop':  the antenna is pointing in closed-loop mode.

Antenna
 implementations will typically support only a subset of the above listed pointing
 modes.
-->
	<xsd:complexType name="AntPointingModeNamed">
		<xsd:complexContent>
			<xsd:extension base="ApertureStratumType">
				<xsd:attribute name="value" type="AntPointingMode" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="AntPointingMode"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.10100.1.9.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="AntPointingMode">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="stow"/>
			<xsd:enumeration value="halt"/>
			<xsd:enumeration value="fixedPosition"/>
			<xsd:enumeration value="slew"/>
			<xsd:enumeration value="programTrack"/>
			<xsd:enumeration value="closedLoop"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the settings applied to 'closedLoop' antenna
 pointing mode, either to monopulse tracking or to conical scan tracking. For conical
 scan the parameter specifies the cone of the conical scan.
-->
	<xsd:complexType name="AntClosedLoopConfigurationNamed">
		<xsd:complexContent>
			<xsd:extension base="ApertureStratumType">
				<xsd:sequence>
					<xsd:element name="AntClosedLoopConfiguration" type="AntClosedLoopConfiguration"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.10100.1.10.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="AntClosedLoopConfiguration"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AntClosedLoopConfiguration">
		<xsd:choice>
			<xsd:element name="monopulse">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       For monopulse tracking no required configuration parameters have been identified.
       -->
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="conicalScan">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       The engineering unit of this element is 1/1000 degrees
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="1"/>
								<xsd:maxInclusive value="5000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter reports the mode in which the return signal is tracked for antenna
 steering provided the antPointingMode = 'closedLoop'. The mode is chosen depending
 on the modulation scheme. 
The values the parameter may have are:
- 'carrierTrackingMode':
  the receiver tracks the remnant carrier by means of a carrier tracking PLL when
 ccsds401CarrierRcptModulationType is either 'subcarrier' or 'direct';
- 'crossCorrelationMode':
  the receiver tracks the return link signal by means of checking for the spectral
 symmetry when ccsds401CarrierRcptModulationType is neither 'subcarrier' nor 'direct'.

-->
	<xsd:simpleType name="AntTrackingRxMode">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="carrierTrackingMode"/>
			<xsd:enumeration value="crossCorrelationMode"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This enumerated parameter configures and reports the nominal polarization and the
 the channel(s) that shall be used for tracking purposes. If 'autoHysteresis' is
 chosen, the parameter specifies how much larger in 1/10 dB the power observed for
 the currently unselected polarization must be before a switch-over to the polarization
 with the stronger signal is performed. If 'combining' is chosen, the parameter specifies
 the bandwidth around the carrier that shall be evaluated to determine the necessary
 phase rotation and gain setting of the two channels for obtaining the best possible
 result from the diversity combining.

If the same receiver is used for telemetry
 reception and antenna steering, setting of this parameter is not possible and the
 value reported by this is a copy of the ccsds401CarrierRcptPolarization parameter
 or a TBD parameter of the CCSDS 415 Return Channel Reception FR Set.
-->
	<xsd:complexType name="AntTrackingSignalPolarizationNamed">
		<xsd:complexContent>
			<xsd:extension base="ApertureStratumType">
				<xsd:sequence>
					<xsd:element name="AntTrackingSignalPolarization" type="AntTrackingSignalPolarization"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.10100.1.12.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="AntTrackingSignalPolarization"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AntTrackingSignalPolarization">
		<xsd:sequence>
			<xsd:element name="nominalPolarization">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="lhc">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="NULL"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="rhc">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="NULL"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="inputSelection">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="lhc">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="NULL"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="rhc">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="NULL"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="autoHysteresis">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The engineering unit of this element is 1/10 dB.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="0"/>
											<xsd:maxInclusive value="100"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="combining">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The engineering unit of this element is Hertz.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="10"/>
											<xsd:maxInclusive value="100000"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter reports the return link signal level in tenth of dBm as observed by
 the tracking receiver, i.e., the signal level derived from the tracking receiver
 AGC reading. The reported value referes to the nominal polarization selected by
 the parameter antTrackingSignalPolarization. As to have comparable, i.e., station
 level plan independent values, the level reading should be calibrated to the LNA
 input. Due to the levels to be expected, the numbers will always be negative.

If
 the same receiver is used for telemetry reception and antenna steering, the value
 reported by this is a copy of the ccsds401CarrierRcptSignalLevel parameter or a
 TBD parameter of the CCSDS 415 Return Channel Reception FR Set.
 
If a tracking
 receiver is not available or not used, this parameter shall be flagged as undefined.
In
 some implementations one receiver may be used both for antenna tracking and reception
 of telemetry and ranging. If so, the parameters of that receiver will be represented
 in both the Antenna FR type and the Rtn401SpaceLinkCarrierRcpt FR type.
-->
	<!--
 The engineering unit of this 1/10 dBm
 -->
	<xsd:simpleType name="AntTrackingRxInpLevel">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-2000"/>
			<xsd:maxInclusive value="-30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the nominal return carrier frequency disregarding
 any Doppler shift. 

If the same receiver is used for telemetry reception and
 antenna steering, setting of this parameter is not possible and the value reported
 by this is a copy of the ccsds401CarrierRcptNominalFreq parameter or a TBD parameter
 of the CCSDS 415 Return Channel Reception FR Set.  

-->
	<!--
 The engineering unit of this parameter is Hertz.
 -->
	<xsd:complexType name="AntTrackingRxNominalFreqNamed">
		<xsd:complexContent>
			<xsd:extension base="ApertureStratumType">
				<xsd:attribute name="value" type="AntTrackingRxNominalFreq" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="AntTrackingRxNominalFreq"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.10100.1.14.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="AntTrackingRxNominalFreq">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="2200000000"/>
			<xsd:maxInclusive value="32300000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the bandwidth in Hz centered around the antTrackingRxNominalFreq,
 possibly corrected for the expected Doppler offset (as configured by the antTrackingRxPredictMode
 parameter) in which the receiver shall search for the carrier signal. This parameter
 is also valid in case of a suppressed carrier modulation scheme.

If the same
 receiver is used for telemetry reception and antenna steering, setting of this parameter
 is not possible and the value reported by this is a copy of the ccsds401CarrierRcptFreqSearchRange
 parameter or a TBD parameter of the CCSDS 415 Return Channel Reception FR Set. 
 
-->
	<!--
 The engineering unit of this parameter is Hertz.
 -->
	<xsd:complexType name="AntTrackingRxFreqSearchRangeNamed">
		<xsd:complexContent>
			<xsd:extension base="ApertureStratumType">
				<xsd:attribute name="value" type="AntTrackingRxFreqSearchRange" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="AntTrackingRxFreqSearchRange"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.10100.1.15.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="AntTrackingRxFreqSearchRange">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="1500000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This enumerated parameter configures and reports for which condition the Doppler
 predicts have been calculated. It can take on four values:
- 'none':  no information
 regarding the expected Doppler shift is available and therefore the nominal frequency
 (see antTrackingRxNominalFreq) is used;
- 'oneWay':  this mode will be used when
 the spacecraft is not locked to a forward link signal or while the spacecraft transponder
 is commanded to non-coherent mode or when the spacecraft receiver is in 'coherency
 enabled' mode and the forward link carrier frequency is ramped such that the Doppler
 on the forward link is compensated, i.e., the spacecraft always 'sees' the nominal
 forward link frequency; in this case it does not matter if the forward link is radiated
 by the same station as the one that is receiving the return link or a different
 station; 
- 'twoWay':  this mode is applied when the spacecraft receiver is commanded
 to 'coherency enabled' mode and the station that is receiving the return link also
 radiates the forward link, the latter at a constant frequency;
- 'threeWay':  this
 mode is applied when the spacecraft receiver is in 'coherency enabled' mode and
 a station different from the one receiving the return link is radiating the forward
 link signal at a known constant frequency.

If the same receiver is used for telemetry
 reception and antenna steering, setting of this parameter is not possible and the
 value reported by this is a copy of the ccsds401CarrierRcptPredictMode parameter
 or a TBD parameter of the CCSDS 415 Return Channel Reception FR Set.  

-->
	<xsd:complexType name="AntTrackingRxPredictModeNamed">
		<xsd:complexContent>
			<xsd:extension base="ApertureStratumType">
				<xsd:attribute name="value" type="AntTrackingRxPredictMode" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="AntTrackingRxPredictMode"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.10100.1.16.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="AntTrackingRxPredictMode">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="oneWay"/>
			<xsd:enumeration value="twoWay"/>
			<xsd:enumeration value="threeWay"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the single-sided tracking loop bandwidth in
 tenth Hz of the receiver. Depending on the mode the tracking receiver operates in,
 this is either the bandwidth of the PLL tracking the remnant carrier or the frequency
 range observed for checking spectral symmetry. 

This parameter also configures
 and reports the duration in seconds within which the bandwidth reduction to a newly
 commanded loop bandwidth shall be reached. This gradual change of the loop bandwidth
 is intended to avoid loss of lock. The duration for the gradual bandwidth change
 can be set to 'auto' or set to a specific duration. If the duration is set to '0',
 the newly commanded bandwidth is applied immediately. 

If the same receiver is
 used for telemetry reception and antenna steering, setting of this parameter is
 not possible and the value reported by this is a copy of the ccsds401CarrierRcptTrackingLoopBwdth
 parameter or a TBD parameter of the CCSDS 415 Return Channel Reception FR Set. 
-->
	<xsd:complexType name="AntTrackingRxLoopBwdthNamed">
		<xsd:complexContent>
			<xsd:extension base="ApertureStratumType">
				<xsd:sequence>
					<xsd:element name="AntTrackingRxLoopBwdth" type="AntTrackingRxLoopBwdth"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.10100.1.17.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="AntTrackingRxLoopBwdth"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AntTrackingRxLoopBwdth">
		<xsd:sequence>
			<xsd:element name="trackingLoopBwdth">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       The engineering unit of this element is 1/10 Hertz
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="1"/>
								<xsd:maxInclusive value="50000000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="loopBwdthChangeDuration">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="auto">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The time during which the bandwidth is gradually changed to the newly set value is chosen automatically.
         -->
									<xsd:simpleType>
										<xsd:restriction base="NULL"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="bwdthChangeDuration">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The engineering unit of this element is second.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="0"/>
											<xsd:maxInclusive value="100"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This enumerated parameter configures and reports the order of the carrier tracking
 loop. It can take on the following values:
- 'first order':  such loop is hardly
 ever used because it has a static phase error even in case of a constant return
 link carrier frequency;
- 'second order' : this is the most commonly used loop
 as it has no static phase error for a constant return link carrier frequency;
-
 'third order' : such configuration may have to be used in case of high Doppler rates,
 as such loop has no static phase error even when the return link carrier frequency
 is sweeping, but initial acquisition is more difficult with such loop. 

If the
 same receiver is used for telemetry reception and antenna steering, setting of this
 parameter is not possible and the value reported by this is a copy of the ccsds401CarrierRcptOrderOfLoop
 parameter or a TBD parameter of the CCSDS 415 Return Channel Reception FR Set. 
-->
	<xsd:complexType name="AntTrackingRxOrderOfLoopNamed">
		<xsd:complexContent>
			<xsd:extension base="ApertureStratumType">
				<xsd:attribute name="value" type="AntTrackingRxOrderOfLoop" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="AntTrackingRxOrderOfLoop"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.10100.1.18.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="AntTrackingRxOrderOfLoop">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="firstOrder"/>
			<xsd:enumeration value="secondOrder"/>
			<xsd:enumeration value="thirdOrder"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the status of the Anti-Side-Band system of
 the tracking receiver. The spectrum is expected to be symmetrical around the carrier.
 In the absence of this symmetry one can conclude that the receiver did not lock
 on the carrier but on some side band and acquisition will be restarted if the antTrackingRxAntiSideBandStat
 is 'enabled'. For very weak signals the wide bandwidth required to check the spectral
 symmetry may prevent signal acquisition due to the reduced sensitivity. Therefore
 the Anti-Side-Band system can be turned off, i.e., antTrackingRxAntiSideBandStat
 is set to 'disabled'. If the receiver does not have an Anti-Side-Band system, the
 reported value shall be 'notApplicable' and configuring of the parameter is prevented
 by the guard condition.      
-->
	<xsd:complexType name="AntTrackingRxAntiSideBandStatNamed">
		<xsd:complexContent>
			<xsd:extension base="ApertureStratumType">
				<xsd:attribute name="value" type="AntTrackingRxAntiSideBandStat" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="AntTrackingRxAntiSideBandStat"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.10100.1.19.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="AntTrackingRxAntiSideBandStat">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="enabled"/>
			<xsd:enumeration value="disabled"/>
			<xsd:enumeration value="notApplicable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the SNR threshold of the received signal at
 which the transition from the antPointingMode from 'fixedPosition' to 'closedLoop'
 or 'programTrack' shall occur. In case of the transition to 'programTrack' the time
 offset observed for the signal acquisition is applied when accessing the trajectory
 predicts.

In case of a remnant carrier, the threshold specifies the carrier power
 to spectral noise density ratio in dBHz. In case of the carrier being suppressed,
 the threshold specifies the data power to spectral noise density ratio in dBHz.

This
 parameter is used for contingency acquisition, i.e., when the spacecraft trajectory
 is somewhat uncertain and the spacecraft may be early or late with respect to the
 time when signal acquisition at the antenna 'fixedPosition' pointing was expected.
      
-->
	<!--
 The engineering unit is dBHz.
 -->
	<xsd:complexType name="AntAcqThresholdNamed">
		<xsd:complexContent>
			<xsd:extension base="ApertureStratumType">
				<xsd:attribute name="value" type="AntAcqThreshold" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="AntAcqThreshold"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.10100.1.20.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="AntAcqThreshold">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This enumerated parameter reports the lock status of the receiver and as such is
 only supported by antennas that are configured to operate in antPointingMode = 'closedLoop'
 mode. The values the parameter may have are:
- 'notLocked':  the tracking receiver
 is not locked on the return link signal and therefore cannot drive the antenna pointing;
 
- 'locked':  the tracking receiver has locked on the return link signal and consequently
 is driving the antenna pointing.

When the receiver loses lock, the antPointingMode
 will change to 'programTrack' and won't return to 'closedLoop' until receiver lock
 is (re-)acquired. 

If the same receiver is used for telemetry reception and antenna
 steering, the value reported by this is a copy of the element carrierLock of the
 ccsds401CarrierRcptCarrierLockStat parameter or a TBD parameter of the CCSDS 415
 Return Channel Reception FR Set. 
-->
	<xsd:simpleType name="AntTrackingRxLockStat">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="notLocked"/>
			<xsd:enumeration value="locked"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the length in seconds of the period during
 which the wind speed and peak wind speed are observed for the calculation of the
 antMeanWindSpeed and antPeakWindSpeed parameters.
-->
	<!--
 The engineering unit of this parameter is seconds.
 -->
	<xsd:complexType name="AntWindIntegrationTimeNamed">
		<xsd:complexContent>
			<xsd:extension base="ApertureStratumType">
				<xsd:attribute name="value" type="AntWindIntegrationTime" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="AntWindIntegrationTime"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.10100.1.22.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="AntWindIntegrationTime">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="3600"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the wind speed as observed close to the antenna. This parameter
 is measured in tenth m/s and averaged over the most recent period where the length
 of the period is specified by the antWindIntegrationTime parameter.
-->
	<!--
 The engineering unit of this parameter is 1/10 meter per second.
 -->
	<xsd:simpleType name="AntMeanWindSpeed">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the highest wind speed observed close to the antenna during
 the most recent period where the length of the period is specified by the antWindIntegrationTime
 parameter. This parameter is measured in tenth m/s.
-->
	<!--
 The engineering unit of this parameter is 1/10 meter per second.
 -->
	<xsd:simpleType name="AntPeakWindSpeed">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the current wind direction in degrees, where 0 degrees corresponds
 to north and 90 degrees to east.
-->
	<!--
 The engineering unit of this parameter is degree.
 -->
	<xsd:simpleType name="AntWindDirection">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="359"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the amount of precipitation in mm that accumulated since 0:00
 UTC of the current day.
-->
	<!--
 The engineering unit of this parameter is millimeter.
 -->
	<xsd:simpleType name="AntAccumulatedPrecipitation">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="2400"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the precipitation rate in mm/h as observed during the most
 recent hour.
-->
	<!--
 The engineering unit of this parameter is millimeter per hour.
 -->
	<xsd:simpleType name="AntPrecipitationRate">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the relative humidity in % as observed by an outdoor meteorological
 sensor close to the antenna. This parameter shall be flagged as invalid if the value
 from the meteo unit is invalid and it shall be flagged as unavailable if this parameter
 is not available at this time.
Note: Time-tagged meteo data (relative humidity,
 atmospheric pressure, temperature) is regarded a radiometric product and therefore
 not part of the monitoring data.
-->
	<!--
 The engineering unit of this parameter is percent.
 -->
	<xsd:simpleType name="AntRelativeHumidity">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the atmospheric pressure in hPa as observed by an outdoor
 meteorological sensor at the station. This parameter shall be flagged as invalid
 if the value from the meteo unit is invalid and it shall be flagged as unavailable
 if this parameter is not available at this time.
-->
	<!--
 The engineering unit of this parameter is 100 Pascal (hPa).
 -->
	<xsd:simpleType name="AntAtmosphericPressure">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="800"/>
			<xsd:maxInclusive value="1100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the temperature in °C as observed by an outdoor meteorological
 sensor at the station. This parameter shall be flagged as invalid if the value from
 the meteo unit is invalid and it shall be flagged as unavailable if this parameter
 is not available at this time.
-->
	<!--
 The engineering unit of this parameter is degree Celsius.
 -->
	<xsd:simpleType name="AntAmbientTemperature">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-100"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This event notifies any change of the antResourceStat parameter value.
-->
	<!--
The event value reports the antResourceStat parameter value that applies since the
 notified antResourceStatChange event occurred.
-->
	<xsd:simpleType name="AntResourceStatChangeEvtValue">
		<xsd:restriction base="AntResourceStat"/>
	</xsd:simpleType>
	<!--
This event notifies any change of the antTrackingRxLockStat parameter.
-->
	<!--
The event value reports the antTrackingRxLockStat that applies since the notified
 antTrackingRxLockStatChange event occurred.
-->
	<xsd:simpleType name="AntTrackingRxLockStatChangeEvtValue">
		<xsd:restriction base="AntTrackingRxLockStat"/>
	</xsd:simpleType>
	<!--
This event notifies that gusts exceed the nominal wind speed the antenna can withstand
 in operation and therefore the antenna may have to or will be moved to its stow
 position.
-->
	<!--
The event value reports if the wind condition is critical in the sense that stowing
 of the antenna might become necessary ('warning') or that the wind speed necessitates
 the immediate stowing of the antenna ('stowing').
-->
	<xsd:simpleType name="AntWindSpeedWarningEvtValue">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="stowing"/>
			<xsd:enumeration value="warning"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This event passes text messages intended for logs and/or operators involved in the
 service provision. 
-->
	<!--
The messages passed by means of the antOperatorNotify event are classified in terms
 of severity as 'info', 'warning' or 'alarm'. To simplify filtering and searching
 for specific messages, a unique numerical identifier is assigned to each message
 string. The messages are free text such that equipment specific issues can be reported.
 
-->
	<xsd:complexType name="AntOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the Antenna FR type.
 
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the Antenna
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.
-->
	<xsd:complexType name="AntContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
