SanaRegistry/Ccsds401SpaceLinkCarrierXmit.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
The Ccsds401SpaceLinkCarrierXmit FR accepts as input for modulation of the carrier
 the optionally convolutionally encoded physical channel symbol stream from the FlfFrameSyncChnEncodeAndOidGen
 FR or from the TcPlopSyncAndChnlEncode FR. It also accepts from the RngXmit FR the
 ranging signal for modulation of the carrier.
The Ccsds401SpaceLinkCarrierXmit
 FR provides the to be radiated carrier signal to the antenna FR and the actual carrier
 frequency and phase to the NonValRmDataCollection FR. 	
-->
	<xsd:element name="Ccsds401SpaceLinkCarrierXmitElement" type="Ccsds401SpaceLinkCarrierXmitType" substitutionGroup="PhysicalChannelStratumParameters"/>
	<xsd:complexType name="Ccsds401SpaceLinkCarrierXmitType">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:all>
					<xsd:element name="ccsds401CarrierXmitPhysChnlName" type="Ccsds401CarrierXmitPhysChnlNameNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierXmitStat" type="Ccsds401CarrierXmitStatNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierXmitEirp" type="Ccsds401CarrierXmitEirpNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierXmitPolarization" type="Ccsds401CarrierXmitPolarizationNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierXmitNominalCarrierFreq" type="Ccsds401CarrierXmitNominalCarrierFreqNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierXmitSweepProcStat" type="Ccsds401CarrierXmitSweepProcStatNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierXmitSweepProfile" type="Ccsds401CarrierXmitSweepProfileNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierXmitMod" type="Ccsds401CarrierXmitModNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierXmitTcPriority" type="Ccsds401CarrierXmitTcPriorityNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierXmitSymbolStreamModType" type="Ccsds401CarrierXmitSymbolStreamModTypeNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierXmitRngModIndex" type="Ccsds401CarrierXmitRngModIndexNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierXmitSubcarrierMod" type="Ccsds401CarrierXmitSubcarrierModNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20100"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the ccsds401SpaceLinkCarrierXmit FR resource status
 and can take on four values:
- 'configured':  the transmit equipment has been configured
 and, if applicable, the warm-up is completed, but the carrier has not been brought
 up or has been taken down;
- 'operational':  the transmit link is active, i.e.,
 the carrier is up;
- 'interrupted':  a failure has been detected, e.g. carrier
 still on outside the transmission mask, that resulted in the carrier being shut
 down;
- 'halted':  the transmit link has been taken out of service, e.g. due to
 failed HPA cooling or, if applicable, the warm-up of the HPA is not yet completed
 and therefore the carrier can not yet be brought up.
-->
	<xsd:simpleType name="Ccsds401CarrierXmitResourceStat">
		<xsd:restriction base="ResourceStat"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the name assigned to the physical transmission
 channel. This name is a Visible String which has a length of 1 to 32 characters.
-->
	<xsd:complexType name="Ccsds401CarrierXmitPhysChnlNameNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierXmitPhysChnlName" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierXmitPhysChnlName"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20100.1.2.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierXmitPhysChnlName">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This enumerated parameter configures and reports the current state of the carrier
 radiation and can take on three values:
- 'nonRadiating':  the carrier is presently
 down, i.e., no signal is being radiated;
- 'radiatingIntoSpace':  the carrier is
 presently up and the signal is radiated via the antenna;
- 'radiatingIntoTestLoad':
  the carrier is presently up and the signal is radiated into the water load.
-->
	<xsd:complexType name="Ccsds401CarrierXmitStatNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierXmitStat" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierXmitStat"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20100.1.3.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierXmitStat">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="nonRadiating"/>
			<xsd:enumeration value="radiatingIntoSpace"/>
			<xsd:enumeration value="radiatingIntoTestLoad"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the current transmit link signal level expressed
 as Equivalent Isotropically Radiated Power (EIRP) in dBW.
-->
	<!--
 The engineering unit of this parameter is dBW.
 -->
	<xsd:complexType name="Ccsds401CarrierXmitEirpNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierXmitEirp" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierXmitEirp"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20100.1.4.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierXmitEirp">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This enumerated parameter configures and reports the configured transmit link polarization
 and can take on two values:
- 'lcp':  the carrier is radiated with left hand circular
 polarization;
- 'rcp':  the carrier is radiated in right hand circular polarization.
Note:
 Polarization is defined from the point of view of the source, i.e., in the direction
 of the wave propagation.
-->
	<xsd:complexType name="Ccsds401CarrierXmitPolarizationNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierXmitPolarization" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierXmitPolarization"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20100.1.5.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierXmitPolarization">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="lhc"/>
			<xsd:enumeration value="rhc"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the nominal transmit link frequency in Hz and
 - if known - the observed best-lock-frequency of the spacecraft receiver in terms
 of offset from the nominal transmit frequenccy. Furthermore, the parameter configures
 and reports if the transmit link frequency shall be ramped to compensate the oneWay
 Doppler offset and rate.
-->
	<!--
 The engineering unit of this parameter is Hertz / none.
 -->
	<xsd:complexType name="Ccsds401CarrierXmitNominalCarrierFreqNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:sequence>
					<xsd:element name="Ccsds401CarrierXmitNominalCarrierFreq" type="Ccsds401CarrierXmitNominalCarrierFreq"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20100.1.6.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierXmitNominalCarrierFreq"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Ccsds401CarrierXmitNominalCarrierFreq">
		<xsd:sequence>
			<xsd:element name="nominalAndBlfXmitFreq">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nominalXmitFreq">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The engineering unit is Hz.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="2025000000"/>
											<xsd:maxInclusive value="40500000000"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="blfOffset" minOccurs="0">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The engineering unit is Hz
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="-10000"/>
											<xsd:maxInclusive value="10000"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="xmitLinkRamping">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="rampingOff"/>
								<xsd:enumeration value="rampingOn"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter reports the currently measured transmit frequency in Hz. In general,
 the frequency will be constant, except during the transmit link sweep and for Category
 B missions in case the transmit link is being ramped to compensate the Doppler shift
 and rate on the transmit link.
-->
	<!--
 The engineering unit of this parameter is Hertz.
 -->
	<xsd:simpleType name="Ccsds401CarrierXmitActualCarrierFreq">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="2015000000"/>
			<xsd:maxInclusive value="40500000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This enumerated parameter reports if the frequency generation of the FR is locked
 to a reference frequency or free running. It can take on the values
- 'noRefFreqAvailable';
-
 'lockedToRefFreq'.
-->
	<xsd:simpleType name="Ccsds401CarrierXmitReferenceFreqLock">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="noRefFreqAvailable"/>
			<xsd:enumeration value="lockedToRefFreq"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This enumerated parameter configures and reports the current state of the carrier
 sweep and can take on two values:
- 'active':  the carrier is presently being swept;
-
 'not active':  the carrier is presently not being swept, i.e., the nominal frequency
 possibly compensated for Doppler and offset in accordance with the spacecraft receiver's
 BLF is being radiated. 
Modulation shall be forced off, whenever the sweep is active.
 In case the transmit link frequency is being ramped to compensate Doppler shift
 and rate on the transmit link (Category B missions only), this is not regarded to
 be a sweep.
The sweep procedure is started by setting the ccsds401CarrierXmitSweepProcStat
 parameter to 'active' by means of the ccsds401CarrierXmitSetContrParams directive.
 Once the sweep procedure as specified by the parameter ccsds401CarrierXmitSweepProfile
 is completed, the ccsds401CarrierXmitSweepProcStat parameter is set automatically
 to 'notActive' and modulation by data and ranging is (re-)enabled. 
If necessary,
 the sweep procedure while executing can be stopped by setting the ccsds401CarrierXmitSweepProcStat
 parameter to 'notActive' using the ccsds401CarrierXmitSetContrParams directive.
 In that case the transmit link carrier frequency jumps back to the frequency set
 by the ccsds401CarrierXmitNominalCarrierFreq parameter, compensated for oneWay Doppler
 and BLF offset  if so configured.
-->
	<xsd:complexType name="Ccsds401CarrierXmitSweepProcStatNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierXmitSweepProcStat" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierXmitSweepProcStat"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20100.1.9.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierXmitSweepProcStat">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="active"/>
			<xsd:enumeration value="notActive"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameters reports the progress of the sweep procedure if that procedure is
 active. The progress is reported in terms of the number of the sweep leg being performed,
 the time until the current leg including the dwell time will be completed and the
 time until all legs will have been performed.   
-->
	<xsd:complexType name="Ccsds401CarrierXmitSweepProgress">
		<xsd:sequence>
			<xsd:element name="numberOfCurrentLeg">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The engineering unit is N/A
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="1"/>
								<xsd:maxInclusive value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="timeToLegCompletion">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The engineering unit is second
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="1"/>
								<xsd:maxInclusive value="900"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="timeToSweepCompletion">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The engineering unit is second
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="1"/>
								<xsd:maxInclusive value="3600"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This complex parameter configures and reports the start frequency ('startFreq') in
 Hz of the first leg of the sweep and for each leg it then specifies the end frequency
 ('endFreq') in Hz, the sweep rate ('sweepRate') in Hz/s and the duration of the
 dwell time ('dwellTime') in seconds (i.e., the time during which the carrier frequency
 is not changed) before the next leg is started or for the last leg when carrier
 modulation will be enabled. The assumption is that there are no frequency discontinuities,
 i.e., the start frequency of a sweep leg is always equal to the end frequency of
 the previous leg.

If parameter ccsds401CarrierXmitNominalCarrierFreq is configured
 such that by means of ramping of the transmit link frequency the oneWay Doppler
 is compensated, then the specified sweep profile frequencies will be modified automatically
 in accordance with the Doppler offset applicable at the given time.

If parameter
 ccsds401CarrierXmitNominalCarrierFreq specifies the offset of the spacecraft receiver's
 best-lock-frequency from the nominal carrier frequency, then the specified sweep
 profile frequencies will be modified automatically by that offset.

The end frequency
 of the last leg must be the nominal carrier frequency, possibly offset by ramping
 and for the spacecraft receiver's best-lock-frequency.

If desired, the ccsds401CarrierXmitSweepProfile
 can also be configured to accomplish a tune-out tune-in station handover such that
 at the incoming ESLT no sweep needs to be performed. Rather, the spacecraft receiver
 stays locked.
-->
	<xsd:complexType name="Ccsds401CarrierXmitSweepProfileNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:sequence>
					<xsd:element name="Ccsds401CarrierXmitSweepProfile" type="Ccsds401CarrierXmitSweepProfile"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20100.1.11.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierXmitSweepProfile"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Ccsds401CarrierXmitSweepProfile">
		<xsd:sequence>
			<xsd:element name="startfreq">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       The engineering unit of this parameter is Hertz.
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="2025000000"/>
								<xsd:maxInclusive value="40500000000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sweepLegs">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="5">
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="dwellTime">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
            The engineering unit of this parameter is second
            -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="0"/>
														<xsd:maxInclusive value="20"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="sweepRate">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
            The engineering unit of this parameter is Hertz per second.
            -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="1"/>
														<xsd:maxInclusive value="32000"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="endFreq">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
            The engineering unit of this parameter is Hertz.
            -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="2025000000"/>
														<xsd:maxInclusive value="40500000000"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This enumerated parameter configures and reports the current state of the carrier
 modulation and can take on two values:
- 'off':  the carrier is presently not being
 modulated;
- 'on':  the carrier is presently being modulated.

Note: This parameter
 reports the modulation being off also when this is not explicitly commanded, e.g.
 when it is forced to 'off' automatically because the transmit link sweep is active
 (ccsds401CarrierXmitSweepProcStat = 'active').
-->
	<xsd:complexType name="Ccsds401CarrierXmitModNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierXmitMod" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierXmitMod"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20100.1.12.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierXmitMod">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="off"/>
			<xsd:enumeration value="on"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the status of the two modulator inputs for TC and Rng. Both
 will be disabled when ccsds401CarrierXmitMod = 'off' or ccsds401CarrierXmitSweepProcStat
 = 'active'. The TC input will be enabled when ccsds401CarrierXmitMod = 'on' and
 ccsds401CarrierXmitSweepProcStat = 'notActive'. The Rng input will be enabled under
 the same conditions except if the TC input is being used and ccsds401CarrierXmitTcPriority
 = 'yes'. 
-->
	<xsd:complexType name="Ccsds401CarrierXmitModInpStat">
		<xsd:sequence>
			<xsd:element name="tcInp">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="disabled"/>
								<xsd:enumeration value="enabled"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rngInp">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="disabled"/>
								<xsd:enumeration value="enabled"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This enumerated parameter configures and reports if the ranging signal shall be suppressed
 in the presence of a to be radiated telecommand signal. It can take on the values:
-
 'yes';
- 'no'.
-->
	<xsd:complexType name="Ccsds401CarrierXmitTcPriorityNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierXmitTcPriority" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierXmitTcPriority"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20100.1.14.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierXmitTcPriority">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports whether (1) the symbol stream directly bpsk
 modulates the transmit carrier such that the carrier is suppressed or (2) directly
 bi-phase modulates the carrier such that there is a remnant carrier or (3) bpsk
 modulates a subcarrier that in turn modulates the carrier. It can take on the following
 values:
- 'bpsk':  the carrier is bpsk modulated by the input data symbol stream;
 
- 'direct':  the carrier is directly bi-phase modulated by the input data symbol
 stream;
- 'subcarrier':  the carrier modulating signal is the subcarrier which
 in turn is BPSK modulated by the to be radiated symbol stream.
For all three modulation
 options the parameter specifies if the Doppler shift of the symbol stream shall
 be compensated and if so, if a fixed offset (in 1/10000 Hz) shall be applied or
 if the symbol rate shall be continuously updated (ramped) such that the spacecraft
 does not "see" any Doppler shift of the symbol rate. Given that CCSDS 401.0 prescribes
 that subcarrier and symbol rate have to be coherent, the subcarrier if applicable
 is Doppler shift compensated in the same way as the symbol rate.
As applicable,
 the nominal symbol rate (in 1/10000 Hz) and nominal subcarrier frequency (in 1/10000
 Hz) and the associated modulation index (in 1/100 rad) are specified.
-->
	<xsd:complexType name="Ccsds401CarrierXmitSymbolStreamModTypeNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:sequence>
					<xsd:element name="Ccsds401CarrierXmitSymbolStreamModType" type="Ccsds401CarrierXmitSymbolStreamModType"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20100.1.15.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierXmitSymbolStreamModType"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Ccsds401CarrierXmitSymbolStreamModType">
		<xsd:sequence>
			<xsd:element name="symbolRateDopplerCompensation">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="noCompensation">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="NULL"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="staticOffset">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The engineering unit of this parameter is 1/1000 Hertz.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="-30000000"/>
											<xsd:maxInclusive value="30000000"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ramping">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         Given that CCSDS requires coherency of subcarrier and symbol clock, ramping of the symbol rate implies that also the subcarrier frequency is ramped, in case a subcarrier is used.
         -->
									<xsd:simpleType>
										<xsd:restriction base="NULL"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="modType">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="bpsk">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="bandpassFilter">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           The filter may be of the type Square Root Raised Cosine, 6-pole Butterworth, or equivalent provided that the spectral mask limits are respected.
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:token">
														<xsd:enumeration value="notApplied"/>
														<xsd:enumeration value="applied"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="bpskSymbolRateAndPcmFormat">
										<xsd:complexType>
											<xsd:choice>
												<xsd:element name="ccsds">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="symbolRate">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:pattern value="100000000|200000000|400000000|800000000|1600000000|3200000000|6400000000|12800000000|25600000000|51200000000|102400000000|204800000000"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="pcmFormat">
																<xsd:complexType>
																	<xsd:attribute name="value" type="PcmFormat" use="required"/>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="nonCcsds">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="symbolRate">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:minInclusive value="100000000"/>
																				<xsd:maxInclusive value="204800000000"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="pcmFormat">
																<xsd:complexType>
																	<xsd:attribute name="value" type="PcmFormat" use="required"/>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:choice>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="direct">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="symbolStreamDirectModulationIndex">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           The engineering unit of this parameter is 1/100 radian
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="20"/>
														<xsd:maxInclusive value="140"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="directSymbolRateAndPcmFormat">
										<xsd:complexType>
											<xsd:choice>
												<xsd:element name="ccsds">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="symbolRate">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:pattern value="400000000|800000000|1600000000|3200000000|6400000000|12800000000|25600000000"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="pcmFormat">
																<xsd:complexType>
																	<xsd:attribute name="value" type="PcmFormat" use="required"/>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="nonCcsds">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="symbolRate">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:minInclusive value="400000000"/>
																				<xsd:maxInclusive value="25600000000"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="pcmFormat">
																<xsd:complexType>
																	<xsd:attribute name="value" type="PcmFormat" use="required"/>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:choice>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="subcarrier">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="subcarrierFreqSymbolRateAndPcmFormat">
										<xsd:complexType>
											<xsd:choice>
												<xsd:element name="ccsds">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="subcarrierFreqAndSymbolRate">
																<xsd:complexType>
																	<xsd:choice>
																		<xsd:element name="subcarrier8Khz">
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element name="subcarrierNominalFrequency">
																						<xsd:complexType>
																							<xsd:attribute name="value" use="required">
																								<!--
                   The engineering unit of this parameter is 1/100000 Hertz.
                   -->
																								<xsd:simpleType>
																									<xsd:restriction base="xsd:integer">
																										<xsd:pattern value="800000000"/>
																									</xsd:restriction>
																								</xsd:simpleType>
																							</xsd:attribute>
																						</xsd:complexType>
																					</xsd:element>
																					<xsd:element name="nominalSymbolRate">
																						<xsd:complexType>
																							<xsd:attribute name="value" use="required">
																								<!--
                   The engineering unit of this parameter is 1/100000 Hertz.
                   -->
																								<xsd:simpleType>
																									<xsd:restriction base="xsd:integer">
																										<xsd:pattern value="781250|1562500|3125000|6250000|12500000|25000000|50000000|100000000|200000000"/>
																									</xsd:restriction>
																								</xsd:simpleType>
																							</xsd:attribute>
																						</xsd:complexType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="subcarrier16Khz">
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element name="subcarrierNominalFrequency">
																						<xsd:complexType>
																							<xsd:attribute name="value" use="required">
																								<!--
                   The engineering unit of this parameter is 1/100000 Hertz.
                   -->
																								<xsd:simpleType>
																									<xsd:restriction base="xsd:integer">
																										<xsd:pattern value="1600000000"/>
																									</xsd:restriction>
																								</xsd:simpleType>
																							</xsd:attribute>
																						</xsd:complexType>
																					</xsd:element>
																					<xsd:element name="nominalSymbolRate">
																						<xsd:complexType>
																							<xsd:attribute name="value" use="required">
																								<!--
                   The engineering unit of this parameter is 1/100000 Hertz
                   -->
																								<xsd:simpleType>
																									<xsd:restriction base="xsd:integer">
																										<xsd:pattern value="781250|1562500|3125000|6250000|12500000|25000000|50000000|100000000|200000000|400000000"/>
																									</xsd:restriction>
																								</xsd:simpleType>
																							</xsd:attribute>
																						</xsd:complexType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:choice>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="pcmFormat">
																<xsd:complexType>
																	<xsd:attribute name="value" type="PcmFormat" use="required"/>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="nonCcsds">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="nominalSubcarrierFrequency">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
               The engineering unit of this parameter is 1/100000 Hertz.
               -->
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:minInclusive value="800000000"/>
																				<xsd:maxInclusive value="1600000000"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="nominalSymbolRate">
																<!--
            The engineering unit of this parameter is 1/100000 Hertz.
            -->
																<xsd:complexType>
																	<xsd:choice>
																		<xsd:element name="nonCoherent">
																			<xsd:complexType>
																				<xsd:attribute name="value" use="required">
																					<!--
                 The engineering unit of this element is 1/10000 symbols per second.
                 -->
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:integer">
																							<xsd:minInclusive value="781250"/>
																							<xsd:maxInclusive value="400000000"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="coherent">
																			<xsd:complexType>
																				<xsd:attribute name="value" use="required">
																					<!--
                 This element specifies the integer divisor of the subcarrier frequency for specifying the symbol rate in symbols per second.
                 -->
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:integer">
																							<xsd:minInclusive value="4"/>
																							<xsd:maxInclusive value="2048"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:choice>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="pcmFormat">
																<xsd:complexType>
																	<xsd:attribute name="value" type="PcmFormat" use="required"/>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:choice>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="subcarrierModIndex">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           The engineering unit of this parameter is 1/100 radian.
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="20"/>
														<xsd:maxInclusive value="140"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter configures and reports the peak modulation index for the ranging signal
 in 1/100 radians. If the ccsds401CarrierXmitSymbolStreamModType is 'bpsk', concurrent
 transmission of telecommands and ranging signals is not possible.
-->
	<!--
 The engineering unit of this parameter is 1/100 radian.
 -->
	<xsd:complexType name="Ccsds401CarrierXmitRngModIndexNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:sequence>
					<xsd:element name="Ccsds401CarrierXmitRngModIndex" type="Ccsds401CarrierXmitRngModIndex"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20100.1.16.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierXmitRngModIndex"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Ccsds401CarrierXmitRngModIndex">
		<xsd:sequence>
			<xsd:element name="duringAmbiguityResolution">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       The engineering unit of this element is 1/100 radian.
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="140"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="afterAmbiguityResolution">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       The engineering unit of this element is 1/100 radian
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="140"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter reports the actual subcarrier frequency in 1/1000 Hz.  The fine resolution
 is specified here as to enable reporting of the fine tuning of the subcarrier frequency
 in cases where Doppler shift compensation is applied. In case that no subcarrier
 is used (modType element of ccsds401CarrierXmitSymbolStreamModType ≠ 'subcarrier'),
 this parameter shall report '0'.  
Note: The specified range is intended to also
 cover the case of missions not conformant with CCSDS. 
-->
	<!--
 The engineering unit of this parameter is 1/10000 Hertz
 -->
	<xsd:simpleType name="Ccsds401CarrierXmitSubcarrierFreq">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="320000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This enumerated parameter configures and reports if the subcarrier is currently being
 modulated by the TC symbol stream and can take on two values:
- 'off':  the subcarrier
 is currently not being modulated;
- 'on':  the subcarrier is currently being modulated.

In
 case no subcarrier is used (mod type element of ccsds401CarrierXmitSymbolStreamModType
 ≠ subcarrier'), this parameter shall be flagged as undefined.
-->
	<xsd:complexType name="Ccsds401CarrierXmitSubcarrierModNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierXmitSubcarrierMod" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierXmitSubcarrierMod"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20100.1.18.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierXmitSubcarrierMod">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="off"/>
			<xsd:enumeration value="on"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the actual transmit link symbol rate in 1/10000 Hz, 
-->
	<!--
 The engineering unit of this parameter is 1/10000 Hertz.
 -->
	<xsd:simpleType name="Ccsds401CarrierXmitSymbolRate">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="78125"/>
			<xsd:maxInclusive value="204800000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This event notifies any change of the ccsds401CarrierXmitResourceStat parameter value.
-->
	<!--
The event value reports the ccsds401CarrierXmitResourceStat parameter value that
 applies since the notified ccsds401CarrierXmitResourceStatChange event has occurred.
-->
	<xsd:simpleType name="Ccsds401CarrierXmitResourceStatChangeEvtValue">
		<xsd:restriction base="Ccsds401CarrierXmitResourceStat"/>
	</xsd:simpleType>
	<!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
	<!--
The messages passed by means of the ccsds401CarrierXmitOperatorNotify event are classified
 in terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and
 searching for specific messages, a unique numerical identifier is assigned to each
 message string. The messages are free text such that equipment specific issues can
 be reported. 
-->
	<xsd:complexType name="Ccsds401CarrierXmitOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the Ccsds401SpaceLinkCarrierXmit
 FR type. 
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the Ccsds401SpaceLinkCarrierXmit
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.

-->
	<xsd:complexType name="Ccsds401CarrierXmitContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
