SanaRegistry/Ccsds401SpaceLinkCarrierRcpt.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
The Ccsds401SpaceLinkCarrierRcpt FR accepts as input the carrier signal from the
 Antenna FR. It provides the symbol stream demodulated from the return link space
 link RF carrier to the FlfSyncAndChnlDecode FR. It provides observables needed for
 the creation of radiometric data to the RangeAndDopplerExtraction FR.
-->
	<xsd:element name="Ccsds401SpaceLinkCarrierRcptElement" type="Ccsds401SpaceLinkCarrierRcptType" substitutionGroup="PhysicalChannelStratumParameters"/>
	<xsd:complexType name="Ccsds401SpaceLinkCarrierRcptType">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:all>
					<xsd:element name="ccsds401CarrierRcptPhysChnlName" type="Ccsds401CarrierRcptPhysChnlNameNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptModType" type="Ccsds401CarrierRcptModTypeNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptPolarization" type="Ccsds401CarrierRcptPolarizationNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptPredictedSignalLevel" type="Ccsds401CarrierRcptPredictedSignalLevelNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptNominalFreq" type="Ccsds401CarrierRcptNominalFreqNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptTransponderRatio" type="Ccsds401CarrierRcptTransponderRatioNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptFreqSearchRange" type="Ccsds401CarrierRcptFreqSearchRangeNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptPredictMode" type="Ccsds401CarrierRcptPredictModeNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptTrackingLoopBwdth" type="Ccsds401CarrierRcptTrackingLoopBwdthNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptOrderOfLoop" type="Ccsds401CarrierRcptOrderOfLoopNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptAntiSideBandStat" type="Ccsds401CarrierRcptAntiSideBandStatNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptNominalSubcarrierFreq" type="Ccsds401CarrierRcptNominalSubcarrierFreqNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptSubcarrierDemodLoopBwdth" type="Ccsds401CarrierRcptSubcarrierDemodLoopBwdthNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptNominalSymbolRate" type="Ccsds401CarrierRcptNominalSymbolRateNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptSymbolSynchronizerLoopBwdth" type="Ccsds401CarrierRcptSymbolSynchronizerLoopBwdthNamed" minOccurs="0"/>
					<xsd:element name="ccsds401CarrierRcptPredictedEsOverNo" type="Ccsds401CarrierRcptPredictedEsOverNoNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the csds401SpaceLinkCarrierRcpt resource status
 and can take on four values:
- 'configured':  the carrier reception equipment has
 been configured and the antenna moved to point, but due to geometry or spacecraft
 timeline, no carrier signal is expected to be seen at this time;
- 'operational':
  the carrier reception is active, i.e., all receiving equipment is in nominal condition,
 the expected AOS time has passed and the expected LOS has not been reached;
- 'interrupted':
  a failure has been detected, e.g. a receiver malfunction that prevents the reception
 of the carrier signal;
- 'halted':  the carrier reception has been taken out of
 service, e.g. because the end of the pass has been reached. 
-->
	<xsd:simpleType name="Ccsds401CarrierRcptResourceStat">
		<xsd:restriction base="ResourceStat"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the name assigned to the physical channel being
 received. This name is a Visible String which has a length of 1 to 32 characters.
-->
	<xsd:complexType name="Ccsds401CarrierRcptPhysChnlNameNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierRcptPhysChnlName" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptPhysChnlName"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.2.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierRcptPhysChnlName">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the carrier modulation type and the associated
 parameters of the carrier being received. The following options are selectable:
-
 'subcarrier':  the symbol stream BPSK modulates a subcarrier which in turn phase
 modulates the carrier;
- 'direct':  the symbol stream directly bi-phase-L modulates
 the carrier with a modulation index resulting in a remnant carrier.
- 'bpsk': 
 the symbol stream bpsk modulates the carrier which means that the carrier is suppressed.
-
 'qpsk':  the quadrature phase shift keying uses four phase constellation points
 so that each constellation point represents two symbols of the modulating symbol
 stream. The carrier is suppressed.
- 'oqpsk':  as qpsk, offset quadrature phase
 shift keying uses four phase constellation points, but the modulation by the odd
 and even symbol are offset by one symbol time which prevents the occurrence of 180°
 phase shifts. 
- 'gmsk':  the symbol stream is passed through a Gaussian filter
 and then modulates the carrier by means of minimum-shift-keying. This suppresses
 the carrier.
-->
	<xsd:complexType name="Ccsds401CarrierRcptModTypeNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:sequence>
					<xsd:element name="Ccsds401CarrierRcptModType" type="Ccsds401CarrierRcptModType"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.3.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptModType"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Ccsds401CarrierRcptModType">
		<xsd:choice>
			<xsd:element name="subcarrier">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="symbolRate">
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="ccsdsSubcarrierFrequencySymbolRateRatio">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           The applicable subcarrier frequency is specified by the parameter ccsds401CarrierRcptNominalSubcarrierFreq.
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="2"/>
														<xsd:maxInclusive value="1024"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="nonCcsdsAbsoluteSymbolRate">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           The engineering unit of this element is 1/1000 symbols per second.
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="1000"/>
														<xsd:maxInclusive value="32000000"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="subcarrierWaveform">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:token">
											<xsd:enumeration value="square"/>
											<xsd:enumeration value="sine"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="modIndexTelemetry">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The engineering unit of this element is 1/100 radian.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="1"/>
											<xsd:maxInclusive value="150"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="pcmFormat">
							<xsd:complexType>
								<xsd:attribute name="value" type="PcmFormat" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="direct">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="symbolRate">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The engineering unit of this parameter is 1/1000 symbols per second.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="modIndexTelemetry">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The engineering unit of this parameter is 1/100 radian.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="1"/>
											<xsd:maxInclusive value="150"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="pcmFormat">
							<xsd:complexType>
								<xsd:attribute name="value" type="PcmFormat" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bpsk">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="symbolRate">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The engineering unit of this parameter is 1/1000 symbols per second.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="pcmFormat">
							<xsd:complexType>
								<xsd:attribute name="value" type="PcmFormat" use="required"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="matchedFilter">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         Enable or disable the square-root raised cosine matched filter depending on the filtering applied on the spacecraft side.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:token">
											<xsd:enumeration value="matchedFilterOff"/>
											<xsd:enumeration value="matchedFilterOn"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="qpsk">
				<!--
    This element specifies the symbol rate in 1/1000 per second.
    -->
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="symbolRate">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         This element specifies the symbol rate in 1/1000 symbols per second
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="constellationConfiguration">
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="ccsds">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           symbol assignment to I and Q channel and the mapping of IQ pairs to the carrier phase complies with CCSDS 401
           -->
												<xsd:simpleType>
													<xsd:restriction base="NULL"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="nonCcsds">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="symbolToIqMapping">
													<xsd:complexType>
														<xsd:choice>
															<xsd:element name="evenSymbolOnIchannel">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
               This is as specifiied in CCSDS 401
               -->
																		<xsd:simpleType>
																			<xsd:restriction base="NULL"/>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="evenSymbolOnQchannel">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<xsd:simpleType>
																			<xsd:restriction base="NULL"/>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
														</xsd:choice>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="symbolPairToPhaseAssignment">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="symbolPair00">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
               Carrier phase in degrees
               -->
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:pattern value="45|135|225|315"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="symbolPair01">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
               Carrier phase in degrees
               -->
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:pattern value="45|135|225|315"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="symbolPair10">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
               Carrier phase in degrees
               -->
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:pattern value="45|135|225|315"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="symbolPair11">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
               Carrier phase in degrees
               -->
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:pattern value="45|135|225|315"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="matchedFilter">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         Enable or disable the square-root raised cosine matched filter depending on the filtering applied on the spacecraft side.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:token">
											<xsd:enumeration value="matchedFilterOff"/>
											<xsd:enumeration value="matchedFilterOn"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="oqpsk">
				<!--
    This element specifies the symbol rate in 1/1000 symbol per second.
    -->
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="symbolRate">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         This element specifies the symbol rate in 1/1000 symbols per second
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="constellationConfiguration">
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="ccsds">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           symbol assignment to I and Q channel and the mapping of IQ pairs to the carrier phase complies with CCSDS 401
           -->
												<xsd:simpleType>
													<xsd:restriction base="NULL"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="nonCcsds">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="symbolToIqMapping">
													<xsd:complexType>
														<xsd:choice>
															<xsd:element name="evenSymbolOnIchannel">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
               This is as specifiied in CCSDS 401
               -->
																		<xsd:simpleType>
																			<xsd:restriction base="NULL"/>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="evenSymbolOnQchannel">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<xsd:simpleType>
																			<xsd:restriction base="NULL"/>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
														</xsd:choice>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="symbolPairToPhaseAssignment">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="symbolPair00">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
               Carrier phase in degrees
               -->
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:pattern value="45|135|225|315"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="symbolPair01">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
               Carrier phase in degrees
               -->
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:pattern value="45|135|225|315"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="symbolPair10">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
               Carrier phase in degrees
               -->
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:pattern value="45|135|225|315"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="symbolPair11">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
               Carrier phase in degrees
               -->
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:pattern value="45|135|225|315"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="matchedFilter">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         Enable or disable the matched filter depending on the filtering applied on the spacecraft side. The filter type may be of type Square Root Raised Cosine α = 0.5 or Butterworth 6 poles, BT = 0.5 or similar bandpass filters with BT ≤ 0.5. 
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:token">
											<xsd:enumeration value="matchedFilterOff"/>
											<xsd:enumeration value="matchedFilterOn"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gmsk">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="symbolRate">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         This element specifies the symbol rate in 1/1000 symbol per second.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="bandwidthSymbolPeriodProduct">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The scaling factor of this parameter is 1/100
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="0"/>
											<xsd:maxInclusive value="1000"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="concurrentGmskAndPnRng">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:token">
											<xsd:enumeration value="yes"/>
											<xsd:enumeration value="no"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the nominal polarization and the channel(s)
 that shall be used as input for reception and demodulation. This channel selection
 can take on the following values:
- 'lhc';
- 'rhc';
- 'autoHysteresis';
- 'combining'.

If
 'autoHysteresis' is chosen, the parameter specifies how much larger in 1/10 dB the
 power observed for the unselected polarization must be before a switch-over to the
 polarization with the stronger signal is performed.
'combining' means that diversity
 combining of the lhc and rhc channels is performed. This element of the choice specifies
 the bandwidth in Hertz centered on the carrier frequency which shall be used to
 determin the required phase rotation and gain setting of the LHC and RHC channels
 for obtaining the optimum combining result.
-->
	<xsd:complexType name="Ccsds401CarrierRcptPolarizationNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:sequence>
					<xsd:element name="Ccsds401CarrierRcptPolarization" type="Ccsds401CarrierRcptPolarization"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.4.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptPolarization"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Ccsds401CarrierRcptPolarization">
		<xsd:sequence>
			<xsd:element name="nominalPolarization">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="lhc">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="NULL"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="rhc">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="NULL"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="inputSelection">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="lhc">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="NULL"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="rhc">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="NULL"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="autoHysteresis">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The engineering unit of this element is 1/10 dB.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="0"/>
											<xsd:maxInclusive value="100"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="combining">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The engineering unit of this element is Hertz.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="10"/>
											<xsd:maxInclusive value="100000"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter reports (after acquisition of signal) the power ratio of the signal
 received with left hand circular (LHC) polarization and the signal received with
 the orthogonal, i.e., right hand circular (RHC) polarization. If the angle reported
 is 0 degrees, then the full power is received via the LHC channel. At 45 degrees,
 the power in the LHC and the power in the RHC channels are equal, as if the input
 signal were linearly polarized. At 90 degrees, the full power is received with RHC
 polarization.
Only stations supporting concurrent reception of LHC and RHC polarization
 provide this information. When this is not possible or the station is configured
 to use a single channel only, this parameter shall be flagged as unavailable. 
-->
	<!--
 The engineering unit of this parameter is degree.
 -->
	<xsd:simpleType name="Ccsds401CarrierRcptPolarizationAngle">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="90"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the predicted level of the received signal
 in dBm as observed at the LNA input. It shall be the total signal power so that
 the same parameter specification applies regardless of the modulation scheme. This
 signal level refers to the nominal polarization as specified by the parameter ccsds401CarrierRcptPolarization.
-->
	<!--
 The engineering unit of this parameter is dBm
 -->
	<xsd:complexType name="Ccsds401CarrierRcptPredictedSignalLevelNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierRcptPredictedSignalLevel" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptPredictedSignalLevel"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.6.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierRcptPredictedSignalLevel">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-250"/>
			<xsd:maxInclusive value="-30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports for the nominal polarization (see parameter ccsds401CarrierRcptPolarization)
 the difference between the actual and the predicted signal level of the received
 signal as observed at the LNA input in 1/100 dB (actual value minus predicted value).
 
-->
	<!--
 The engineering unit of this parameter is 1/100 dB.
 -->
	<xsd:simpleType name="Ccsds401CarrierRcptSignalLevelResidual">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-5000"/>
			<xsd:maxInclusive value="5000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the system noise temperature in K derived from the noise density
 observed at the receiver input. As such, it takes into account all contributions
 to the noise temperature such as antenna microwave components, atmospheric noise
 and cosmic microwave background noise. The noise temperature varies with weather
 conditions and antenna elevation due to variation of the path length through the
 atmosphere and ground noise received by the antenna side lobes.
-->
	<!--
 The engineering unit of this parameter is Kelvin.
 -->
	<xsd:simpleType name="Ccsds401CarrierRcptSystemNoiseTemperature">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the nominal officially assigned frequency of
 the return link carrier disregarding any Doppler shift.

-->
	<!--
 The engineering unit of this parameter is Hertz.
 -->
	<xsd:complexType name="Ccsds401CarrierRcptNominalFreqNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierRcptNominalFreq" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptNominalFreq"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.9.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierRcptNominalFreq">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="2200000000"/>
			<xsd:maxInclusive value="38000000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the return link frequency in Hz as observed with the spacecraft
 transponder operating in non-coherent mode with the oneWay Doppler shift removed.
 As such this frequency indicates the deviation from the nominal return link frequency
 (see ccsds401CarrierRcptNominalFreq) caused by the spacecraft transponder. Using
 this frequency as the center frequency of the carrier search range (see ccsds401CarrierRcptFreqSearchRange)
 will optimize the return link acquisition in oneWay mode. 
-->
	<!--
 The engineering unit of this parameter is Hertz.
 -->
	<xsd:simpleType name="Ccsds401CarrierRcptBestLockFreq">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="2024956000"/>
			<xsd:maxInclusive value="40501863000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This enumerated parameter configures and reports the transponder ratio applicable
 when the spacecraft transponder is operating in coherent mode and that is also to
 be used for ranging calibration. 

If the supported spacecraft supports more than
 one forward link, this parameter can be used to identify the forward link to which
 the return link will be coherent provided coherency of the spacecraft transponder
 is enabled and the transponder is locked to the forward link carrier.

This parameter
 permits also the specification of non-standard transponder ratios. That way also
 missions can be supported where several spacecraft share the same forward physical
 channel, but have different SCIDs or separate VCID sets or separate APID sets and
 different transponder ratios. This way although having a shared forward physical
 channel the spacecraft can have separate return physical channels.


-->
	<xsd:complexType name="Ccsds401CarrierRcptTransponderRatioNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:sequence>
					<xsd:element name="Ccsds401CarrierRcptTransponderRatio" type="Ccsds401CarrierRcptTransponderRatio"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.11.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptTransponderRatio"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Ccsds401CarrierRcptTransponderRatio">
		<xsd:choice>
			<xsd:element name="ccsdsTransponderRatio">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="transponderRatio221To240">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="transponderRatioNumerator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="221"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="transponderRatioDenominator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="240"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transponderRatio749To880">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="transponderRatioNumerator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="749"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="transponderRatioDenominator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="880"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transponderRatio221To900">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="transponderRatioNumerator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="221"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="transponderRatioDenominator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="900"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transponderRatio765To240">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="transponderRatioNumerator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="765"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="transponderRatioDenominator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="240"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transponderRatio221To880">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="transponderRatioNumerator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="221"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="transponderRatioDenominator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="880"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transponderRatio749To240">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="transponderRatioNumerator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="749"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="transponderRatioDenominator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="240"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transponderRatio749To3344">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="transponderRatioNumerator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="749"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="transponderRatioDenominator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="3344"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transponderRatio3599To3344">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="transponderRatioNumerator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="3599"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="transponderRatioDenominator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="3344"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transponderRatio3599To3360">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="transponderRatioNumerator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="3599"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="transponderRatioDenominator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="3360"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transponderRatio749ToSet2652To2800">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="transponderRatioNumerator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="749"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="transponderRatioDenominator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="2652|2662|2678|2688|2704|2720|2736|2754|2772|2784|2800"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transponderRatio221To2772">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="transponderRatioNumerator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="221"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="transponderRatioDenominator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="2772"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transponderRatio221To2850">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="transponderRatioNumerator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="221"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="transponderRatioDenominator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="2850"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transponderRatio749ToSet836To864">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="transponderRatioNumerator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="749"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="transponderRatioDenominator">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:pattern value="836|840|846|850|854|858|864"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="nonCcsdsTransponderRatio">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="transponderRatioNumerator">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="100"/>
											<xsd:maxInclusive value="10000"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transponderRatioDenominator">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="100"/>
											<xsd:maxInclusive value="10000"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the frequency range in Hz centered on the ccsds401CarrierRcptNominalFreq,
 possibly corrected for the expected Doppler shift at acquisition time, in which
 the receiver shall search for the carrier signal. This parameter is also valid in
 case of a suppressed carrier modulation scheme.

-->
	<!--
 The engineering unit of this parameter is Hertz.
 -->
	<xsd:complexType name="Ccsds401CarrierRcptFreqSearchRangeNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierRcptFreqSearchRange" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptFreqSearchRange"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.12.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierRcptFreqSearchRange">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="1500000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This enumerated parameter configures and reports for which condition the Doppler
 predicts have been calculated. It can take on four values:
- 'none':  no information
 regarding the expected Doppler shift is available and therefore the nominal frequency
 is used;
- 'oneWay':  this mode will be used when the spacecraft is not locked
 to a forward link signal or while the spacecraft transponder is commanded to non-coherent
 mode; 
- 'twoWay':  this mode is applied when the spacecraft receiver is commanded
 to 'coherency enabled' mode and the station that is receiving the return link also
 radiates the forward link;
- 'threeWay':  this mode is applied when the spacecraft
 receiver is in 'coherency enabled' mode and a station different from the one receiving
 the return link is radiating the forward link signal. 

Note: The transmitting
 station may radiate the forward link carrier at a constant frequency (prescribed
 for category A missions). In that case the Doppler shift affecting the return link
 signal is approximately twice the shift of the oneWay scenario. If the transmitting
 station radiates the forward link with the frequency being ramped such that the
 Doppler on the forward link is compensated, i.e., the spacecraft always 'sees' the
 nominal forward link frequency, then the Doppler shift affecting the return link
 is as in the oneWay scenario.
-->
	<xsd:complexType name="Ccsds401CarrierRcptPredictModeNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierRcptPredictMode" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptPredictMode"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.13.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierRcptPredictMode">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="oneWay"/>
			<xsd:enumeration value="twoWay"/>
			<xsd:enumeration value="threeWay"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the single-sided tracking loop bandwidth in
 tenth Hz of the receiver and the duration in seconds within which the bandwidth
 reduction to a newly commanded loop bandwidth shall be reached. This gradual change
 of the loop bandwidth is intended to avoid loss of lock. The duration for the gradual
 bandwidth change can be set to 'auto' or set to a specific duration ('bwdthChangeDuration').
 If the duration is set to '0', the newly commanded bandwidth is applied immediately.
 
-->
	<xsd:complexType name="Ccsds401CarrierRcptTrackingLoopBwdthNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:sequence>
					<xsd:element name="Ccsds401CarrierRcptTrackingLoopBwdth" type="Ccsds401CarrierRcptTrackingLoopBwdth"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.14.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptTrackingLoopBwdth"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Ccsds401CarrierRcptTrackingLoopBwdth">
		<xsd:sequence>
			<xsd:element name="trackingLoopBwdth">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       The engineering unit of this element is 1/10 Hertz.
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="1"/>
								<xsd:maxInclusive value="30000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="loopBwdthChangeDuration">
				<!--
    The engineering unit of this element is second.
    -->
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="auto">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The time during which the bandwidth is gradually changed to the newly set value is chosen automatically.
         -->
									<xsd:simpleType>
										<xsd:restriction base="NULL"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="bwdthChangeDuration">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The engineering unit of this element is second. If it is set to 0, the newly commanded bandwidth is applied immediately.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="0"/>
											<xsd:maxInclusive value="100"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This enumerated parameter configures and reports the order of the carrier tracking
 loop. It can take on the following values:
- 'firstOrder':  such a loop is hardly
 ever used because it has a static phase error even in case of a constant carrier
 frequency being received;
- 'secondOrder':  this is the most commonly used loop
 as it has no static phase error for a constant carrier frequency being received;
-
 'thirdOrder':  such a configuration may have to be used in case of high Doppler
 rates, as such a loop has no static phase error even when the carrier frequency
 being received is changing because of the given Doppler rate, but initial acquisition
 is more difficult with a third order loop. 
-->
	<xsd:complexType name="Ccsds401CarrierRcptOrderOfLoopNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierRcptOrderOfLoop" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptOrderOfLoop"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.15.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierRcptOrderOfLoop">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="firstOrder"/>
			<xsd:enumeration value="secondOrder"/>
			<xsd:enumeration value="thirdOrder"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the status of the Anti-Side-Band system. The
 spectrum is expected to be symmetrical around the carrier. In the absence of this
 symmetry one can conclude that the receiver did not lock on the carrier but on some
 side band and acquisition will be restarted if the ccsds401CarrierRcptAntiSideBandStat
 is 'enabled'. For very weak signals the wide bandwidth required to check the spectral
 symmetry may prevent signal acquisition due to the reduced sensitivity. Therefore
 the Anti-Side-Band system can be turned off, i.e., ccsds401CarrierRcptAntiSideBandStat
 is set to 'disabled'. If the receiver does not have an Anti-Side-Band system, the
 reported value shall be 'notApplicable' and configuring of the parameter is prevented
 by the guard condition.      
-->
	<xsd:complexType name="Ccsds401CarrierRcptAntiSideBandStatNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierRcptAntiSideBandStat" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptAntiSideBandStat"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.16.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierRcptAntiSideBandStat">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="enabled"/>
			<xsd:enumeration value="disabled"/>
			<xsd:enumeration value="notApplicable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the lock status for the carrier, and, if applicable, for the
 subcarrier, and for the symbol stream.
-->
	<xsd:complexType name="Ccsds401CarrierRcptLockStat">
		<xsd:complexContent>
			<xsd:extension base="LockStat"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This parameter reports the signal-to-noise ratio in the carrier tracking loop. It
 is derived from the carrier-loop-phase-error-std-deviation (std) as follows: SNR
 in 1/100 dB is given by 1000 log((2 / std)^2) where log is to the base of 10. The
 carrier loop phase error standard deviation (or rms value) in rad is calculated
 over n samples, i.e. the sum of (Ei - M)^2 for i = 1 .. n is calculated, then divided
 by n and then the square root taken.
Ei is the phase in rad observed for sample
 i (i = 1 .. n) and M is the mean phase in rad over the last n samples, i.e. the
 sum of the last n Ei divided by n.

It could happen that std = 0 which then results
 in the division by '0'. In order to avoid that, implementations should set std to
 a small non-zero value in case std is '0'. 

The provider shall document the number
 n of values used by the given implementation to calculate this parameter.
-->
	<!--
 The engineering unit of this parameter is 1/100 dB
 -->
	<xsd:simpleType name="Ccsds401CarrierRcptCarrierLoopSnr">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-2800"/>
			<xsd:maxInclusive value="10000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports 
- either the mean value of the phase error in 1/100 radians
 in the carrier tracking loop by summing up the loop errors Ei (in radians) over
 a period of n samples and then dividing the sum by n (The mean M should be zero
 unless the loop is subject to a static phase error);
- or the rms value of the
 phase error in 1/100 radians in the carrier tracking loop by summing up the square
 of loop errors Ei (in radians) with i = 1 .. n, dividing the sum by n and then taking
 the square root. 

The provider shall document the number n of values used by
 the given implementation to calculate this parameter. 
-->
	<!--
 The engineering unit of this parameter is 1/100 radian.
 -->
	<xsd:complexType name="Ccsds401CarrierRcptCarrierLoopPhaseError">
		<xsd:choice>
			<xsd:element name="meanPhaseError">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The engineering unit of this element is 1/100 radian.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="-157"/>
								<xsd:maxInclusive value="157"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rmsPhaseError">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The engineering unit of this element is 1/100 radian.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="157"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter reports the observed carrier frequency being received in Hz. This
 parameter therefore varies with the Doppler shift induced by the radial velocity
 of the transmitting antenna (in general the spacecraft) relative to the receiving
 antenna (in general the ESLT antenna). In oneWay mode, the Doppler shift applies
 only once, but also the onboard oscillator drift affects the observed return link
 carrier frequency. In twoWay mode in combination with a constant forward link frequency,
 the Doppler shift approximately doubles with respect to the oneWay case, but the
 contribution of the onboard oscillator drift is eliminated.
-->
	<!--
 The engineering unit of the parameter is Hertz.
 -->
	<xsd:simpleType name="Ccsds401CarrierRcptActualFreq">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="2199700000"/>
			<xsd:maxInclusive value="38500000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the observed frequency offset in Hz of the carrier being received
 with respect to the nominal carrier frequency. As such it reports on the oscillator
 drift (in case of oneWay operation) on the transmitting side plus the Doppler shift
 induced by the radial velocity between the transmitting and receiving antennas.
 In twoWay mode, the effect of the oscillator drift at the transmitting end is eliminated.
 In combination with a constant forward link frequency, the Doppler shift approximately
 doubles compared to the oneWay case.
-->
	<!--
 The engineering unit of this parameter is Hertz.
 -->
	<xsd:simpleType name="Ccsds401CarrierRcptFreqOffset">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-5000000"/>
			<xsd:maxInclusive value="5000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the Doppler offset standard deviation in Hz over n samples.
 Each sample Si is the difference between the actual return link frequency and the
 predicted return link frequency where the predict takes into account the expected
 Doppler shift. Based on these samples, the mean Doppler offset M is calculated by
 forming the sum of n samples Si and dividing it by n. Then the sum of (Si - M)^2
 for i = 1 .. n is calculated, divided by n and then the square root taken.

The
 provider shall document the number n of values used by the given implementation
 to calculate this parameter. 
-->
	<!--
 The engineering unit of this parameter is Hertz.
 -->
	<xsd:simpleType name="Ccsds401CarrierRcptDopplerStdDeviation">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="5000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the nominal subcarrier frequency in 1/1000
 Hz. If the applicable modulation scheme does not use a subcarrier, this parameter
 shall be flagged as 'undefined'. 

Except if ccsds401CarrierRcptPredictMode is
 set to 'none', the demodulator will be configured to the nominal subcarrier frequency
 corrected for the oneWay Doppler offset because in general the subcarrier is generated
 by the transmitting end, i.e., the spacecraft, independently of a carrier received
 by the spacecraft and therefore subject to the oneWay Doppler shift. However, this
 parameter does not report any applied Doppler shift. 
-->
	<!--
 The engineering unit of this parameter is 1/1000 Hertz.
 -->
	<xsd:complexType name="Ccsds401CarrierRcptNominalSubcarrierFreqNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierRcptNominalSubcarrierFreq" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptNominalSubcarrierFreq"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.23.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierRcptNominalSubcarrierFreq">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="2000000"/>
			<xsd:maxInclusive value="4000000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the actually received subcarrier frequency in 1/1000 Hz, i.e.,
 this parameter reflects the Doppler shift of the subcarrier frequency. If the applicable
 modulation scheme does not use a subcarrier, this parameter shall be flagged as
 'undefined'.
-->
	<!--
 The engineering unit of this parameter is 1/1000 Hertz.
 -->
	<xsd:simpleType name="Ccsds401CarrierRcptActualSubcarrierFreq">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="2000000"/>
			<xsd:maxInclusive value="4000000580"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the subcarrier demodulator loop bandwidth expressed
 as single-sided subcarrier loop bandwidth to subcarrier frequency ratio. If the
 applicable modulation scheme does not use a subcarrier, this parameter shall be
 flagged as undefined.
-->
	<xsd:complexType name="Ccsds401CarrierRcptSubcarrierDemodLoopBwdthNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierRcptSubcarrierDemodLoopBwdth" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptSubcarrierDemodLoopBwdth"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.25.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierRcptSubcarrierDemodLoopBwdth">
		<xsd:restriction base="xsd:double">
			<xsd:minInclusive value="1E-5"/>
			<xsd:maxInclusive value="1E-1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports 
- either the mean value of the phase error in 1/100 radians
 in the subcarrier tracking loop by summing up the loop errors Ei (in radians) over
 a period of n samples and then dividing the sum by n (This mean M should be zero
 unless the loop is subject to a static phase error);
- or the rms value of the
 phase error in 1/100 radians in the subcarrier tracking loop by summing up the square
 of loop errors Ei (in radians) with i = 1 .. n, dividing the sum by n and then taking
 the square root. 

The provider shall document the number n of values used by
 the given implementation to calculate this parameter.  
-->
	<!--
 The engineering unit of this parameter is 1/100 radian.
 -->
	<xsd:complexType name="Ccsds401CarrierRcptSubcarrierLoopPhaseError">
		<xsd:choice>
			<xsd:element name="meanPhaseError">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The engineering unit of this element is 1/100 radian.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="-157"/>
								<xsd:maxInclusive value="157"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rmsPhaseError">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The engineering unit of this element is 1/100 radian.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="157"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter reports the subcarrier to carrier power ratio expressed in 1/100 dBc.
 If the applicable modulation scheme does not use a subcarrier, this parameter shall
 be flagged as 'undefined'.
-->
	<!--
 The engineering unit of this parameter is 1/100 dBc.
 -->
	<xsd:simpleType name="Ccsds401CarrierRcptSubcarrierLevelEstimate">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-20000"/>
			<xsd:maxInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the nominal received symbol stream rate in
 1/1000 symbols/second. 

Except if ccsds401CarrierRcptPredictMode is set to 'none',
 the demudulator will however be configured to the nominal symbol rate corrected
 for the oneWay Doppler offset because in general the symbol clock is generated by
 the transmitting end, i.e., the spacecraft, independently of a carrier received
 by the spacecraft and therefore subject to the oneWay Doppler shift. However, this
 parameter does not report any applied Doppler shift.
-->
	<!--
 The engineering unit of this parameter is 1/1000 symbols per second.
 -->
	<xsd:complexType name="Ccsds401CarrierRcptNominalSymbolRateNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="xsd:integer" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="xsd:integer"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.28.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierRcptNominalSymbolRate">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<!--
This parameter reports the actually received symbol stream rate in 1/1000 symbols/second,
 i.e., this parameter reflects the Doppler shift of the symbol rate.
-->
	<!--
 The engineering unit of this parameter is 1/1000 symbols per second.
 -->
	<xsd:simpleType name="Ccsds401CarrierRcptActualSymbolRate">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the symbol synchronizer loop bandwidth expressed
 as single-sided symbol synchronizer loop bandwidth to symbol rate ratio. 
-->
	<xsd:complexType name="Ccsds401CarrierRcptSymbolSynchronizerLoopBwdthNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierRcptSymbolSynchronizerLoopBwdth" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptSymbolSynchronizerLoopBwdth"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.30.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierRcptSymbolSynchronizerLoopBwdth">
		<xsd:restriction base="xsd:double">
			<xsd:minInclusive value="1E-5"/>
			<xsd:maxInclusive value="1E-2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports 
- either the mean value of the phase error in 1/100 radians
 in the symbol rate tracking loop by summing up the loop errors Ei (in radians) over
 a period of n samples and then dividing the sum by n (This mean M should be zero
 unless the loop is subject to a static phase error);
- or the rms value of the
 phase error in 1/100 radians in the symbol rate tracking loop by summing up the
 square of loop errors Ei (in radians) with i = 1 .. n, dividing the sum by n and
 then taking the square root. 

The provider shall document the number n of values
 used by the given implementation to calculate this parameter.
-->
	<!--
 The engineering unit of this parameter is 1/100 radian.
 -->
	<xsd:complexType name="Ccsds401CarrierRcptSymbolLoopPhaseError">
		<xsd:choice>
			<xsd:element name="meanPhaseError">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The engineering unit of this element is 1/100 radian.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="-157"/>
								<xsd:maxInclusive value="157"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rmsPhaseError">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The engineering unit of this element is 1/100 radian.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="157"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the predicted symbol energy over noise density
 ratio (Es/No) in 1/100 dB. 
-->
	<!--
 The engineering unit of this parameter is 1/100 dB.
 -->
	<xsd:complexType name="Ccsds401CarrierRcptPredictedEsOverNoNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:attribute name="value" type="Ccsds401CarrierRcptPredictedEsOverNo" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="Ccsds401CarrierRcptPredictedEsOverNo"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20300.1.32.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Ccsds401CarrierRcptPredictedEsOverNo">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-1000"/>
			<xsd:maxInclusive value="60000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter reports the difference in 1/100 db between the predicted symbol energy
 over noise density ratio (Es/No) and the actually observed Es/No (observed minus
 predicted value). The algorithms used to calculate the observed Es/No tend to saturate
 at a certain Es/No level so that the reported residual may correspond to an observed
 Es/No that is significantly lower than predicted. However, this saturation happens
 at levels that are so high that the telemetry is anyway virtually error free. 

The
 provider shall document the duration used for averaging the Es/No samples for calculating
 this parameter.  
-->
	<!--
 The engineering unit of this parameter is 1/100 dB.
 -->
	<xsd:simpleType name="Ccsds401CarrierRcptEsOverNoResidual">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-5000"/>
			<xsd:maxInclusive value="5000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This event notifies any change of the ccsds401CarrierRcptResourceStat parameter value.
-->
	<!--
The event value reports the ccsds401CarrierRcptResourceStat parameter value that
 applies since the notified ccsds401CarrierRcptResourceSatChange event has occurred.
-->
	<xsd:simpleType name="Ccsds401CarrierRcptResourceStatChangeEvtValue">
		<xsd:restriction base="Ccsds401CarrierRcptResourceStat"/>
	</xsd:simpleType>
	<!--
This event notifies any change of the lock status occurring when tracking or acquiring
 the received carrier and reports the lock status as given since the occurrence of
 the event.
-->
	<!--
The event value reports the lock status as given since the occurrence of the ccsds401CarrierRcptLockStatChange
 event. It should be noted that loss of carrier lock implies loss of subcarrier lock
 if a subcarrier is used and loss of symbol lock. Loss of subcarrier lock, if a subcarrier
 is used, implies loss of symbol lock. 
-->
	<xsd:complexType name="Ccsds401CarrierRcptLockStatChangeEvtValue">
		<xsd:complexContent>
			<xsd:extension base="Ccsds401CarrierRcptLockStat"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
	<!--
The messages passed by means of the ccsds401CarrierRcptOperatorNotify event are classified
 in terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and
 searching for specific messages, a unique numerical identifier is assigned to each
 message string. The messages are free text such that equipment specific issues can
 be reported. 
-->
	<xsd:complexType name="Ccsds401CarrierRcptOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the Ccsds401SpaceLinkCarrierRcpt
 FR type. 
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the Ccsds401SpaceLinkCarrierRcpt
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.

-->
	<xsd:complexType name="Ccsds401SpaceLinkCarrierRcptContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
