SanaRegistry/DdorRawDataCollection.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
This FR collects the raw data generated by the Delta DOR open-loop receiver when
 tracking a spacecraft or a quasar. The data obtained are annotated and file formatted
 in accordance with CCSDS 506.1-B-1. The parameters of this FR provide the data necessary
 for the generation of the  CCSDS 506.1-B-1 formatted files which implicitly also
 specify the configuration of the open-loop receiver used for the collection of the
 raw Delta DOR data.

-->
	<xsd:element name="DdorRawDataCollectionElement" type="DdorRawDataCollectionType" substitutionGroup="PhysicalChannelStratumParameters"/>
	<xsd:complexType name="DdorRawDataCollectionType">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:all>
					<xsd:element name="ddorRawDataFileNameElements" type="DdorRawDataFileNameElementsNamed" minOccurs="0"/>
					<xsd:element name="ddorRawDataObservationFileConfiguredData" type="DdorRawDataObservationFileConfiguredDataNamed" minOccurs="0"/>
					<xsd:element name="ddorRawDataProductFilesHeaderData" type="DdorRawDataProductFilesHeaderDataNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20500"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the DdorRawDataCollection FR resource status and
 can take on four values:
- 'configured':  the associated equipment has been configured
 to ingest DDOR raw data as input to the production of Delta-DOR Raw Data Exchange
 Format files;
- 'operational':  the associated equipment is ingesting radiometric
 observables and produces the associated Delta-DOR Raw Data Exchange Format files;
-
 'interrupted':  a failure has been detected;
- 'halted':  the associated equipment
 has been taken out of service.
-->
	<xsd:simpleType name="DdorRawDataResourceStat">
		<xsd:restriction base="ResourceStat"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the data required for building the file names
 as specified in CCSDS 506.1-B-1.
-->
	<!--
 All elements specifying visible strings must use capital characters only.
 -->
	<xsd:complexType name="DdorRawDataFileNameElementsNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:sequence>
					<xsd:element name="DdorRawDataFileNameElements" type="DdorRawDataFileNameElements"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20500.1.2.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="DdorRawDataFileNameElements"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DdorRawDataFileNameElements">
		<xsd:sequence>
			<xsd:element name="missionId">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       This is the four-character spacecraft ID used in the service request. This ID needs to be agreed by service provider and service user. It is NOT specified in a SANA registry. It is not necessarily the ID of the observed spacecraft.
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="4"/>
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="stationId">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       This is the four-character ID of the receiving station. The same ID is to be used in the Observation File. This ID needs to be agreed by service provider and service user. It is NOT specified in a SANA registry.
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="4"/>
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="receiverId">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       This ID needs to be agreed between service provider and service user.
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="2"/>
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter configures and reports the data which are needed to generate the Observation
 File and are not specified by the file name nor by any other (sub-)parameter of
 the DdorRawDataCollection FR. It does not specify the elements driven by the data
 collection process.




-->
	<xsd:complexType name="DdorRawDataObservationFileConfiguredDataNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:sequence>
					<xsd:element name="DdorRawDataObservationFileConfiguredData" type="DdorRawDataObservationFileConfiguredData"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20500.1.3.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="DdorRawDataObservationFileConfiguredData"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DdorRawDataObservationFileConfiguredData">
		<xsd:sequence>
			<xsd:element name="observationHeaderSection">
				<!--
    The receivingStation is specified by the stationId element of the ddorRawDataFileNameElements parameter.
    -->
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="versionId">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="0"/>
											<xsd:maxInclusive value="32767"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transmittingStation" minOccurs="0">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         This four-character ID identifies the transmitting station in case of two-way operation. Otherwise this element is absent. This ID needs to be agreed between service provider and service user. It is not specified in a SANA registry.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:minLength value="4"/>
											<xsd:maxLength value="4"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="scanSectionsElements">
				<!--
    Each of the sequences within the "sequence of" element get a monotonically increasing scan number assigned where the number of the first sequence is set to '1'. For that reason no (sub-)parameter configuring the scan number is required. 
    -->
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="sourceId">
										<!--
         The character string identifies the spacecraft or quasar being observed.
         -->
										<xsd:complexType>
											<xsd:choice>
												<xsd:element name="spacecraftId">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              This four-character string identifies the spacecraft observed in this scan. The ID must be agreed between service provider and service user. It is not specified in a SANA registry.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string">
																	<xsd:minLength value="4"/>
																	<xsd:maxLength value="4"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="quasarId">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              This character string identifies the quasar being observed. It is to be agreed between service provider and service user. It is not specified in a SANA registry.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string">
																	<xsd:minLength value="1"/>
																	<xsd:maxLength value="16"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
											</xsd:choice>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="startTime" type="TimeTag"/>
									<xsd:element name="stopTime" type="TimeTag"/>
									<xsd:element name="rightAscension">
										<!--
         The rigt ascension of the observed signal source. The engineering unit is degree.
         -->
										<xsd:complexType>
											<xsd:choice>
												<xsd:element name="noRightAscensionProvided">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="rightAscensionProvided" type="Ieee754RealDoublePrecisionPositive"/>
											</xsd:choice>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="declination">
										<!--
         The declination of the observed signal source. The engineering unit is degree.
         -->
										<xsd:complexType>
											<xsd:choice>
												<xsd:element name="noDeclinationProvided">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="declinationProvided" type="Ieee754RealDoublePrecision"/>
											</xsd:choice>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="transmittedFrequency">
										<!--
         This element specifies the spacecraft emitted frequency if the observed source is a spacecraft. The engineering unit is Hz. If the observed source is a quasar, the parameter is set to zero.
         -->
										<xsd:complexType>
											<xsd:choice>
												<xsd:element name="observedSourceIsQuasar">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="observedSourceIsSpacecraft" type="Ieee754RealDoublePrecisionPositive"/>
											</xsd:choice>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="sequenceOfProductLines">
										<!--
         The missionId is specified by the element missionID of the ddorRawDataFileNameElements parameter. The stationId is specified by the element stationId of the ddorRawDataFileNameElements parameter. The receiverId is specified by the elment receiverId of the ddorRawDataFileNameElements parameter. The scanEpoch is the same as the element startTime in the scanSectionsElements of the ddorRawDataObservationFileConfiguredData parameter except that the format is slightly different. There shall be one channelId value specified per channel center frequency specified by the elements coherenceFlag,dorMultiplier,fundamentalSubcarrierFreq, and harmonic of the productFileNameConfigurationElements. The file extension is the string 'prd'.
         -->
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="element">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="productFileNameConfiguredElements">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
                 There shall be one channelId value specified per channel center frequency specified by the elements coherenceFlag,dorMultiplier,fundamentalSubcarrierFreq, and harmonic of the sequenceOfProductLines element. All components of the file name  except the channel Id are configured by other (sub-)parameters of this FR.
                 -->
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:minInclusive value="1"/>
																				<xsd:maxInclusive value="99"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="coherenceFlag">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
                 Indicates if the observed signal is coherent with the carrier.
                 -->
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:boolean"/>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="dorMultiplier">
																<!--
              This represents the fraction of the TransmitFreq that serves as the fundamental tone. If coherenceFlag is FALSE, this element is disregarded.
              -->
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="numerator">
																			<xsd:complexType>
																				<xsd:attribute name="value" use="required">
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:integer">
																							<xsd:minInclusive value="0"/>
																							<xsd:maxInclusive value="32768"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="denominator">
																			<xsd:complexType>
																				<xsd:attribute name="value" use="required">
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:integer">
																							<xsd:minInclusive value="1"/>
																							<xsd:maxInclusive value="32768"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="fundamentalSubcarrierFreq" type="Ieee754RealDoublePrecisionPositive"/>
															<xsd:element name="harmonic">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
                 Specifies the subcarrier or coherent tone harmonic being observed.
                 -->
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:minInclusive value="-10"/>
																				<xsd:maxInclusive value="10"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="endingSection" minOccurs="0">
				<!--
    The log lines are a sequence of character strings providing information how receiver messages, data, and logs may be retrieved. The end line is filled with the fixed string '*=END=*'. Therefore it cannot be configured by a (sub-)parameter. 
    -->
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="178"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter configures and reports the data which are needed to generate the Product
 File Headers.

The Record Label filed is always filled with the string 'RDEF'.
 Therefore there is no (sub-)parameter for the configuration of this field.

The
 Record Length is determined by the sample rate, the sample size and the fixed header
 size (176 octets). Therefore the Record Length field cannot be configured by a dedicated
 (sub-)parameter, but it is indirectly configured by the smaple rate and sample size
 which both are configured by means of sub-parameters of the ddorRawDataProductFilesHeaderData
 parameter.

The Record Version Id must be the same as the version Id of the Observation
 File. It is therefore configured by the element versionId of the ddorRawDataObservationFileConfiguredData
 parameter.

One instance of the DdorRawDataCollection FR will be associated with
 one and only one agency. Therefore, for a given instance the Agency Flag field will
 be fixed and there is no need to configure it by means of a dedicated (sub-)parameter.

The
 Validity Flag will be set as a result of the observation performed. As such it cannot
 be configured by a (sub-)parameter of the DdorRawDataCollection FR. 

The time
 tag in the Product File Header reports when the first sample contained in the Product
 File has been taken. As such it is the result of the observation being performed
 and therefore it cannot be configured by a (sub-)parameter of the DdorRawDataCollection
 FR.

The accumulated phase reports the number of turns accumulated from the second
 boundary of the time tag and the time when the first sample was actually taken.
 As such it is the result of the observation being performed and therefore it cannot
 be configured by a (sub-)parameter of the DdorRawDataCollection FR.

Filling of
 the Empty Fields (future extensions) is assumed to be filled with a fixed pattern
 and therefore it cannot be configured by a (sub-)parameter of the DdorRawDataCollection
 FR.

Filling of the Empty Fields (internal agency use) will be the result of the
 observation performed. Therefore it cannot be configured by a (sub-)parameter of
 the DdorRawDataCollection FR.

The End Label field is filled with a fixed pattern.
 Therefore it cannot be configured by a (sub-)parameter of the DdorRawDataCollection
 FR.
-->
	<xsd:complexType name="DdorRawDataProductFilesHeaderDataNamed">
		<xsd:complexContent>
			<xsd:extension base="PhysicalChannelStratumType">
				<xsd:sequence>
					<xsd:element name="DdorRawDataProductFilesHeaderData" type="DdorRawDataProductFilesHeaderData"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.20500.1.4.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="DdorRawDataProductFilesHeaderData"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DdorRawDataProductFilesHeaderData">
		<xsd:sequence>
			<xsd:element name="providerDefinedStationId" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="32767"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sampleSize">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       The engineering unit is bit. Each measurement consists of two samples, the in-phase sample and the quadrature phase.
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:pattern value="1|2|4|8|16"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="providerDefinedSpacecraftId">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="32767"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sampleRate">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       The number of complex samples per second. Because of the file format constraint, the sampleRate shall be chosen such that  sampleRate*2*sampleSize is a multiple of 32.
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="4294967295"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rfToIfDownconversion" type="Ieee754RealDoublePrecisionPositive"/>
			<xsd:element name="ifToChannelDownconversion" type="Ieee754RealDoublePrecisionPositive"/>
			<xsd:element name="channelPhasePolynomiaCoefficientl0" type="Ieee754RealDoublePrecisionPositive"/>
			<xsd:element name="channelPhasePolynomiaCoefficientl1" type="Ieee754RealDoublePrecisionPositive"/>
			<xsd:element name="channelPhasePolynomiaCoefficientl2" type="Ieee754RealDoublePrecisionPositive"/>
			<xsd:element name="channelPhasePolynomiaCoefficientl3" type="Ieee754RealDoublePrecisionPositive"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This event notifies any change of the ddorRawDataResourceStat parameter value.
-->
	<!--
The event value reports the ddorRawDataResourceStat parameter value that applies
 since the notified ddorRawDataResourceStatChange event has occurred.
-->
	<xsd:simpleType name="DdorRawDataResourceStatChangeEvtValue">
		<xsd:restriction base="DdorRawDataResourceStat"/>
	</xsd:simpleType>
	<!--
This event triggers when one or more parameters controlling the configuration of
 the DDOR raw data file production performed by this DdorRawDataCollection FR instance
 has changed. 

This event carries no additional information.

-->
	<!--
The event-value of this event is 'empty'.
-->
	<xsd:simpleType name="DdorRawDataConfigurationChangeEvtValue">
		<xsd:restriction base="ProdConfigurationChangeEvtValue"/>
	</xsd:simpleType>
	<!--
This event notifies the completion of the generation of an Observation or Product
 File and reports in the event value the file name assigned to that file.
-->
	<!--
The event value reports the name that has been assigned to the file the completion
 of which is notified by the  ddorRawDataFileCompletion event.
-->
	<xsd:complexType name="DdorRawDataFileCompletionEvtValue">
		<xsd:sequence>
			<xsd:element name="missionId">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      This is the four-character spacecraft ID used in the service request. This ID needs to be agreed by service provider and service user. It is NOT specified in a SANA registry. It is not necessarily the ID of the observed spacecraft.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="4"/>
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="scanNumber">
				<!--
   In the file name of an observation file, this element shall be set to zero.
   -->
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="observationFileName">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:pattern value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="productFileName">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="1"/>
											<xsd:maxInclusive value="999"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="fileType">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      This element specifies if the named file is an Observation File ('I'),  a Product File resulting from spacecraft observation ('S'), or a Product File resulting from quasar observation ('Q').
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="stationId">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      This is the four-character ID of the receiving station as configured by the element stationId of the ddorRawDataFileNameElements parameter.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="4"/>
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="receiverId">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      This is the two-character Receiver ID as configured by the element receiverId of the ddorRawDataFileNameElements parameter.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="2"/>
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="channelId">
				<!--
   For a Product File, this integer value is configured by the element productFileNameConfiguredElements of the ddorRawDataObservationFileConfiguredData parameter.
   -->
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="observationFileName">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:pattern value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="productFileName">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="1"/>
											<xsd:maxInclusive value="99"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="scanEpoch">
				<!--
   In Product Files, this time tag is set to the nominal start of the given scan. In Observation Files, this time tag is set to a time at or before the first scan of the observation session which is configured by the element startTime of the ddorRawDataObservationFileConfiguredData parameter.
   -->
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="year">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
        The last two digits of the year.
        -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="0"/>
											<xsd:maxInclusive value="99"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="dayOfYear">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="1"/>
											<xsd:maxInclusive value="366"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="hourOfDay">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="0"/>
											<xsd:maxInclusive value="23"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="minuteOfHour">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="0"/>
											<xsd:maxInclusive value="59"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="secondOfMinute">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="0"/>
											<xsd:maxInclusive value="59"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="fileExtension">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="observationFile">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="productFile">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
	<!--
The messages passed by means of the ddorRawDataOperatorNotify event are classified
 in terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and
 searching for specific messages, a unique numerical identifier is assigned to each
 message string. The messages are free text such that equipment specific issues can
 be reported. 
-->
	<xsd:complexType name="DdorRawDataOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the DdorRawDataCollection
 FR type. 
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the DdorRawDataCollection
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.
-->
	<xsd:complexType name="DdorRawDataContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
