SanaRegistry/DdorRawDataStore.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
The DdorRawDataStore FR is a repository of raw Delta-Dor data files generated by
 an associated DdorRawDataCollection FR instance. Because of the high volume of the
 collected data the raw Delta-Dor data files may be transferred to the correlator
 used for the processing of the Delta-Dor raw data of a given mission by a dedicated
 file transfer mechanism.

The applied data retention policy is FIFO. 
-->
	<xsd:element name="DdorRawDataStoreElement" type="DdorRawDataStoreType" substitutionGroup="OfflineDataStorageStratumParameters"/>
	<xsd:complexType name="DdorRawDataStoreType">
		<xsd:complexContent>
			<xsd:extension base="OfflineDataStorageStratumType">
				<xsd:all>
					<xsd:element name="ddorRawDataStoreAllocatedStorage" type="DdorRawDataStoreAllocatedStorageNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.70500"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the DdorRawDataStore FR resource status and can
 take on four values:
- 'configured':  the associated resource has been configured;
-
 'operational':  the associated resource is active;
- 'interrupted':  a failure
 has been detected;
- 'halted':  the associated resource has been taken out of service.

NOTE
 - Because it is an offline data storage FR, the resource status of the DdorRawDataStore
 FR is independent of any Service Package that it may be included in. 
-->
	<xsd:simpleType name="DdorRawDataStoreResourceStat">
		<xsd:restriction base="ResourceStat"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the maximum storage (in megabytes) allocated
 per mission for the storage of raw Delta-DOR files as generated by the associated
 DdorRawDataCollection FR instance.
-->
	<xsd:complexType name="DdorRawDataStoreAllocatedStorageNamed">
		<xsd:complexContent>
			<xsd:extension base="OfflineDataStorageStratumType">
				<xsd:sequence>
					<xsd:element name="DdorRawDataStoreAllocatedStorage" type="DdorRawDataStoreAllocatedStorage"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.70500.1.2.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="DdorRawDataStoreAllocatedStorage"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DdorRawDataStoreAllocatedStorage">
		<xsd:sequence>
			<xsd:element name="element">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="missionId">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
          This string shall be the same as used in the raw data files for the identification of the observed spacecraft.
          -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:minLength value="4"/>
											<xsd:maxLength value="4"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="storageAllocation">
							<xsd:complexType>
								<xsd:attribute name="value" type="LongIntPos" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter reports the size (in megabytes) per mission of the currernly available
 storage in the DdorRawDataStore FR instance.
-->
	<xsd:complexType name="DdorRawDataStoreAvailableStorage">
		<xsd:sequence>
			<xsd:element name="element">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="missionId">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         This string shall be the same as used in the raw data files for the identification of the observed spacecraft.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:minLength value="4"/>
											<xsd:maxLength value="4"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="storageAllocation">
							<xsd:complexType>
								<xsd:attribute name="value" type="LongIntPos" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This event notifies any change of the ddorRawDataStoreResourceStat parameter.
-->
	<!--
The event value reports the ddorRawDataStoreResourceStat value that applies since
 the notified ddorRawDataStoreResourceStatChange event occurred.
-->
	<xsd:simpleType name="DdorRawDataStoreResourceStatChangeEvtValue">
		<xsd:restriction base="DdorRawDataStoreResourceStat"/>
	</xsd:simpleType>
	<!--
This event notifies the overflow of the part of the DdorRawDataStore beyond storage
 space allocated to the given mission.
-->
	<!--
The event value identifies the mission of which the storage storage overflow has
 occurred. 
-->
	<xsd:simpleType name="DdorRawDataStoreOverflowEvtValue">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="4"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
	<!--
The messages passed by means of the ddorRawDataStoreOperatorNotify event are classified
 in terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and
 searching for specific messages, a unique numerical identifier is assigned to each
 message string. The messages are free text such that equipment specific issues can
 be reported. 
-->
	<xsd:complexType name="DdorRawDataStoreOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the DdorRawDataStore
 FR type. 
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the DdorRawDataStore
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.
-->
	<xsd:complexType name="DdorRawDataStoreContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
