SanaRegistry/FlfSyncChnlEncodeAndOidGen.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
This FR can be configured to accept one of the following input types:
- CADUs to
 be radiated via a specific physical channel;
- fixed-length frames (including,
 but not necessarily limited to, AOS and USLP) to be radated via a specific physical
 channel. 
This FR provides the symbol stream to be used for modulating the forward
 carrier of the physical channel associated with this FR. 
-->
	<xsd:element name="FlfSyncChnlEncodeAndOidGenElement" type="FlfSyncChnlEncodeAndOidGenType" substitutionGroup="SynchronizationandChannelCodingStratumParameters"/>
	<xsd:complexType name="FlfSyncChnlEncodeAndOidGenType">
		<xsd:complexContent>
			<xsd:extension base="SynchronizationandChannelCodingStratumType">
				<xsd:all>
					<xsd:element name="flfSyncEncSlpduLength" type="FlfSyncEncSlpduLengthNamed" minOccurs="0"/>
					<xsd:element name="flfSyncEncCodingSelection" type="FlfSyncEncCodingSelectionNamed" minOccurs="0"/>
					<xsd:element name="flfSyncEncOidDataUnit" type="FlfSyncEncOidDataUnitNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.30200"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the FlfSyncChnlEncodeAndOidGen FR resource status
 and can take on four values:
- 'configured':  the associated equipment has been
 configured;
- 'operational':  the associated equipment is active;
- 'interrupted':
  a failure has been detected;
- 'halted':  the associated equipment has been taken
 out of service.

-->
	<xsd:simpleType name="FlfSyncEncResourceStat">
		<xsd:restriction base="ResourceStat"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the length in octets of the fixed-length SL-PDUs
  (transfer frames or CADUs) that are input to the FR. 
-->
	<xsd:complexType name="FlfSyncEncSlpduLengthNamed">
		<xsd:complexContent>
			<xsd:extension base="SynchronizationandChannelCodingStratumType">
				<xsd:attribute name="value" type="FlfSyncEncSlpduLength" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="FlfSyncEncSlpduLength"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.30200.1.2.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="FlfSyncEncSlpduLength">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="6"/>
			<xsd:maxInclusive value="4294967295"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the selected coding scheme and related configuration
 parameter values. The ASM is attached for all choices except 'cadu', where it is
 disallowed.
-->
	<xsd:complexType name="FlfSyncEncCodingSelectionNamed">
		<xsd:complexContent>
			<xsd:extension base="SynchronizationandChannelCodingStratumType">
				<xsd:sequence>
					<xsd:element name="FlfSyncEncCodingSelection" type="FlfSyncEncCodingSelection"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.30200.1.3.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="FlfSyncEncCodingSelection"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FlfSyncEncCodingSelection">
		<xsd:choice>
			<xsd:element name="encodingBypass">
				<!--
    optional randomization, ASM attachment, optional convolutional encoding only
    -->
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="randomization">
							<xsd:complexType>
								<xsd:attribute name="value" type="Randomization" use="required"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="convolutionalEncoding" type="ConvolutionalEncoding"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="reedSolomon">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="randomization">
							<xsd:complexType>
								<xsd:attribute name="value" type="Randomization" use="required"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="convolutionalEncoding" type="ConvolutionalEncoding"/>
						<xsd:element name="errorCorrectionCapability">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:token">
											<xsd:enumeration value="eight"/>
											<xsd:enumeration value="sixteen"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="interleavingDepth">
							<xsd:complexType>
								<xsd:attribute name="value" type="RsInterleavingDepth" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ldpcFrame">
				<!--
    ASM is applied, convolutional encoding is disallowed for the LDPC Frame coding choice.
    -->
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="randomization">
							<xsd:complexType>
								<xsd:attribute name="value" type="Randomization" use="required"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ldpcCodeRateAndInfoBlockLength" type="LdpcCodeRateAndInfoBlockLength"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ldpcSlice">
				<!--
    randomization is required and convolutional coding is disabled for LDPC slicing
    -->
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ldpcCodeRateAndInfoBlockLength" type="LdpcCodeRateAndInfoBlockLength"/>
						<xsd:element name="ldpcCodeblockSize">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="1"/>
											<xsd:maxInclusive value="8"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cadu" type="ConvolutionalEncoding"/>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the OID data unit that is to be injected into
 the data stream as necessary to keep the flow continuous and contiguous when no
 user-supplied data unit is available.

The OID data unit must be of the same length
 (see flfSyncEncSlpduLength) and format as the SLPDUs being input to the FR. It defines
 the fixed transfer frame header, the mission-specific OID frame data field content
 and, if applicable, the frame trailer. 
-->
	<!--
 Pattern of the fixed OID Data Unit
 -->
	<xsd:complexType name="FlfSyncEncOidDataUnitNamed">
		<xsd:complexContent>
			<xsd:extension base="SynchronizationandChannelCodingStratumType">
				<xsd:attribute name="value" type="xsd:hexBinary" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="xsd:hexBinary"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.30200.1.4.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="FlfSyncEncOidDataUnit">
		<xsd:restriction base="xsd:hexBinary"/>
	</xsd:simpleType>
	<!--
This event notifies any change of the flfSyncEncResourceStat parameter value.
-->
	<!--
The event value reports the flfSyncEncResourceStat parameter value that applies since
 the notified flfSyncEncResourceStatChange event has occurred.
-->
	<xsd:simpleType name="FlfSyncEncResourceStatChangeEvtValue">
		<xsd:restriction base="FlfSyncEncResourceStat"/>
	</xsd:simpleType>
	<!--
This event notifies the completion of processing of a data unit. This event is emitted
 only for data units that are transferred through an instance of a Cross Support
 Transfer Service (CSTS) that uses the CSTS Specification Framework Data Processing
 procedure or a procedure derived from it. Each data unit received from such a CSTS
 is annotated with the service-instance-id of the source CSTS instance and the data-unit-id
 of the PROCESS-DATA invocation that carries that data unit.
-->
	<!--
This parameter contains the data-unit-id of the data unit that has completed processing,
 and the service-instance-identifier of the CSTS instance through which the data
 unit was received.
-->
	<xsd:complexType name="FlfSyncEncDataUnitProcessingCompletedEvtValue">
		<xsd:complexContent>
			<xsd:extension base="DataUnitProcessingCompletedEventValue"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
	<!--
The messages passed by means of the flfSyncEncOperatorNotify event are classified
 in terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and
 searching for specific messages, a unique numerical identifier is assigned to each
 message string. The messages are free text such that equipment specific issues can
 be reported. 
-->
	<xsd:complexType name="FlfSyncEncOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the flfSyncChnlEncodeAndOidGen
 FR type.  
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the flfSyncChnlEncodeAndOidGen
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.

-->
	<xsd:complexType name="FlfSyncEncContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
Upon receipt of this directive, the FlfSyncChnlEncodeAndOidGen FR discards all data
 units that are accompanied by the service-instance-id that is identified in the
 directive qualifier.

The qualifier of this directive event is the service-instance-id
 of the CSTS for which the data units are to be discarded.

This directive is applicable
 only for data units that are annotated with the service-instance-id of the CSTS
 instance that provided those data units.

-->
	<!--
The service-instance-id of the CSTS for which the data units are to discarded when
 the flfSyncEncDiscardDataUnits directive is invoked.
-->
	<xsd:complexType name="FlfSyncEncDiscardDataUnitsSvcInstanceIdDirQual">
		<xsd:complexContent>
			<xsd:extension base="CstsSvcInstanceId"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
