SanaRegistry/frm_type_definitions.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:simpleType name="NULL">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ObjectIdentifier">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[0-2]((\.[1-3]?[0-9])(\.\d+)*)?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BitString">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[0-1]{0,}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SvcProductionStatusVersion1">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="configured"/>
			<xsd:enumeration value="operational"/>
			<xsd:enumeration value="interrupted"/>
			<xsd:enumeration value="halted"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AntennaPointing">
		<xsd:sequence>
			<xsd:element name="azimuth">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The engineering unit of this element is 1/1000 degree.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="540000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="elevation">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The engineering unit of this element is 1/1000 degree.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="180000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TimeTag">
		<xsd:sequence>
			<xsd:element name="year">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="2000"/>
								<xsd:maxInclusive value="2100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="dayOfYear">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="1"/>
								<xsd:maxInclusive value="366"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="hourOfDay">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="23"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="minuteOfHour">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="59"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="secondOfMinute">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="59"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ieee754RealDoublePrecision">
		<xsd:sequence>
			<xsd:element name="signBit">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      Only the mantissa has a sign.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="positive"/>
								<xsd:enumeration value="negative"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="exponent">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The exponent does not have a sign bit. Rather it is offset such that '0' represents the lowest possible value.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="2047"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="mantissa">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="4503599627370495"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="AuthorityIdentifier">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CfdpActionCode">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="create"/>
			<xsd:enumeration value="delete"/>
			<xsd:enumeration value="rename"/>
			<xsd:enumeration value="append"/>
			<xsd:enumeration value="replace"/>
			<xsd:enumeration value="createDirectory"/>
			<xsd:enumeration value="removeDirectory"/>
			<xsd:enumeration value="denyFile"/>
			<xsd:enumeration value="denyDirectory"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CfdpConditionCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="noError"/>
			<xsd:enumeration value="posAckLimitReached"/>
			<xsd:enumeration value="keepAliveAckLimitreached"/>
			<xsd:enumeration value="invalidTransmissionMode"/>
			<xsd:enumeration value="fileStoreRejection"/>
			<xsd:enumeration value="fileChecksumFailure"/>
			<xsd:enumeration value="fileSizeError"/>
			<xsd:enumeration value="nakLimitReached"/>
			<xsd:enumeration value="inactivityDetected"/>
			<xsd:enumeration value="invalidFileStructure"/>
			<xsd:enumeration value="checkLimitReached"/>
			<xsd:enumeration value="reserved1"/>
			<xsd:enumeration value="reserved2"/>
			<xsd:enumeration value="reserved3"/>
			<xsd:enumeration value="suspendRequestReceived"/>
			<xsd:enumeration value="cancelRequestReceived"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CfdpEntityId">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="18446744073709551615"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CfdpFaultHandler">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="cancel"/>
			<xsd:enumeration value="suspend"/>
			<xsd:enumeration value="abandon"/>
			<xsd:enumeration value="ignore"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CfdpFaultOrAbandonedIndicationType">
		<xsd:sequence>
			<xsd:element name="transactionId">
				<xsd:complexType>
					<xsd:attribute name="value" type="CfdpTransactionIdType" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="conditionCode">
				<xsd:complexType>
					<xsd:attribute name="value" type="CfdpConditionCodeType" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="progress">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      Progress indicates how far the issuing CFDP entity had progressed
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CfdpOptionalTimer">
		<xsd:choice>
			<xsd:element name="timerValue">
				<xsd:complexType>
					<xsd:attribute name="value" type="CfdpTimer" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="notApplicable">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
 Unit is in seconds
 -->
	<xsd:simpleType name="CfdpTimer">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="4294967295"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
 The Transaction ID parameter shall uniquely identify a single instance of FDU
delivery and shall contain the ID of the source CFDP entity together with a sequence number
that is specific to that entity.
NOTES
1 At any moment, any given transaction ID is unique within the CFDP addressing
domain that encompasses the source CFDP entity.
2 The entity ID and transaction sequence number are variable in length to
accommodate differing mission requirements. A common parsing scheme is defined
to allow full interoperability despite differing parameter lengths.
 -->
	<xsd:simpleType name="CfdpTransactionIdType">
		<xsd:restriction base="xsd:hexBinary"/>
	</xsd:simpleType>
	<xsd:simpleType name="CfdpTransmissionModeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="acknowledged"/>
			<xsd:enumeration value="unacknowledged"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ConvolutionalCodeRate">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="rate1Over2"/>
			<xsd:enumeration value="rate2Over3"/>
			<xsd:enumeration value="rate3Over4"/>
			<xsd:enumeration value="rate5Over6"/>
			<xsd:enumeration value="rate7Over8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ConvolutionalCodeConfiguration">
		<xsd:sequence>
			<xsd:element name="generatorPolynomials">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="ccsds">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
        G1 transmitted first, G2 output is to be inverted, except for punctured codes.
        -->
									<xsd:simpleType>
										<xsd:restriction base="NULL"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="nonCcsds">
							<!--
     Also for the nonCcsds case the only constraint length supported is 7.
     -->
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="g1ConnectionVector">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="BitString">
														<xsd:minLength value="7"/>
														<xsd:maxLength value="7"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="g2ConnectionVector">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="BitString">
														<xsd:minLength value="7"/>
														<xsd:maxLength value="7"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="polynomialSequence">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:token">
														<xsd:enumeration value="g2G1"/>
														<xsd:enumeration value="g1G2"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="polynomialInversion">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:token">
														<xsd:enumeration value="noInversion"/>
														<xsd:enumeration value="g2Inversion"/>
														<xsd:enumeration value="g1Inversion"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="codeRate">
				<xsd:complexType>
					<xsd:attribute name="value" type="ConvolutionalCodeRate" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConvolutionalEncoding">
		<xsd:choice>
			<xsd:element name="notApplicable">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="applicable" type="ConvolutionalCodeConfiguration"/>
		</xsd:choice>
	</xsd:complexType>
	<!--
 Service Instance Identifier type for CSTSes
 -->
	<xsd:complexType name="CstsSvcInstanceId">
		<xsd:sequence>
			<xsd:element name="spacecraftId">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      As registered in the SANA Spacecraft Registry: https://sanaregistry.org/r/spacecraft
      -->
						<xsd:simpleType>
							<xsd:restriction base="ObjectIdentifier"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="facilityId">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      As registered in the SANA Service Site and Aperture Registry: https://sanaregistry.org/r/service_sites_apertures
      -->
						<xsd:simpleType>
							<xsd:restriction base="ObjectIdentifier"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="serviceType">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      As registered under the {...  ccsds   css   csts   services} subtree.
      -->
						<xsd:simpleType>
							<xsd:restriction base="ObjectIdentifier"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="svcInstanceNumber">
				<xsd:complexType>
					<xsd:attribute name="value" type="LongIntUnsigned" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
 Contains the data-unit-id of a data unit that has completed processing, and the service-instance-identifier of the source CSTS instance
 -->
	<xsd:complexType name="DataUnitProcessingCompletedEventValue">
		<xsd:sequence>
			<xsd:element name="dataUnitId">
				<xsd:complexType>
					<xsd:attribute name="value" type="LongIntPos" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="svcInstanceId" type="CstsSvcInstanceId"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DirectiveQualifier">
		<xsd:sequence>
			<xsd:element name="functResourceInstanceNumber">
				<xsd:complexType>
					<xsd:attribute name="value" type="LongIntUnsigned" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="directiveQualifierValues">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="paramId">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="ObjectIdentifier"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="parameterValue">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="paramTypeOid">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<xsd:simpleType>
																<xsd:restriction base="ObjectIdentifier"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="paramValue">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<xsd:simpleType>
																<xsd:restriction base="xsd:hexBinary"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
 ITU fequency bands
 -->
	<xsd:simpleType name="FreqBand">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="hf"/>
			<xsd:enumeration value="vhf"/>
			<xsd:enumeration value="uhf"/>
			<xsd:enumeration value="l"/>
			<xsd:enumeration value="s-ne"/>
			<xsd:enumeration value="s-ds"/>
			<xsd:enumeration value="c"/>
			<xsd:enumeration value="x-ne"/>
			<xsd:enumeration value="x-ds"/>
			<xsd:enumeration value="ku"/>
			<xsd:enumeration value="k"/>
			<xsd:enumeration value="ka-ne"/>
			<xsd:enumeration value="ka-ds"/>
			<xsd:enumeration value="ka-s"/>
			<xsd:enumeration value="v"/>
			<xsd:enumeration value="w"/>
			<xsd:enumeration value="mm"/>
			<xsd:enumeration value="o1"/>
			<xsd:enumeration value="o2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
 The Functional Resource Name.
 -->
	<xsd:complexType name="FrName">
		<xsd:sequence>
			<xsd:element name="frType">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The Object Identifier for the FR type.
      -->
						<xsd:simpleType>
							<xsd:restriction base="ObjectIdentifier"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="frin">
				<xsd:complexType>
					<xsd:attribute name="value" type="LongIntPos" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
 Conforms to the LabelListSet type specified in the version 2 CSTS Specification Framework, CCSDS 921.1-B-2
 -->
	<xsd:complexType name="LabelListSet">
		<xsd:sequence>
			<xsd:element name="element">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="defaultList">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         Only one list in the set can be the default list.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:boolean"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="labels">
							<!--
      These are the version 2 labels.
      -->
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="element">
										<xsd:simpleType>
											<xsd:restriction base="ObjectIdentifier"/>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="LdpcCodeRate">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="rate1Over2"/>
			<xsd:enumeration value="rate2Over3"/>
			<xsd:enumeration value="rate4Over5"/>
			<xsd:enumeration value="rate223Over255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
 The value associated with each code rate is the set of allowed information block sizes that are allowed for that code rate.
 -->
	<xsd:complexType name="LdpcCodeRateAndInfoBlockLength">
		<xsd:choice>
			<xsd:element name="rate1Over2">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:pattern value="1024|4096|16384"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rate2Over3">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:pattern value="1024|4096|16384"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rate4Over5">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:pattern value="1024|4096|16384"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rate223Over255">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      This rate is designated "rate 7/8" in CCSDS 131.0
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:pattern value="7136"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="LockStat">
		<xsd:sequence>
			<xsd:element name="carrierLock">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="notLocked"/>
								<xsd:enumeration value="locked"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="subcarrierLock">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="notLocked"/>
								<xsd:enumeration value="locked"/>
								<xsd:enumeration value="notApplicable"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="symbolStreamLock">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="notLocked"/>
								<xsd:enumeration value="locked"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="LongIntPos">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="4294967295"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LongIntUnsigned">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="4294967295"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
 The engineering unit is milliseconds.
 -->
	<xsd:simpleType name="MinAllowedDeliveryCycle">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="3600000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
 This parameter specifies the minimum permissible status report cycle in seconds.
 -->
	<xsd:simpleType name="MinAllowedReportingCycle">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="600"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="OperatorNotifyMessage">
		<xsd:sequence>
			<xsd:element name="severity">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="info"/>
								<xsd:enumeration value="warning"/>
								<xsd:enumeration value="alarm"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="messageId">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="messageText">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="128"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PcmFormat">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="nrzL"/>
			<xsd:enumeration value="nrzM"/>
			<xsd:enumeration value="nrzS"/>
			<xsd:enumeration value="biPhaseL"/>
			<xsd:enumeration value="biPhaseM"/>
			<xsd:enumeration value="biPhaseS"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProdConfigurationChangeEvtValue">
		<xsd:restriction base="NULL"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProdStat">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="configured"/>
			<xsd:enumeration value="operational"/>
			<xsd:enumeration value="interrupted"/>
			<xsd:enumeration value="halted"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PublishedIdentifier">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="16"/>
			<xsd:pattern value="[^\s]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RawRadiometricObservableGroup">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="sequentialRange"/>
			<xsd:enumeration value="dopplerInstantaneous"/>
			<xsd:enumeration value="sequentialReceiveTransmitDoppler"/>
			<xsd:enumeration value="dopplerIntegrated"/>
			<xsd:enumeration value="dopplerCount"/>
			<xsd:enumeration value="angle"/>
			<xsd:enumeration value="stec"/>
			<xsd:enumeration value="tropoDelay"/>
			<xsd:enumeration value="meteo"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Randomization">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="off"/>
			<xsd:enumeration value="on"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResourceStat">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="configured"/>
			<xsd:enumeration value="operational"/>
			<xsd:enumeration value="interrupted"/>
			<xsd:enumeration value="halted"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResponderPortId">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="128"/>
			<xsd:pattern value="[^\s]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RsInterleavingDepth">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="depth1"/>
			<xsd:enumeration value="depth2"/>
			<xsd:enumeration value="depth3"/>
			<xsd:enumeration value="depth4"/>
			<xsd:enumeration value="depth5"/>
			<xsd:enumeration value="depth8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SequenceOfGvcids">
		<xsd:choice>
			<xsd:element name="sequenceOfTmGvcids">
				<!--
   Gvcid also requires the TFVN. For TM frames (version 1), the TFVN is '00' binary.
   -->
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="8192">
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="tmScid">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="0"/>
														<xsd:maxInclusive value="1023"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="tmVcid">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="0"/>
														<xsd:maxInclusive value="7"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sequenceOfAosGvcids">
				<!--
   The TFVN of AOS frames (version 2) is always '01' binary.
   -->
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="16384">
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="aosScid">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="0"/>
														<xsd:maxInclusive value="255"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="aosVcid">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="0"/>
														<xsd:maxInclusive value="63"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sequenceOfUslpGvcids">
				<!--
   The TFVN of USLP frames (version 4) is always '1100' binary.
   -->
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="4194304">
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="uslpScid">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="0"/>
														<xsd:maxInclusive value="65535"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="uslpVcid">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="0"/>
														<xsd:maxInclusive value="63"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:simpleType name="ShortIntPos">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="65536"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ShortIntUnsigned">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="65536"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SleReportingCycle">
		<xsd:choice>
			<xsd:element name="reportingOff">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="reportingOn">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The engineeringUnit of this parameter is second
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="2"/>
								<xsd:maxInclusive value="600"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:simpleType name="SleRtnDeliveryMode">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="onlineTimely"/>
			<xsd:enumeration value="onlineComplete"/>
			<xsd:enumeration value="offline"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SleRtnProdStat">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="running"/>
			<xsd:enumeration value="interrupted"/>
			<xsd:enumeration value="halted"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SleSvcInstanceId">
		<xsd:restriction base="xsd:hexBinary">
			<xsd:minLength value="30"/>
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SleSvcInstanceState">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="unbound"/>
			<xsd:enumeration value="ready"/>
			<xsd:enumeration value="active"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
 The state of an instance of a CSTS that has a stateful prime procedure
 -->
	<xsd:simpleType name="StatefulCstsInstanceState">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="unbound"/>
			<xsd:enumeration value="boundReady"/>
			<xsd:enumeration value="boundActive"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
 State of an instance of a CSTS that has a stateless prime procedure
 -->
	<xsd:simpleType name="StatelessCstsInstanceState">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="unbound"/>
			<xsd:enumeration value="bound"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
 The engineering unit of this parameter is second.
 -->
	<xsd:simpleType name="SvcResponseTimeout">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="600"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TcLinkStat">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="fwdLinkStatNotAvailable"/>
			<xsd:enumeration value="noBitLock"/>
			<xsd:enumeration value="noRfAvailable"/>
			<xsd:enumeration value="nominal"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
 This type contains the elements that are common to all TDM path table records.
 -->
	<xsd:complexType name="TdmPathTableCommonElements">
		<xsd:sequence>
			<xsd:element name="trackingDataPathId">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The identifier of the path record in the TDM path table
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="apertureName">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The aperture name that populates the PARTICIPANT_1 field of the generated TDM segment.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="spaceUserNodeName">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The space user node name that populates the PARTICIPANT_2 field of the generated TDM segments.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="reportingPeriod">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      Specifies the period (in seconds) at which the TDM segments are to be generated.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="1"/>
								<xsd:maxInclusive value="65536"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="frName" type="FrName"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--
 This type applies to the version of the TdCstsProvider FR that is conformant to version 2 of the  CSTS Specification Framework.
 -->
	<xsd:simpleType name="TrackingDataType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="dopplerInstanteneous"/>
			<xsd:enumeration value="dopplerIntegrated"/>
			<xsd:enumeration value="range"/>
			<xsd:enumeration value="carrierPower"/>
			<xsd:enumeration value="carrierPowerToNoiseSpectralDensity"/>
			<xsd:enumeration value="rangingPowerToNoiseSpectralDensity"/>
			<xsd:enumeration value="receiveFrequency"/>
			<xsd:enumeration value="transmitFrequency"/>
			<xsd:enumeration value="transmitFrequencyRate"/>
			<xsd:enumeration value="antennaAngles"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TrueFalse">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="true"/>
			<xsd:enumeration value="false"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
 Specifies the Mux Control scheme type used by both the vlfUslpMcMuxContr and flfUslpMcMuxContr parameters
 -->
	<xsd:complexType name="UslpMcMuxContr">
		<xsd:choice>
			<xsd:element name="fifo">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="absolutePriority">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="65536">
						<xsd:element name="element">
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:minInclusive value="0"/>
									<xsd:maxInclusive value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="pollingVector">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="196608">
						<xsd:element name="element">
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:minInclusive value="0"/>
									<xsd:maxInclusive value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
 Specifies the Mux Control scheme type used by both the vlfUslpVcMuxContr and flfUslpVcMuxContr parameters
 -->
	<xsd:complexType name="UslpVcMuxContr">
		<xsd:choice>
			<xsd:element name="fifo">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="absolutePriority">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="64">
						<xsd:element name="element">
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:minInclusive value="0"/>
									<xsd:maxInclusive value="63"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="pollingVector">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="192">
						<xsd:element name="element">
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:minInclusive value="0"/>
									<xsd:maxInclusive value="63"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
 The data type of a parameter that configures and reports the USLP Master Channel that is provided by the given USLP VC Multiplexing FR instance. The Master Channel ID is the concatenation of TFVN and SCID. Given that this FR type handles only USLP frames, the TFVN is fixed and only the SCID is variable. This type is used by both the vlfUslpVcMux and flfUslpVcMux parameters.
 -->
	<xsd:complexType name="UslpVcMuxMc">
		<xsd:sequence>
			<xsd:element name="tfvn">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="BitString"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="scid">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="65535"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ValidatedRadiometricObservableGroup">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="sequentialRange"/>
			<xsd:enumeration value="dopplerInstantaneous"/>
			<xsd:enumeration value="sequentialReceiveTransmitDoppler"/>
			<xsd:enumeration value="dopplerIntegrated"/>
			<xsd:enumeration value="dopplerCount"/>
			<xsd:enumeration value="angle"/>
			<xsd:enumeration value="stec"/>
			<xsd:enumeration value="differencedRange"/>
			<xsd:enumeration value="differencedReceiveTransmitDoppler"/>
			<xsd:enumeration value="dorAndVlbiDelay"/>
			<xsd:enumeration value="clockBiasDrift"/>
			<xsd:enumeration value="tropoDelay"/>
			<xsd:enumeration value="meteo"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Ieee754RealDoublePrecisionPositive">
		<xsd:sequence>
			<xsd:element name="signBit">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      Only the mantissa has a sign.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="positive"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="exponent">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The exponent does not have a sign bit. Rather it is offset such that '0' represents the lowest possible value.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="2047"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="mantissa">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="4503599627370495"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
