SanaRegistry/MdCstsProvider.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
The MdCstsProvider FR has read-access to all parameters and is capable of being notified
 of all events of all functional resource instances that are executing within the
 same Service Package that contains the Monitored Data service instance. The MdCstsProvider
 FR corresponds to the functions specified in the Monitored CSTS Recommended Standard.

NOTE
 - The Monitored Data service does not support the production-configuration-change
 event because it is redundant with information that is already available through
 the MD service.


-->
	<xsd:element name="MdCstsProviderElement" type="MdCstsProviderType" substitutionGroup="ServiceManagementStratumParameters"/>
	<xsd:complexType name="MdCstsProviderType">
		<xsd:complexContent>
			<xsd:extension base="ServiceManagementStratumType">
				<xsd:all>
					<xsd:element name="mdServiceInstanceId" type="MdServiceInstanceIdNamed" minOccurs="0"/>
					<xsd:element name="mdInitiatorId" type="MdInitiatorIdNamed" minOccurs="0"/>
					<xsd:element name="mdResponderId" type="MdResponderIdNamed" minOccurs="0"/>
					<xsd:element name="mdResponderPortId" type="MdResponderPortIdNamed" minOccurs="0"/>
					<xsd:element name="mdResponseTimeout" type="MdResponseTimeoutNamed" minOccurs="0"/>
					<xsd:element name="mdMinAllowedDeliveryCycle" type="MdMinAllowedDeliveryCycleNamed" minOccurs="0"/>
					<xsd:element name="mdNamedLabelLists" type="MdNamedLabelListsNamed" minOccurs="0"/>
					<xsd:element name="mdNamedEventLists" type="MdNamedEventListsNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.90100"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This parameter reports the production status of the Monitored Data service instance.
 This parameter can take on one of four values:
- 'configured':  all monitorable
 functional resources of the Service Package have 'configured' resource status;
-
 ‘operational’:  the functional resources needed to perform at least one service
 of the Service Package are 'operational';
- ‘interrupted’:  The functional resources
 in the Service Package are incapable of performing any of the services;
- ‘halted’:
  the functional resources in the Service Package have been stopped by management
 action from performing any of the services.
-->
	<xsd:simpleType name="MdProdStat">
		<xsd:restriction base="ProdStat"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the identifier of the given service instance.
 
-->
	<xsd:complexType name="MdServiceInstanceIdNamed">
		<xsd:complexContent>
			<xsd:extension base="ServiceManagementStratumType">
				<xsd:sequence>
					<xsd:element name="MdServiceInstanceId" type="MdServiceInstanceId"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.90100.1.2.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="MdServiceInstanceId"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MdServiceInstanceId">
		<xsd:complexContent>
			<xsd:extension base="CstsSvcInstanceId"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the status of the given instance of the Monitored
 Data service. It can take on the following values:
- 'unbound':  all resources
 required to enable the provision of the service have been allocated, and all objects
 required to provide the service have been instantiated. However, no association
 yet exists between the user and the provider, i.e., the transfer service provider
 port is not bound;
- 'boundReady':  an association has been established between
 the user and the provider, and they may interact by means of the service operations.
 The user may invoke the GET invocation of the Information Query procedure and receive
 the requested parameter values. The user may activate instances of the Notification
 procedure and receive event notifications. The user may activate secondary instances
 of the On-Change-Option Cyclic Report procedure and receive periodic reports of
 the values of the parameters associated with those secondary procedure instances.
 The user may activate the prime instance of the On-Change-Option Cyclic Report procedure,
 which causes the provider to transition to the state 'active';
- 'boundActive':
  this state resembles state ‘boundReady’, except that in addition the user also
 receives periodic reports of the values of the parameters associated with the prime
 On-Change-Option Cyclic Report  procedure instance. The service instance remains
 in the 'boundActive' state until the user either invokes (a) the STOP operation
 of the prime On-Change-Option Cyclic Report procedure instance to cause the provider
 to cease sending periodic reports of the values of the parameters associated with
 the prime On-Change-Option Cyclic Report  procedure instance and transition back
 to state 'boundReady' or (b) the PEER-ABORT invocation to cause the service to transition
 back to the 'unbound' state.
-->
	<xsd:simpleType name="MdSvcInstanceState">
		<xsd:restriction base="StatefulCstsInstanceState"/>
	</xsd:simpleType>
	<!--
This parameter reports the identifier of the peer application, i.e., the authority
 on whose behalf the CSTS application entity is initiating an association with the
 Monitored Data service provider. The provider performs access control based on this
 parameter. It may also serve as key to further security relevant information such
 as the authentication level and method and the related password.

Given the security
 relevance of this parameter, specific mechanisms for setting this parameter when
 the FR instance is created and for the transfer of associated security relevant
 data might be specified in a bilateral agreement between service user and service
 provider. 
-->
	<xsd:complexType name="MdInitiatorIdNamed">
		<xsd:complexContent>
			<xsd:extension base="ServiceManagementStratumType">
				<xsd:attribute name="value" type="MdInitiatorId" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="MdInitiatorId"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.90100.1.4.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="MdInitiatorId">
		<xsd:restriction base="AuthorityIdentifier"/>
	</xsd:simpleType>
	<!--
This parameter reports the identifier of the Monitored Data service application.
 The user performs access conrol based on this parameter. It may also serve as key
 to further security relevant information such as the authentication level and method
 and the related password.

Given the security relevance of this parameter, specific
 mechanisms for setting this parameter when the FR instance is created and for the
 transfer of associated security relevant data might be specified in a bilateral
 agreement between service user and service provider. 
-->
	<xsd:complexType name="MdResponderIdNamed">
		<xsd:complexContent>
			<xsd:extension base="ServiceManagementStratumType">
				<xsd:attribute name="value" type="MdResponderId" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="MdResponderId"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.90100.1.5.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="MdResponderId">
		<xsd:restriction base="AuthorityIdentifier"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the port identifier to be used by the user
 to connect to the service provider. However, the parameter value is only a logical
 name that needs to be translated into the technology-specific addressing information
 required to establish a connection with the specific port of the responding CSTS
 application entity. As such this parameter is irrelevant for the service provider,
 but it may be needed for certain kind of gateways between service user and service
 provider application.
-->
	<xsd:complexType name="MdResponderPortIdNamed">
		<xsd:complexContent>
			<xsd:extension base="ServiceManagementStratumType">
				<xsd:attribute name="value" type="MdResponderPortId" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="MdResponderPortId"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.90100.1.6.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="MdResponderPortId">
		<xsd:restriction base="ResponderPortId"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the setting of the maximum time period in seconds
 permitted from when a confirmed MD-CSTS operation is invoked until the return is
 received by the invoker.

If a response is not received within that time period,
 the invoker may invoke the PEER-ABORT operation.

-->
	<xsd:complexType name="MdResponseTimeoutNamed">
		<xsd:complexContent>
			<xsd:extension base="ServiceManagementStratumType">
				<xsd:attribute name="value" type="MdResponseTimeout" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="MdResponseTimeout"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.90100.1.7.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="MdResponseTimeout">
		<xsd:restriction base="SvcResponseTimeout"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the minimum allowed delivery cycle of the On-Change-Option
 Cyclic Report procedure instance.
-->
	<xsd:complexType name="MdMinAllowedDeliveryCycleNamed">
		<xsd:complexContent>
			<xsd:extension base="ServiceManagementStratumType">
				<xsd:attribute name="value" type="MdMinAllowedDeliveryCycle" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="MdMinAllowedDeliveryCycle"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.90100.1.8.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="MdMinAllowedDeliveryCycle">
		<xsd:restriction base="MinAllowedDeliveryCycle"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the set of named parameter label lists to be
 used by the On-Change-Option Cyclic Report procedure instance(s) and the Information
 Query procedure instance. 
-->
	<xsd:complexType name="MdNamedLabelListsNamed">
		<xsd:complexContent>
			<xsd:extension base="ServiceManagementStratumType">
				<xsd:sequence>
					<xsd:element name="MdNamedLabelLists" type="MdNamedLabelLists"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.90100.1.9.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="MdNamedLabelLists"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MdNamedLabelLists">
		<xsd:complexContent>
			<xsd:extension base="LabelListSet"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This parameter configures and reports the set of named event label lists to be used
 by the Notification procedure.
-->
	<xsd:complexType name="MdNamedEventListsNamed">
		<xsd:complexContent>
			<xsd:extension base="ServiceManagementStratumType">
				<xsd:sequence>
					<xsd:element name="MdNamedEventLists" type="MdNamedEventLists"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.90100.1.10.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="MdNamedEventLists"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MdNamedEventLists">
		<xsd:complexContent>
			<xsd:extension base="LabelListSet"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This event notifies any change of the mdProdStat parameter value. 
-->
	<!--
The event value reports the mdProdStat parameter value that applies since the notified
 mdProdStatChange event has occurred.
-->
	<xsd:simpleType name="MdProdStatChangeEvtValue">
		<xsd:restriction base="MdProdStat"/>
	</xsd:simpleType>
	<!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
	<!--
The messages passed by means of the mdOperatorNotify event are classified in terms
 of severity as 'info', 'warning' or 'alarm'. To simplify filtering and searching
 for specific messages, a unique numerical identifier is assigned to each message
 string. The messages are free text such that equipment specific issues can be reported.
 
-->
	<xsd:complexType name="MdOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the MdCstsProvider
 FR type. 

NOTE - The  MonitoredDataCSTSProvider FR has no dynamically-modifiable
 configuration parameters because the CSTS procedures that comprise the Monitored
 Data service have no dynamically-modifiable configuration parameters.
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a set of parameter identifier and parameter value pairs. To be valid, the
 parameter identifier must reference a controllable parameter of the MdCstsProvider
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.
-->
	<xsd:complexType name="MdContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
