SanaRegistry/NonValRmDataStore.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
The NonValRmDataStore FR is a repository of TDM files containing non-validated (raw)
 radiometric, media, and meteoriological data collected at a given ESLT. An instance
 of the NonValRmDataStore FR records all TDM files generated by the NonValRmDataCollection
 FR instance with which it is associated. The applied data retention policy is FIFO.
 

The non-validated TDM files may be transferred to a different location for further
 processing, through an instance of the TGFT Host FR. 

The TDM files may also
 be validated locally with the ESLT. In this case, the TDM files are retrieved by
 the navigation team in charge of generating TDM files containing validated radiometric
 observables. The generation of the validated radiometric data may require the processing
 of observables collected at other ESLTs and/or other facilities. How such externally-generated
 data is retrieved by the navigation team , and the resources used by that team to
 generate the validated radiometric dats, is not standardized and not represented
 by any schedulable functional resources. Following validation of the data, the resultant
 validated TDM files are stored in an instance of the ValRmDataStore FR.
-->
	<xsd:element name="NonValRmDataStoreElement" type="NonValRmDataStoreType" substitutionGroup="OfflineDataStorageStratumParameters"/>
	<xsd:complexType name="NonValRmDataStoreType">
		<xsd:complexContent>
			<xsd:extension base="OfflineDataStorageStratumType">
				<xsd:all>
					<xsd:element name="nonValRmDataStoreAllocatedStorage" type="NonValRmDataStoreAllocatedStorageNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.70300"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the NonValRmDataStore FR resource status and can
 take on four values:
- 'configured':  the associated resource has been configured;
-
 'operational': the associated resource is active;
- 'interrupted': a failure has
 been detected;
- 'halted': the associated resource has been taken out of service.

NOTE
 - Because it is an offline data storage FR, the resource status of the NonValRmDataStore
 FR is independent of any Service Package that it may be included in. 
-->
	<xsd:simpleType name="NonValRmDataStoreResourceStat">
		<xsd:restriction base="ResourceStat"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the maximum storage (in megabytes) allocated
 to the FR instance for all TDM files generated by the associated NonValRmDataCollection
 FR instance.
-->
	<xsd:complexType name="NonValRmDataStoreAllocatedStorageNamed">
		<xsd:complexContent>
			<xsd:extension base="OfflineDataStorageStratumType">
				<xsd:attribute name="value" type="NonValRmDataStoreAllocatedStorage" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="NonValRmDataStoreAllocatedStorage"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.70300.1.2.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="NonValRmDataStoreAllocatedStorage">
		<xsd:restriction base="LongIntPos"/>
	</xsd:simpleType>
	<!--
This parameter reports the size (in megabytes) of the currernly available storage
 in the NonValRmDataStore FR instance.
-->
	<xsd:simpleType name="NonValRmDataStoreAvailableStorage">
		<xsd:restriction base="LongIntUnsigned"/>
	</xsd:simpleType>
	<!--
This event notifies any change of the nonValRmDataStoreResourceStat parameter.
-->
	<!--
The event value reports the nonValRmDataStoreResourceStat value that applies since
 the notified nonValRmDataStoreResourceStatChange event occurred.
-->
	<xsd:simpleType name="NonValRmDataStoreResourceStatChangeEvtValue">
		<xsd:restriction base="NonValRmDataStoreResourceStat"/>
	</xsd:simpleType>
	<!--
This event notifies the overflow of the NonValRmDataStore beyond its allocated storage
 space.
-->
	<!--
This event does not provide any additional information.
-->
	<xsd:simpleType name="NonValRmDataStoreOverflowEvtValue">
		<xsd:restriction base="NULL"/>
	</xsd:simpleType>
	<!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
	<!--
The messages passed by means of the nonValRmDataStoreOperatorNotify event are classified
 in terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and
 searching for specific messages, a unique numerical identifier is assigned to each
 message string. The messages are free text such that equipment specific issues can
 be reported. 
-->
	<xsd:complexType name="NonValRmDataStoreOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the NonValRmDataStore
 FR type. 
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a set of parameter identifier and parameter value pairs. To be valid, the
 parameter identifier must reference a controllable parameter of the NonValRmDataStore
 FR and the parameter value must be of the same type as the parameter value that
 shall be set. 
-->
	<xsd:complexType name="NonValRmDataStoreContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
