SanaRegistry/NonValRmDataCollection.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
This FR collects the raw, i.e., non-validated radiometric observables and generates
 TDM files where each file contains only the observable group per file as identified
 by the element observableGroupType of the nonValRmFiles parameter. Some observable
 group elements may be optional. The actual keywords and associated values contained
 in the TDM file data segments are identified by the DATA_TYPES keyword value in
 the Metadata Section.

The TDM Header keyword values shall be set as agreed between
 provider and user. Therefore the setting of these keywords is not covered by parameters
 of this FR.

Some of the TDM Metadata keyword section values will be the same
 for all files generated by this FR. The value assigned to the keyword TIME_SYSTEM
 is always 'UTC'. If the keyword MODE is applicable, the assigned value is always
 'SEQUENTIAL'.  The value assigned to the DATA_QUALITY keyword is always 'RAW' and
 the value assigned to the CORRECTION_APPLIED keyword is always 'NO'.

The observable
 groups for which TDM files shall be generated are specified by the parameter nonValRmFiles
 which also specifies the sampling rate and the observation time that shall be covered
 by each file containing the given observable group.

The collection of data is
 limited to data available at a single ESLT. Some observables specified in CCSDS
 503.0-B-2 require data from more than one ESLT. As a consequence different paths
 need to be specified for differenced range, differenced Doppler and VLBI data) or
 none of the participants is a spacecraft and no path is specified (clock bias and
 clock drift). Such data are not collected by this FR.

By convention, the PARTICIPANT_1
 is an RF antenna. Therefore this FR does not collect optical or radar observables
 as covered by the MAG and RCS keywords.

Although not explicitly specified by
 the parameters of this FR, the keywords META_START and META_STOP shall delimit each
 Metadata Section. Likewise each Data Section shall be delimited by the keywords
 DATA_START and DATA_STOP, respectively. Furthermore, each Metadata Section shall
 contain the START_TIME and the STOP_TIME keywords and their values.

Whenever
 the generation of a TDM file by this FR is completed, it is passed to the NonValRmDataStore
 FR. 
-->
	<xsd:element name="NonValRmDataCollectionElement" type="NonValRmDataCollectionType" substitutionGroup="SLSRadiometricDataProductionStratumParameters"/>
	<xsd:complexType name="NonValRmDataCollectionType">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:all>
					<xsd:element name="nonValRmCommonMetadata" type="NonValRmCommonMetadataNamed" minOccurs="0"/>
					<xsd:element name="nonValRmFiles" type="NonValRmFilesNamed" minOccurs="0"/>
					<xsd:element name="nonValRmRangeMetadata" type="NonValRmRangeMetadataNamed" minOccurs="0"/>
					<xsd:element name="nonValRmDoppInstMetadata" type="NonValRmDoppInstMetadataNamed" minOccurs="0"/>
					<xsd:element name="nonValRmReceiveTransmitFreqMetadata" type="NonValRmReceiveTransmitFreqMetadataNamed" minOccurs="0"/>
					<xsd:element name="nonValRmDoppIntMetadata" type="NonValRmDoppIntMetadataNamed" minOccurs="0"/>
					<xsd:element name="nonValRmDoppCountMetadata" type="NonValRmDoppCountMetadataNamed" minOccurs="0"/>
					<xsd:element name="nonValRmAngleMetadata" type="NonValRmAngleMetadataNamed" minOccurs="0"/>
					<xsd:element name="nonValRmStecMetadata" type="NonValRmStecMetadataNamed" minOccurs="0"/>
					<xsd:element name="nonValRmTropoMetadata" type="NonValRmTropoMetadataNamed" minOccurs="0"/>
					<xsd:element name="nonValRmMeteoMetadata" type="NonValRmMeteoMetadataNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60200"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the NonValRmDataCollection FR resource status and
 can take on four values:
- 'configured':  the associated equipment has been configured
 to ingest observables as input to the production of TDM files;
- 'operational':
  the associated equipment is ingesting radiometric observables and produces the
 associated TDM files;
- 'interrupted':  a failure has been detected;
- 'halted':
  the associated equipment has been taken out of service.
-->
	<xsd:simpleType name="NonValRmResourceStat">
		<xsd:restriction base="ResourceStat"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports those TDM Metadata keyword settings common
 to all observable types.

The time system used for the generation of the TDM files
 shall always be UTC. Therefore the keyword TIME_SYSTEM in the TDM Metadata Section
 shall always be set to 'UTC' and this parameter does not permit setting this keyword
 to a different value. 

For those observables where the MODE keyword applies,
 it shall always be set to 'SEQUENTIAL' and this parameter does not permit setting
 this keyword to a different value. Files containing differenced data are not generated
 by this FR.

For those observables where the Metadata segments contain the keywords
 TRANSMIT_DELAY_1 and RECEIVE_DELAY_1, the provider is assumed to have obtained the
 values typically by means of range calibration. Therefore there is no need to configure
 these values by means of dedicated (sub-)parameters. The values shall be those valid
 for the given transmit band and receive band.    
-->
	<xsd:complexType name="NonValRmCommonMetadataNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="NonValRmCommonMetadata" type="NonValRmCommonMetadata"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60200.1.2.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="NonValRmCommonMetadata"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NonValRmCommonMetadata">
		<xsd:sequence>
			<xsd:element name="participant1">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       This string identifies the antenna used.
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="participant2" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       This string identifies the spacecraft where that string shall be valid regardless of the frequency band(s) used in obtaining the observables. In case the observables in the TDM file are not signal related, the PARTICIPANT_2 keyword is omitted. 
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="trackId" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       The specified string is the prefix of the TRACK_ID keyword value in all Metadata Sections of the TDM file generated in this observation session. In each section  a monotonically increasing four-digit number is appended to this prefix starting with 0000. This keyword may be omitted.
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter configures and reports the set of TDM files that shall be generated
 where for each file the observable group to be included in the file is identified.
 Furthermore the time period to be covered by each of these files is specified. Whenever
 that period expires, the production of a new file is started.

The configuration
 specific to a given observableGroupType is specified by a dedicated parameter nonValRmxxxMetadata
 where xxx is a string identifying the observableGroupType. 
-->
	<xsd:complexType name="NonValRmFilesNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="NonValRmFiles" type="NonValRmFiles"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60200.1.3.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="NonValRmFiles"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NonValRmFiles">
		<xsd:sequence minOccurs="1" maxOccurs="9">
			<xsd:element name="element">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="observableGroupType">
							<xsd:complexType>
								<xsd:attribute name="value" type="RawRadiometricObservableGroup" use="required"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="dataCollectionPeriods">
							<!--
       This element specifies when data of the given observableGroupType shall be collected.
       -->
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="element">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="dataCollectionStartTime" type="TimeTag"/>
												<xsd:element name="dataCollectionStopTime" type="TimeTag"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="observationPeriodPerFile">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
          The engineering unit of this element is second.
          -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="1"/>
											<xsd:maxInclusive value="86400"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="metadataDataSectionPeriod">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
          This element specifies the time period covered by each Metadata and Data Section in the TDM file. The engineering unit is 1/10 second.
          -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="1"/>
											<xsd:maxInclusive value="864000"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="observableSamplingRate">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
          The engineering unit of this element is 1/10 second and specifies the time between consecutive observable samples.
          -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="1"/>
											<xsd:maxInclusive value="864000"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter configures and reports the set of TDM Metadata keywords and their
 values applicable in case the TDM data segments of the given TDM file to be generated
 contain range observables. The data segments of the TDM file contain the RANGE keyword
 and its values. Optionally, the data segments may also contain the PR_N0 keyword
 and its values. The presence or absence of the PR_N0 keyword is controlled by the
 element dataTypes of the rangeObservables sequence.

For some keywords only a
 single value is permissible and therefore they cannot be configured by dedicated
 (sub-)parameters. These keywords and their values are:
PATH = '1,2,1'
TIMETAG_REF
 = 'RECEIVE'

This observableGroupType may be collected for different combinations
 of TRANSMIT_BAND and RECEIVE_BAND. All these observables will be inserted in a common
 TDM file, but for each TRANSMIT_BAND and RECEIVE_BAND combination dedicated metadat
 and data segments are generated.
 




-->
	<xsd:complexType name="NonValRmRangeMetadataNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="NonValRmRangeMetadata" type="NonValRmRangeMetadata"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60200.1.4.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="NonValRmRangeMetadata"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NonValRmRangeMetadata">
		<xsd:choice>
			<xsd:element name="noRangeObservables">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rangeObservables">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="commonRangeMetadataElements">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="rangeModulus" type="Ieee754RealDoublePrecisionPositive"/>
									<xsd:element name="rangeUnits">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           The engineering unit can be km (which is preferred) or second or RU (range unit). The applicable string is assigned to the RANGE_UNITS keyword. RU is to be used in case the forward link frequency is changing.  The method of calculating the range unit shall be documented by the provider.
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="integrationRef">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           This element specifies the reference of the timetag of the data to the integration interval. The applicable string is assigned to the INTEGRATION_REF keyword. 
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="ephemerisName" minOccurs="0">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           If this optional element is present, the EPHEMERIS_NAME_2 keyword shall be part of the Metadata Sections of the TDM file and its value shall be set to the string specified by this element.
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transmitReceiveBandPairSets">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="element">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="transmitBand">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The TRANSMIT_BAND keyword shall be part of the Metadata Sections of the TDM file and its value shall be the string specified by this element.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="receiveBand">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The RECEIVE_BAND keyword shall be part of the Metadata Sections of the TDM file and its value shall be the string specified by this element.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="rangeMode">
													<!--
           This element indicates if the range tones are coherent with the forward link carrier (which in general is the case) or if the range tones have a constant frequency. The applicable string is assigned to the RANGE_MODE keyword.
           -->
													<xsd:complexType>
														<xsd:choice>
															<xsd:element name="constant">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<!--
                In this case the value assigned to the RANGE_MODE keyword is 'CONSTANT' and the keywords TURNAROUND_NUMERATOR and TURNAROUND_DENOMINATOR are absent.
                -->
																		<xsd:simpleType>
																			<xsd:restriction base="NULL"/>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="coherent">
																<!--
             In this case the value assigned to the RANGE_MODE keyword is 'COHERENT'.  
             -->
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="turnaroundNumerator">
																			<xsd:complexType>
																				<xsd:attribute name="value" use="required">
																					<!--
                  The numerator required for calculating the coherent receive frequency from the transmit frequency. The value is assigned to the TURNAROUND_NUMERATOR keyword.
                  -->
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:integer">
																							<xsd:minInclusive value="1"/>
																							<xsd:maxInclusive value="32768"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="turnaroundDenominator">
																			<xsd:complexType>
																				<xsd:attribute name="value" use="required">
																					<!--
                  The denominator required for calculating the coherent receive frequency from the transmit frequency. The value is assigned to the TURNAROUND_DENOMINATOR keyword.
                  -->
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:integer">
																							<xsd:minInclusive value="1"/>
																							<xsd:maxInclusive value="32786"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
														</xsd:choice>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="transmitDelay2" type="Ieee754RealDoublePrecisionPositive" minOccurs="0"/>
												<xsd:element name="receiveDelay2" type="Ieee754RealDoublePrecisionPositive" minOccurs="0"/>
												<xsd:element name="dataTypes">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              This element specifies which keywords and associated values are part of the data segments of the given TDM file. The string is assigned to the DATA_TYPES keyword.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the set of TDM Metadata keywords and their
 values applicable in case the TDM data segments of the given TDM file to be generated
 contain instantaneous Doppler observables. Instantaneous Doppler observables shall
 only be collected if the transmit frequency is constant, i.e. not in combination
 with a ramped forward link. 

The data segments of the TDM file contain the DOPPLER_INSTANTANEOUS,
 the TRANSMIT_FREQ_1, and the RECEIVE_FREQ keywords and their values. Optionally,
 the data segments may also contain the CARRIER_POWER and the PC_N0 keywords and
 their values. The presence or absence of the CARRIER_POWER and the PC_N0 keywords
 is controlled by the element dataTypes of the instantaneousDopplerObservables sequence.

For
 some keywords only a single value is permissible and therefore they cannot be configured
 by dedicated (sub-)parameters. These keywords and their values are:
PATH = '1,2,1'
TIMETAG_REF
 = 'RECEIVE'

This observableGroupType may be collected for different combinations
 of TRANSMIT_BAND and RECEIVE_BAND. All these observables will be inserted in a common
 TDM file, but for each TRANSMIT_BAND and RECEIVE_BAND combination dedicated segments
 are generated.
-->
	<xsd:complexType name="NonValRmDoppInstMetadataNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="NonValRmDoppInstMetadata" type="NonValRmDoppInstMetadata"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60200.1.5.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="NonValRmDoppInstMetadata"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NonValRmDoppInstMetadata">
		<xsd:choice>
			<xsd:element name="noInstantaneousDopplerObservables">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="instantaneousDopplerObservables">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="commonInstantaneousDopplerMetadataElements">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         For this observableGroupType only the optional ephemeris name is part of the commonInstantaneousDopplerMetadataElements. If this optional element is present, the EPHEMERIS_NAME_2 keyword shall be part of the Metadata Sections of the TDM file and its value shall be set to the string specified by this element.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:string"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transmitReceiveBandPairSets">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="element">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="transmitBand">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The TRANSMIT_BAND keyword shall be part of the Metadata Sections of the TDM file and its value shall be the string specified by this element.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="receiveBand">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The RECEIVE_BAND keyword shall be part of the Metadata Sections of the TDM file and its value shall be the string specified by this element.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="turnaroundNumerator">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The numerator required for calculating the coherent receive frequency from the transmit frequency. The value is assigned to the TURNAROUND_NUMERATOR keyword.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:integer">
																	<xsd:minInclusive value="1"/>
																	<xsd:maxInclusive value="32786"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="turnaroundDenominator">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The denominator required for calculating the coherent receive frequency from the transmit frequency. The value is assigned to the TURNAROUND_DENOMINATOR keyword.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:integer">
																	<xsd:minInclusive value="1"/>
																	<xsd:maxInclusive value="32786"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="transmitDelay2" type="Ieee754RealDoublePrecisionPositive" minOccurs="0"/>
												<xsd:element name="receiveDelay2" type="Ieee754RealDoublePrecisionPositive" minOccurs="0"/>
												<xsd:element name="dataTypes">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              This element specifies which keywords and associated values are part of the data segments of the given TDM file. The string is assigned to the DATA_TYPES keyword.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the set of TDM Metadata keywords and their
 values applicable in case the TDM data segments of the given TDM file to be generated
 contain received frequency and transmitted frequency observables. 

The data segments
 of the TDM file contain the keywords RECEIVE_FREQ_1,  TRANSMIT_FREQ_1, RECEIVE_PHASE_CT_1,
 TRANSMIT_PHASE_CT_1 and their values. In case the element fwdLinkType is 'changingFreq',
 the data segments shall also contain the keyword TRANSMIT_FREQ_RATE_1 and its values.
 Optionally, the data segments may also contain the CARRIER_POWER and the PC_N0 keywords
 and their values. The presence or absence of the CARRIER_POWER and the PC_N0 keywords
 is controlled by the element dataTypes of the receiveTransmitFreqObservables sequence.

The
 frequencies and phase counts shall be at 'sky level', i.e. the actual received and
 transmitted frequencies. Therefore the FREQ_OFFSET keyword shall not be part of
 the Metadata Sections keywords or it must be set to '0'.

For some keywords only
 a single value is permissible and therefore not configured by dedicated (sub-)parameters.
 These keywords and their values are:
PATH = '1,2,1'
TIMETAG_REF = 'RECEIVE'

This
 observableGroupType may be collected for different combinations of TRANSMIT_BAND
 and RECEIVE_BAND. All these observables will be inserted in a common TDM file, but
 for each TRANSMIT_BAND and RECEIVE_BAND combination dedicated segments are generated.
-->
	<xsd:complexType name="NonValRmReceiveTransmitFreqMetadataNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="NonValRmReceiveTransmitFreqMetadata" type="NonValRmReceiveTransmitFreqMetadata"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60200.1.6.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="NonValRmReceiveTransmitFreqMetadata"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NonValRmReceiveTransmitFreqMetadata">
		<xsd:choice>
			<xsd:element name="noReceiveTransmitFreqObservables">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="receiveTransmitFreqObservables">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="commonReceiveTransmitFreqMetadataElements">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="integrationRef">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           This element specifies the reference of the timetag of the data to the integration interval. The applicable string is assigned to the INTEGRATION_REF keyword. 
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="ephemerisName" minOccurs="0">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           If this optional element is present, the EPHEMERIS_NAME_2 keyword shall be part of the Metadata Sections of the TDM file and its value shall be set to the string specified by this element.
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="transmitReceiveBandPairSets">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="element">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="transmitBand">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The TRANSMIT_BAND keyword shall be part of the Metadata Sections of the TDM file and its value shall be the string specified by this element.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="receiveBand">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The RECEIVE_BAND keyword shall be part of the Metadata Sections of the TDM file and its value shall be the string specified by this element.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="turnaroundNumerator">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The numerator required for calculating the coherent receive frequency from the transmit frequency. The value is assigned to the TURNAROUND_NUMERATOR keyword.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:integer">
																	<xsd:minInclusive value="1"/>
																	<xsd:maxInclusive value="32786"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="turnaroundDenominator">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The denominator required for calculating the coherent receive frequency from the transmit frequency. The value is assigned to the TURNAROUND_DENOMINATOR keyword.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:integer">
																	<xsd:minInclusive value="1"/>
																	<xsd:maxInclusive value="32786"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="fwdLinkType">
													<!--
           Only if fwdLinkType is 'changingFreq', the Data Section of the TDM file section contains the keyword  TRANSMIT_FREQ_RATE and its values.
           -->
													<xsd:complexType>
														<xsd:choice>
															<xsd:element name="constantFreq">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<xsd:simpleType>
																			<xsd:restriction base="NULL"/>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="changingFreq">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="interpolation">
																			<xsd:complexType>
																				<xsd:attribute name="value" use="required">
																					<!--
                  The string shall identify the interpolation method to be used to calculate the transmit phase count at a given time. This is the value of the INTERPOLATION keyword of the Metadata Sections.
                  -->
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:string"/>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="interpolationDegree">
																			<xsd:complexType>
																				<xsd:attribute name="value" use="required">
																					<!--
                  This element specifies the degree of the interpolating polynomial used to calculate the transmit phase count at a given time. It is the value of the INTERPOLATION_DEGREE keyword in the Metadata Sections.
                  -->
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:integer">
																							<xsd:minInclusive value="0"/>
																							<xsd:maxInclusive value="50"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
														</xsd:choice>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="transmitDelay2" type="Ieee754RealDoublePrecisionPositive" minOccurs="0"/>
												<xsd:element name="receiveDelay2" type="Ieee754RealDoublePrecisionPositive" minOccurs="0"/>
												<xsd:element name="integrationInterval" type="Ieee754RealDoublePrecisionPositive"/>
												<xsd:element name="dataTypes">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              This element specifies which keywords and associated values are part of the data segments of the given TDM file. The string is assigned to the DATA_TYPES keyword.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the set of TDM Metadata keywords and their
 values applicable in case the TDM data segments of the given TDM file to be generated
 contain the integrated Doppler observables.
Integrated Doppler observables shall
 only be collected if the transmit frequency is constant, i.e., not in combination
 with a ramped forward link. 

The data segments of the TDM file contain the DOPPLER_INTEGRATED,
 the TRANSMIT_FREQ_1 and the RECEIVE_FREQ keywords and their values. Optionally,
 the data segments may also contain the CARRIER_POWER and the PC_N0 keywords and
 their values. The presence or absence of the CARRIER_POWER and the PC_N0 keywords
 is controlled by the element dataTypes of the integratedDopplerObsevables sequence.

For
 some keywords only a single value is permissible and therefore they cannot be configured
 by dedicated (sub-)parameters. These keywords and their values are:
PATH = '1,2,1'
TIMETAG_REF
 = 'RECEIVE'

This observableGroupType may be collected for different combinations
 of TRANSMIT_BAND and RECEIVE_BAND. All these observables will be inserted in a common
 TDM file, but for each TRANSMIT_BAND and RECEIVE_BAND combination dedicated segments
 are generated.
-->
	<xsd:complexType name="NonValRmDoppIntMetadataNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="NonValRmDoppIntMetadata" type="NonValRmDoppIntMetadata"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60200.1.7.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="NonValRmDoppIntMetadata"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NonValRmDoppIntMetadata">
		<xsd:choice>
			<xsd:element name="noIntegratedDopplerObservables">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="integratedDopplerObsevables">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="commonIntegratedDopplerMetadataElements">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="integrationRef">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           This element specifies the reference of the timetag of the data to the integration interval. The applicable string is assigned to the INTEGRATION_REF keyword. 
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="ephemerisName" minOccurs="0">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           If this optional element is present, the EPHEMERIS_NAME_2 keyword shall be part of the Metadata Sections of the TDM file and its value shall be set to the string specified by this element.
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="integratedDopplerTransmitReceiveBandPairSets">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="element">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="transmitBand">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The TRANSMIT_BAND keyword shall be part of the Metadata Sections of the TDM file and its value shall be the string specified by this element.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="receiveBand">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The RECEIVE_BAND keyword shall be part of the Metadata Sections of the TDM file and its value shall be the string specified by this element.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="turnaroundNumerator">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The numerator required for calculating the coherent receive frequency from the transmit frequency. The value is assigned to the TURNAROUND_NUMERATOR keyword.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:integer">
																	<xsd:minInclusive value="1"/>
																	<xsd:maxInclusive value="32786"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="turnaroundDenominator">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The denominator required for calculating the coherent receive frequency from the transmit frequency. The value is assigned to the TURNAROUND_DENOMINATOR keyword.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:integer">
																	<xsd:minInclusive value="1"/>
																	<xsd:maxInclusive value="32786"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="transmitDelay2" type="Ieee754RealDoublePrecisionPositive" minOccurs="0"/>
												<xsd:element name="receiveDelay2" type="Ieee754RealDoublePrecisionPositive" minOccurs="0"/>
												<xsd:element name="integrationInterval" type="Ieee754RealDoublePrecisionPositive"/>
												<xsd:element name="dataTypes">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              This element specifies which keywords and associated values are part of the data segments of the given TDM file. The string is assigned to the DATA_TYPES keyword.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the set of TDM Metadata keywords and their
 values applicable in case the TDM data segments of the given TDM file to be generated
 contain Doppler Count observables.

The data segments of the TDM file contain
 the DOPPLER_COUNT, the TRANSMIT_FREQ_1 and the RECEIVE_FREQ keywords and their values.
 Optionally, the data segments may also contain the CARRIER_POWER and the PC_N0 keywords
 and their values. The presence or absence of the CARRIER_POWER and the PC_N0 keywords
 is controlled by the element dataTypes of the dopplerCountObservables sequence.

For
 some keywords only a single value is permissible and therefore not configured by
 dedicated (sub-)parameters. These keywords and their values are:
PATH = '1,2,1'
TIMETAG_REF
 = 'RECEIVE'

This observableGroupType may be collected for different combinations
 of TRANSMIT_BAND and RECEIVE_BAND. All these observables will be inserted in a common
 TDM file, but for each TRANSMIT_BAND and RECEIVE_BAND combination dedicated segments
 are generated.
-->
	<xsd:complexType name="NonValRmDoppCountMetadataNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="NonValRmDoppCountMetadata" type="NonValRmDoppCountMetadata"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60200.1.8.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="NonValRmDoppCountMetadata"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NonValRmDoppCountMetadata">
		<xsd:choice>
			<xsd:element name="noDopplerCountObservables">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="dopplerCountObservables">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="commonDopplerCountMetadataElements">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="integrationRef">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           This element specifies the reference of the timetag of the data to the integration interval. The applicable string is assigned to the INTEGRATION_REF keyword. 
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="ephemerisName" minOccurs="0">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           If this optional element is present, the EPHEMERIS_NAME_2 keyword shall be part of the Metadata Sections of the TDM file and its value shall be set to the string specified by this element.
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="dopplerCountTransmitReceiveBandPairSets">
							<!--
      In addition to the keywords and theis values specified by the set of sequences below, the metadata of each section shall contain the keyword DOPPLER_COUNT_ROLLOVER, the value of which is the result of the observation and therefore not configured.
      -->
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="element">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="transmitBand">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The TRANSMIT_BAND keyword shall be part of the Metadata Sections of the TDM file and its value shall be the string specified by this element.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="receiveBand">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The RECEIVE_BAND keyword shall be part of the Metadata Sections of the TDM file and its value shall be the string specified by this element.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="turnaroundNumerator">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The numerator required for calculating the coherent receive frequency from the transmit frequency. The value is assigned to the TURNAROUND_NUMERATOR keyword.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:integer">
																	<xsd:minInclusive value="1"/>
																	<xsd:maxInclusive value="32786"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="turnaroundDenominator">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The denominator required for calculating the coherent receive frequency from the transmit frequency. The value is assigned to the TURNAROUND_DENOMINATOR keyword.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:integer">
																	<xsd:minInclusive value="1"/>
																	<xsd:maxInclusive value="32786"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="transmitDelay2" type="Ieee754RealDoublePrecisionPositive" minOccurs="0"/>
												<xsd:element name="receiveDelay2" type="Ieee754RealDoublePrecisionPositive" minOccurs="0"/>
												<xsd:element name="dopplerCountScale">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              The DOPPLER_COUNT keyword values reported in the data segment need to be divided by the value of the DOPPLER_COUNT_SCALE keyword in order to obtain the actual phase cycle counts.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:integer">
																	<xsd:minInclusive value="1"/>
																	<xsd:maxInclusive value="1000000"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="dopplerCountBias" type="Ieee754RealDoublePrecisionPositive"/>
												<xsd:element name="integrationInterval" type="Ieee754RealDoublePrecisionPositive"/>
												<xsd:element name="dataTypes">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
              This element specifies which keywords and associated values are part of the data segments of the given TDM file. The string is assigned to the DATA_TYPES keyword.
              -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the set of TDM Metadata keywords and their
 values applicable in case the TDM data segments of the given TDM file to be generated
 contain antenna angles observables. The data segments of the TDM file shall contain
 the keywords ANGLE_1 and ANGLE_2 and for consistency with the Antenna FR ANGLE_1
 value shall report the azimuth and ANGLE_2 shall report the elevation. Therefore
 the only permissible value of the ANGLE_TYPE keyword is 'AZEL'.

For some keywords
 only a single value is permissible and therefore not configured by dedicated (sub-)parameters.
 These keywords and their values are:
PATH = '2,1'
ANGLE_TYPE = 'AZEL'
DATA_TYPES
 = 'ANGLE_1, ANGLE_2'

The REFERENCE_FRAME keyword shall be absent because the
 ANGLE_TYPE is 'AZEL'.

This observableGroupType can be collected only for a single
 receive band. The RECEIVE_BAND keyword shall be set in accordance with the frequency
 band in which the closed-loop pointing of the aperture is operating.
-->
	<xsd:complexType name="NonValRmAngleMetadataNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="NonValRmAngleMetadata" type="NonValRmAngleMetadata"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60200.1.9.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="NonValRmAngleMetadata"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NonValRmAngleMetadata">
		<xsd:choice>
			<xsd:element name="noAngleObservables">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="angleObservables">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ephemerisName" minOccurs="0">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         If this optional element is present, the EPHEMERIS_NAME_2 keyword shall be part of the Metadata Sections of the TDM file and its value shall be set to the string specified by this element.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:string"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="receiveBand">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         If this optional element is present, the RECEIVE_BAND keyword shall be part of the Metadata Sections of the TDM file and its value shall be the string specified by this element.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:string"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the set of TDM Metadata keywords and their
 values applicable in case the TDM data segments of the given TDM file to be generated
 contain the slant total electron count observable. The data segments of the TDM
 file shall contain the keyword STEC and its values.

For some keywords only a
 single value is permissible and therefore they cannot be configured by dedicated
 (sub-)parameters. These keywords and their values are:
PATH = '2,1'
DATA_TYPES
 = 'STEC'
-->
	<xsd:complexType name="NonValRmStecMetadataNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="NonValRmStecMetadata" type="NonValRmStecMetadata"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60200.1.10.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="NonValRmStecMetadata"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NonValRmStecMetadata">
		<xsd:choice>
			<xsd:element name="noStecObservables">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="stecObservables">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       For this observableGroupType only the optional ephemeris name is part of the commonInstantaneousDopplerMetadataElements. If this optional element is present, the EPHEMERIS_NAME_2 keyword shall be part of the Metadata Sections of the TDM file and its value shall be set to the string specified by this element.
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the set of TDM Metadata keywords and their
 values applicable in case the TDM data segments of the given TDM file to be generated
 contain the dry and wet zenith delay through the troposhere observables. In these
 TDM files, the MODE keyword is absent. 

The data segments of the TDM file shall
 contain the keywords TROPO_DRY and TROPO_WET and their values.

For the keyword
 DATA_TYPES only a single value is permissible and therefore it cannot be configured
 by a dedicated (sub-)parameter. 

DATA_TYPES = 'TROPO_DRY, TROPO_WET"'
-->
	<xsd:complexType name="NonValRmTropoMetadataNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="NonValRmTropoMetadata" type="NonValRmTropoMetadata"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60200.1.11.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="NonValRmTropoMetadata"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NonValRmTropoMetadata">
		<xsd:choice>
			<xsd:element name="noTropoObservables">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="tropoObservables">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the set of TDM Metadata keywords and their
 values applicable in case the TDM data segments of the given TDM file to be generated
 contain meteo observables (pressure, relative humidity, temperature). In these TDM
 files, the MODE keyword is absent.

The data segments of the TDM file shall contain
 the keywords PRESSURE, RHUMIDITY, and TEMPERATURE and their values.

For the keyword
 DATA_TYPES only a single value is permissible and therefore the value cannot be
 configured by a dedicated (sub-)parameter. 

DATA_TYPES = 'PRESSURE, RHUMIDITY,
 TEMPERATURE'
-->
	<xsd:complexType name="NonValRmMeteoMetadataNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="NonValRmMeteoMetadata" type="NonValRmMeteoMetadata"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60200.1.12.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="NonValRmMeteoMetadata"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NonValRmMeteoMetadata">
		<xsd:choice>
			<xsd:element name="noMeteoObservables">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="meteoObservables" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This event notifies any change of the nonValRmResourceStat parameter value.
-->
	<!--
The event value reports the nonValRmResourceStat parameter value that applies since
 the notified nonValRmResourceStatChange event has occurred.
-->
	<xsd:simpleType name="NonValRmResourceStatChangeEvtValue">
		<xsd:restriction base="NonValRmResourceStat"/>
	</xsd:simpleType>
	<!--
This event triggers when one or more parameters controlling the configuration of
 the TDM file production performed by this NonValRmDataCollection FR instance has
 changed. This includes configuration changes of FR instances providing radiometeric
 observables to this NonValRmDataCollection FR instance

This event carries no
 additional information.

-->
	<!--
The event-value of this event is 'empty'.
-->
	<xsd:simpleType name="NonValRmConfigurationChangeEvtValue">
		<xsd:restriction base="ProdConfigurationChangeEvtValue"/>
	</xsd:simpleType>
	<!--
This event notifies the completion of the generation of a TDM file and reports in
 the event value the file name assigned to that TDM file.
-->
	<!--
The event value reports the name that has been assigned to the file the completion
 of which is notified by the nonValRmFileCompletion event.

The file extension
 shall always be 'tdm'.
-->
	<xsd:complexType name="NonValRmFileCompletionEvtValue">
		<xsd:sequence>
			<xsd:element name="spacecraftId">
				<!--
   For TDM files containing signal related keywords, this shall be the string assigned to the PARTICIPANT_2 keyword. For other observables, this element shall be set to 'N/A'.
   -->
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="signalRelatedObservables">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="signalIndependantObservables">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="antennaId">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      This element shall be the string assigned to the PARTICIPANT_1 keyword.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="observableGroup">
				<xsd:complexType>
					<xsd:attribute name="value" type="RawRadiometricObservableGroup" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="observationStartTime">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      This shall be the time tag assigned to the START_TIME keyword of the first Metadata Section contained in the TDM file. The character string is formatted as YYYY-MM-DDThh:mm:ss (see subsection 4.3.9. of CCSDS 503.0-B-2). 
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="observationStopTime">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      This shall be the time tag assigned to the STOP_TIME keyword of the last Metadata Section contained in the TDM file. The character string is formatted as YYYY-MM-DDThh:mm:ss (see subsection 4.3.9. of CCSDS 503.0-B-2). 
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
	<!--
The messages passed by means of the nonValRmOperatorNotify event are classified in
 terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and searching
 for specific messages, a unique numerical identifier is assigned to each message
 string. The messages are free text such that equipment specific issues can be reported.
 
-->
	<xsd:complexType name="NonValRmOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the NonValRmDataCollection
 FR type. 
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the NonValRmDataCollection
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.
-->
	<xsd:complexType name="NonValRmContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
