SanaRegistry/TcPlopSyncAndChnlEncode.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
The TcPlopSyncAndChannelEncoding FR accepts as input one of the following:
- CLTUs;
-
 TC frames to be radiated via a specific physical channel.
It also accepts the CLCWs
 extracted from the telemetry link associated with the telecommand link used by this
 FR.
This FR provides the symbol stream to be used for modulating the transmitted
 carrier of the physical channel associated with this FR. 
-->
	<xsd:element name="TcPlopSyncAndChnlEncodeElement" type="TcPlopSyncAndChnlEncodeType" substitutionGroup="SynchronizationandChannelCodingStratumParameters"/>
	<xsd:complexType name="TcPlopSyncAndChnlEncodeType">
		<xsd:complexContent>
			<xsd:extension base="SynchronizationandChannelCodingStratumType">
				<xsd:all>
					<xsd:element name="tcPlopSyncInputDataFormat" type="TcPlopSyncInputDataFormatNamed" minOccurs="0"/>
					<xsd:element name="tcPlopSyncMaxCltuLength" type="TcPlopSyncMaxCltuLengthNamed" minOccurs="0"/>
					<xsd:element name="tcPlopSyncPlop" type="TcPlopSyncPlopNamed" minOccurs="0"/>
					<xsd:element name="tcPlopSyncAcqAndIdlePattern" type="TcPlopSyncAcqAndIdlePatternNamed" minOccurs="0"/>
					<xsd:element name="tcPlopSyncMinDelayTime" type="TcPlopSyncMinDelayTimeNamed" minOccurs="0"/>
					<xsd:element name="tcPlopSyncClcwEvaluation" type="TcPlopSyncClcwEvaluationNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.30100"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the TcPlopSyncAndChnlEncode FR resource status
 and can take on four values:
- 'configured':  the associated equipment has been
 configured;
- 'operational':  the associated equipment is active;
- 'interrupted':
  a failure has been detected;
- 'halted':  the associated equipment has been taken
 out of service.
-->
	<xsd:simpleType name="TcPlopSyncResourceStat">
		<xsd:restriction base="ResourceStat"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the input data format (frames or CLTUs) and
 depending on the applicable input data format the related configuration.

In case
 frames are input to this FR, the maximum CLTU length is indirectly specified. It
 is determined by the maximum length of the incoming frames and the maximum number
 of frames per CLTU (see element maxNumberOfFramesPerCltu of this parameter).
-->
	<xsd:complexType name="TcPlopSyncInputDataFormatNamed">
		<xsd:complexContent>
			<xsd:extension base="SynchronizationandChannelCodingStratumType">
				<xsd:sequence>
					<xsd:element name="TcPlopSyncInputDataFormat" type="TcPlopSyncInputDataFormat"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.30100.1.2.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TcPlopSyncInputDataFormat"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TcPlopSyncInputDataFormat">
		<xsd:choice>
			<xsd:element name="frame">
				<!--
    The FR is configured to handle TC Frames as input.
    -->
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxNumberOfCltuRepetitions">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The parameter specifies how many times the CLTU may be transmitted. If this value is greater than 1 (that is, repeated transmission of CLTUs is permitted), then every CLTU must contain only one frame. 
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="1"/>
											<xsd:maxInclusive value="5"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="encodeType">
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="bchEncoding">
										<xsd:complexType>
											<xsd:attribute name="value" type="Randomization" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="ldpcEncoding">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="randomizationCodingSequence">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<xsd:simpleType>
																<xsd:restriction base="xsd:token">
																	<xsd:enumeration value="randomizationFirst"/>
																	<xsd:enumeration value="codingFirst"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="ldpcCoding">
													<xsd:complexType>
														<xsd:choice>
															<xsd:element name="code1">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="n">
																			<xsd:complexType>
																				<xsd:attribute name="value" use="required">
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:integer">
																							<xsd:pattern value="128"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="k">
																			<xsd:complexType>
																				<xsd:attribute name="value" use="required">
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:integer">
																							<xsd:pattern value="64"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="tailSequence">
																			<xsd:complexType>
																				<xsd:attribute name="value" use="required">
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:token">
																							<xsd:enumeration value="used"/>
																							<xsd:enumeration value="notUsed"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="code2">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="n">
																			<xsd:complexType>
																				<xsd:attribute name="value" use="required">
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:integer">
																							<xsd:pattern value="512"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="k">
																			<xsd:complexType>
																				<xsd:attribute name="value" use="required">
																					<xsd:simpleType>
																						<xsd:restriction base="xsd:integer">
																							<xsd:pattern value="256"/>
																						</xsd:restriction>
																					</xsd:simpleType>
																				</xsd:attribute>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
														</xsd:choice>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cltu">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       The FR is configured to handle CLTUs as input data.
       -->
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the maximum length of CLTUs (in octets) permitted
 on the physical channel.
-->
	<xsd:complexType name="TcPlopSyncMaxCltuLengthNamed">
		<xsd:complexContent>
			<xsd:extension base="SynchronizationandChannelCodingStratumType">
				<xsd:attribute name="value" type="TcPlopSyncMaxCltuLength" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TcPlopSyncMaxCltuLength"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.30100.1.3.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TcPlopSyncMaxCltuLength">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="12"/>
			<xsd:maxInclusive value="4096"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This enumerated parameter configures and reports the Physical Layer Operation Procedure
 that the TcPlopSyncAndChannelEncode FR applies (PLOP1 or PLOP2). If PLOP1 applies,
 the parameter also specifies the length of the idle sequence (in octets).


The
 exact behavior of the FR as determined by the selected PLOP in effect is further
 described in the F-CLTU specification CCSDS 912.1-B-4.


-->
	<xsd:complexType name="TcPlopSyncPlopNamed">
		<xsd:complexContent>
			<xsd:extension base="SynchronizationandChannelCodingStratumType">
				<xsd:sequence>
					<xsd:element name="TcPlopSyncPlop" type="TcPlopSyncPlop"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.30100.1.4.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TcPlopSyncPlop"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TcPlopSyncPlop">
		<xsd:choice>
			<xsd:element name="plop1IdleSequenceLength">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       The engineering unit of this element is octet.
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="plop2">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the size, in octets, and the bit pattern to
 be radiated to enable the spacecraft telecommand system to achieve bit lock (acquisition
 sequence) and the bit pattern to be radiated to maintain bit lock while no command
 is being radiated (idle pattern). The radiation of the acquisition and idle sequences
 will be performed in accordance with the applicable Physical Layer Operations Procedure
 (PLOP). See parameter tcPlopSyncPlop of this FR.
-->
	<xsd:complexType name="TcPlopSyncAcqAndIdlePatternNamed">
		<xsd:complexContent>
			<xsd:extension base="SynchronizationandChannelCodingStratumType">
				<xsd:sequence>
					<xsd:element name="TcPlopSyncAcqAndIdlePattern" type="TcPlopSyncAcqAndIdlePattern"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.30100.1.5.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TcPlopSyncAcqAndIdlePattern"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TcPlopSyncAcqAndIdlePattern">
		<xsd:sequence>
			<xsd:element name="acquisitionSequence">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="acquisitionPattern">
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="ccsds0">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           The pattern specified in CCSDS 232.0-B-3 starting with 0.
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:hexBinary">
														<xsd:minLength value="1"/>
														<xsd:maxLength value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="ccsds1">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           The pattern specified in CCSDS 232.0-B-3 starting with 1.
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:hexBinary">
														<xsd:minLength value="1"/>
														<xsd:maxLength value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="nonCcsds">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:hexBinary">
														<xsd:minLength value="1"/>
														<xsd:maxLength value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="acquisitionSequenceLength">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The engineering unit of this element is octet
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="1"/>
											<xsd:maxInclusive value="256"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="idlePattern">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="ccsds0">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The pattern specified in CCSDS 232.0-B-3 starting with 0.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:hexBinary">
											<xsd:minLength value="1"/>
											<xsd:maxLength value="1"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ccsds1">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         The pattern specified in CCSDS 232.0-B-3 starting with 1.
         -->
									<xsd:simpleType>
										<xsd:restriction base="xsd:hexBinary">
											<xsd:minLength value="1"/>
											<xsd:maxLength value="1"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="nonCcsds">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:hexBinary">
											<xsd:minLength value="1"/>
											<xsd:maxLength value="1"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter configures and reports the minimum time that the FR instance will
 ensure between the completion of the radiation of one CLTU and the beginning of
 the radiation of the following CLTU. There are two ways in which this guard time
 can be specified:
- absolute time ('absoluteGuardTime') in microseconds (the exact
 effect of the delay time depending on the PLOP is further described in the F-CLTU
 specification CCSDS 912.1-B-4);
- number of times the post-CLTU pattern (if applicable)
 and the pre-CLTU pattern shall be repeated ('postPreCltuPatternRepetition') before
 the next CLTU may be radiated (it should be noted that in this case the length of
 the guard time varies with the TC symbol rate).

-->
	<xsd:complexType name="TcPlopSyncMinDelayTimeNamed">
		<xsd:complexContent>
			<xsd:extension base="SynchronizationandChannelCodingStratumType">
				<xsd:sequence>
					<xsd:element name="TcPlopSyncMinDelayTime" type="TcPlopSyncMinDelayTime"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.30100.1.6.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TcPlopSyncMinDelayTime"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TcPlopSyncMinDelayTime">
		<xsd:choice>
			<xsd:element name="absoluteGuardTime">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
       The engineering unit of this element is 1/1000000 s (microsecond).
       -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="1000000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="postPreCltuPatternRepetition">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="10000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This enumerated parameter reports the status of the forward link as it can be derived
 from the Communication Link Control Word (CLCW) in the associated telemetry stream.
 It can take on the following values:
- 'fwdLinkStatNotAvailable':  no CLCWs from
 the spacecraft have been received by the service provider;
- 'noRfAvailable': 
 the service provider has received at least one CLCW; in the last CLCW received by
 the service provider, the bit that flags ‘No RF Available’ was set to ‘1’;
- 'noBitLock':
  the service provider has received at least one CLCW; in the last CLCW received
 by the service provider, the bit that flags ‘No RF Available’ was set to ‘0’, and
 the bit that flags ‘No Bit Lock’ was set to ‘1;
- 'nominal':  the provider has
 received at least one CLCW; in the last CLCW received by the provider, the bit that
 flags ‘No RF Available’ was set to ‘0’, and the bit that flags ‘No Bit Lock’ was
 set to ‘0’.
-->
	<xsd:simpleType name="TcPlopSyncTcLinkStat">
		<xsd:restriction base="TcLinkStat"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the Master or Virtual Channel that carries
 the CLCW to be used to determine the telecommand link RF and/or bit lock status,
 if applicable, and if and how the CLCW shall be evaluated for the Carrier Modulation
 Modes (CMM) transitions of the PLOP. The CLCW source is identified by the concatenation
 of the CCSDS assigned Spacecraft Identifier (SCID), the Transfer Frame Version Number
 (TFVN) and, if applicable, the Virtual Channel Identifier (VCID). The range of the
 Spacecraft Identifier and the Virtual Channel Identifier depends on the TFVN as
 follows:
- TFVN = binary '00' (version 1) - SCID = (0 .. 1023), VCID = (0 .. 7);
-
 TFVN = binary '01' (version 2) - SCID = (0 .. 255), VCID = (0 .. 63);
- TFVN =
 binary '1100'  (version 4) - SCID = (0 .. 65535), VCID = (0 .. 63).
-->
	<xsd:complexType name="TcPlopSyncClcwEvaluationNamed">
		<xsd:complexContent>
			<xsd:extension base="SynchronizationandChannelCodingStratumType">
				<xsd:sequence>
					<xsd:element name="TcPlopSyncClcwEvaluation" type="TcPlopSyncClcwEvaluation"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.30100.1.8.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TcPlopSyncClcwEvaluation"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TcPlopSyncClcwEvaluation">
		<xsd:choice>
			<xsd:element name="noEvaluation">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="evaluation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="linkCondition">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:token">
											<xsd:enumeration value="noEvaluationToBePerformed"/>
											<xsd:enumeration value="rfAvailableToBeVerified"/>
											<xsd:enumeration value="bitLockToBeVerified"/>
											<xsd:enumeration value="rfAvailableAndBitLockToBeVerified"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="clcwSource">
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="tfvn0">
										<!--
        This choice is for CLCW extraction from telemetry (TM) frames.
        -->
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="tfvn">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<xsd:simpleType>
																<xsd:restriction base="BitString"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="scid">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<xsd:simpleType>
																<xsd:restriction base="xsd:integer">
																	<xsd:minInclusive value="0"/>
																	<xsd:maxInclusive value="1023"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="vcid">
													<xsd:complexType>
														<xsd:choice>
															<xsd:element name="masterChannel">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<xsd:simpleType>
																			<xsd:restriction base="NULL"/>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="virtualChannel">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:minInclusive value="0"/>
																				<xsd:maxInclusive value="7"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
														</xsd:choice>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="tfvn1">
										<!--
        This choice is for CLCW extraction from AOS frames.
        -->
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="tfvn">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<xsd:simpleType>
																<xsd:restriction base="BitString"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="scid">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<xsd:simpleType>
																<xsd:restriction base="xsd:integer">
																	<xsd:minInclusive value="0"/>
																	<xsd:maxInclusive value="255"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="vcid">
													<xsd:complexType>
														<xsd:choice>
															<xsd:element name="masterChannel">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<xsd:simpleType>
																			<xsd:restriction base="NULL"/>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="virtualChannel">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:minInclusive value="0"/>
																				<xsd:maxInclusive value="63"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
														</xsd:choice>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="tfvn4">
										<!--
        This choice is for CLCW extraction from USLP frames.
        -->
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="tfvn">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<xsd:simpleType>
																<xsd:restriction base="BitString"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="scid">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<xsd:simpleType>
																<xsd:restriction base="xsd:integer">
																	<xsd:minInclusive value="0"/>
																	<xsd:maxInclusive value="65535"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="vcid">
													<xsd:complexType>
														<xsd:choice>
															<xsd:element name="masterChannel">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<xsd:simpleType>
																			<xsd:restriction base="NULL"/>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="virtualChannel">
																<xsd:complexType>
																	<xsd:attribute name="value" use="required">
																		<xsd:simpleType>
																			<xsd:restriction base="xsd:integer">
																				<xsd:minInclusive value="0"/>
																				<xsd:maxInclusive value="63"/>
																			</xsd:restriction>
																		</xsd:simpleType>
																	</xsd:attribute>
																</xsd:complexType>
															</xsd:element>
														</xsd:choice>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This event notifies any change of the tcPlopSyncResourceStat parameter value.
-->
	<!--
The event value reports the tcPlopSyncResourceStat parameter value that applies since
 the notified tcPlopSyncResourceStatChange event has occurred.
-->
	<xsd:simpleType name="TcPlopSyncResourceStatChangeEvtValue">
		<xsd:restriction base="TcPlopSyncResourceStat"/>
	</xsd:simpleType>
	<!--
This event notifies any change of the tcPlopSyncTcLinkStat parameter.
-->
	<!--
The event value reports the tcPlopSyncTcLinkStat value that applies since the notified
 tcPlopSyncTcLinkStatChange event has occurred.
-->
	<xsd:simpleType name="TcPlopSyncTcLinkStatChangeEvtValue">
		<xsd:restriction base="TcPlopSyncTcLinkStat"/>
	</xsd:simpleType>
	<!--
This event notifies that processing of the given data unit is completed. The data
 unit is identified by its data-unit-id and the service-instance-id of the service
 that submitted the data unit for processing.
-->
	<!--
The event value identifies the data unit that completed processing by reporting the
 data-unit-id of the data unit and the id of the service instance that submitted
 the data unit for processing. Note that the data unit may either be a frame or a
 CLTU.
-->
	<xsd:complexType name="TcPlopSyncDataUnitProcessingCompletedEvtValue">
		<xsd:sequence>
			<xsd:element name="dataUnitId">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="4294967295"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="serviceInstanceIdentifier">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="sleServiceInstance">
							<xsd:complexType>
								<xsd:attribute name="value" type="SleSvcInstanceId" use="required"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="cstsServiceInstance" type="CstsSvcInstanceId"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
	<!--
The messages passed by means of the tcPlopSyncOperatorNotify event are classified
 in terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and
 searching for specific messages, a unique numerical identifier is assigned to each
 message string. The messages are free text such that equipment specific issues can
 be reported. 
-->
	<xsd:complexType name="TcPlopSyncOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the TcPlopSyncAndChnlEncode
 FR type. 
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the TcPlopSyncAndChnlEncode
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.

-->
	<xsd:complexType name="TcPlopSyncContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
When the FR receives this directive, it discards all data units that are associated
 with the service-instance-id specified in the directive qualifier.
-->
	<!--
The qualifier of this directive specifies the service-instance-id of the SLE Transfer
 Service instance or the CSTS instance for which the data units are to discarded
 when the tcMcMuxDiscardDataUnits directive is invoked. 
-->
	<xsd:complexType name="TcPlopSyncFrAndServiceInstanceIdDirQual">
		<xsd:choice>
			<xsd:element name="sleServiceInstanceId">
				<xsd:complexType>
					<xsd:attribute name="value" type="SleSvcInstanceId" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cstsServiceInstanceId" type="CstsSvcInstanceId"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
