SanaRegistry/TcVcMux.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
This FR accepts TC frames not containing FECFs for a specific TC VC as input.
It
 provides the TC frames not containing FECFs for a specific TC Master Channel.
-->
	<xsd:element name="TcVcMuxElement" type="TcVcMuxType" substitutionGroup="SpaceLinkProtocolStratumParameters"/>
	<xsd:complexType name="TcVcMuxType">
		<xsd:complexContent>
			<xsd:extension base="SpaceLinkProtocolStratumType">
				<xsd:all>
					<xsd:element name="tcVcMuxMaxFrameLength" type="TcVcMuxMaxFrameLengthNamed" minOccurs="0"/>
					<xsd:element name="tcVcMuxAdFrameRepetitions" type="TcVcMuxAdFrameRepetitionsNamed" minOccurs="0"/>
					<xsd:element name="tcVcMuxBcFrameRepetitions" type="TcVcMuxBcFrameRepetitionsNamed" minOccurs="0"/>
					<xsd:element name="tcVcMuxMc" type="TcVcMuxMcNamed" minOccurs="0"/>
					<xsd:element name="tcVcMuxContr" type="TcVcMuxContrNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.40101"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the TcVcMux resource status and can take on four
 values:
- 'configured':  the associated equipment has been configured;
- 'operational':
  the associated equipment is active;
- 'interrupted':  a failure has been detected;
-
 'halted':  the associated equipment has been taken out of service.
-->
	<xsd:simpleType name="TcVcMuxResourceStat">
		<xsd:restriction base="ResourceStat"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the maximum TC VC frame length in octets that
 the FR accepts as input for further processing where the specified length shall
 not take into account the Frame Error Control Field, if present on the physical
 channel.

Note: The value of the tcVcMaxFrameLength parameter of an instance of
 this FR must be less than or equal to the parameter tcMcMuxMaxFrameLength of the
 TcMcMux FR consuming the TC MC frames generated by this TcVcMux FR instance.
-->
	<xsd:complexType name="TcVcMuxMaxFrameLengthNamed">
		<xsd:complexContent>
			<xsd:extension base="SpaceLinkProtocolStratumType">
				<xsd:attribute name="value" type="TcVcMuxMaxFrameLength" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TcVcMuxMaxFrameLength"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.40101.1.2.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TcVcMuxMaxFrameLength">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="1024"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports how many times an AD frame shall be transmitted
 to the spacecraft for each Virtual Channel multiplexed by the TcVcMux instance.
 

- 'noAdVc':  indicates that there are no VCs on the Master Channel that will
 carry AD frames
- 'adVcSet': specifies the set of VCs that may carry AD frames,
 and the number of times (repetitions) that AD frames for each such VC are to be
 transmitted. 

All values of tcVcMuxAdFrameRepetitions: repetitions parameter
 must be less than or equal to the value of the tcPlopSyncInputDataFormat: frame:
 maxNumberOfCltuRepetitions parameter of the underlying TcPlopSyncAndChnlEncode FR
 instance.
-->
	<xsd:complexType name="TcVcMuxAdFrameRepetitionsNamed">
		<xsd:complexContent>
			<xsd:extension base="SpaceLinkProtocolStratumType">
				<xsd:sequence>
					<xsd:element name="TcVcMuxAdFrameRepetitions" type="TcVcMuxAdFrameRepetitions"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.40101.1.3.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TcVcMuxAdFrameRepetitions"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TcVcMuxAdFrameRepetitions">
		<xsd:choice>
			<xsd:element name="noAdVc">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="adVcSet">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="64">
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="vcid">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="0"/>
														<xsd:maxInclusive value="63"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="repetitions">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="1"/>
														<xsd:maxInclusive value="5"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports how many times a BC frame shall be transmitted
 to the spacecraft for each Virtual Channel multiplexed by the TcVcMux instance.
 

- 'noBcVc':  indicates that there are no VCs on the Master Channel that will
 carry BC frames
- 'bcVcSet': specifies the set of VCs that may carry BC frames,
 and the number of times (repetitions) that BC frames for each such VC are to be
 transmitted. 

All values of tcVcMuxBcFrameRepetitions: repetitions parameter
 must be less than or equal to the value of the tcPlopSyncInputDataFormat: frame:
 maxNumberOfCltuRepetitions parameter of the underlying TcPlopSyncAndChnlEncode FR
 instance.
-->
	<xsd:complexType name="TcVcMuxBcFrameRepetitionsNamed">
		<xsd:complexContent>
			<xsd:extension base="SpaceLinkProtocolStratumType">
				<xsd:sequence>
					<xsd:element name="TcVcMuxBcFrameRepetitions" type="TcVcMuxBcFrameRepetitions"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.40101.1.4.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TcVcMuxBcFrameRepetitions"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TcVcMuxBcFrameRepetitions">
		<xsd:choice>
			<xsd:element name="noBcVc">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bcVcSet">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="64">
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="vcid">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="0"/>
														<xsd:maxInclusive value="63"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="repetitions">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:integer">
														<xsd:minInclusive value="1"/>
														<xsd:maxInclusive value="5"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports the Master Channel that is provided by the
 given FR instance. The Master Channel ID is the concatenation of TFVN and SCID.
 Given that this FR type handles only TC frames, the TFVN is fixed (version 1, binary
 '00') and only the SCID is variable. 
-->
	<xsd:complexType name="TcVcMuxMcNamed">
		<xsd:complexContent>
			<xsd:extension base="SpaceLinkProtocolStratumType">
				<xsd:sequence>
					<xsd:element name="TcVcMuxMc" type="TcVcMuxMc"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.40101.1.5.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TcVcMuxMc"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TcVcMuxMc">
		<xsd:sequence>
			<xsd:element name="tfvn">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="BitString"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="scid">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="1023"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter configures and reports how the Virtual Channels are multiplexed into
 the Master Channel formed by this FR instance. 
In case tcVcMuxContr = ‘fifo’,
 no further specification applies.
If tcVcMuxContr = 'absolutePriority', then the
 associated configuration value is a sequence of VCIDs used on the given MC where
 the first VCID in the sequence has the highest priority, the second has the second-highest
 priority etc. Consequently the sequence has as many elements as VCs are permitted
 on the given MC. 
If tcVcMuxContr = 'pollingVector', then the associated sequence
 consists of up to 192 elements where each element is a VCID.
-->
	<xsd:complexType name="TcVcMuxContrNamed">
		<xsd:complexContent>
			<xsd:extension base="SpaceLinkProtocolStratumType">
				<xsd:sequence>
					<xsd:element name="TcVcMuxContr" type="TcVcMuxContr"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.40101.1.6.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TcVcMuxContr"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TcVcMuxContr">
		<xsd:choice>
			<xsd:element name="fifo">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="absolutePriority">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="64">
						<xsd:element name="element">
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:minInclusive value="0"/>
									<xsd:maxInclusive value="63"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="pollingVector">
				<xsd:complexType>
					<xsd:sequence minOccurs="1" maxOccurs="192">
						<xsd:element name="element">
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:minInclusive value="0"/>
									<xsd:maxInclusive value="63"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This event notifies any change of the tcVcMuxResourceStat parameter value.
-->
	<!--
The event value reports the tcVcMuxResourceStat parameter value that applies since
 the notified tcVcMuxResourceStatChange event has occurred.
-->
	<xsd:simpleType name="TcVcMuxResourceStatChangeEvtValue">
		<xsd:restriction base="TcVcMuxResourceStat"/>
	</xsd:simpleType>
	<!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
	<!--
The messages passed by means of the tcVcMuxOperatorNotify event are classified in
 terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and searching
 for specific messages, a unique numerical identifier is assigned to each message
 string. The messages are free text such that equipment specific issues can be reported.
 
-->
	<xsd:complexType name="TcVcMuxOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the TcVcMux FR type.
  
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a set of parameter identifier and parameter value pairs. To be valid, the
 parameter identifier must reference a controllable parameter of the TcVcMux FR and
 the parameter value must be of the same type as the parameter value that shall be
 set.
-->
	<xsd:complexType name="TcVcMuxContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
When receiving this directive, the FR discards all data units buffered at that time
 for the virtual channel multiplexing.
-->
	<!--
The qualifier of this directive specifies the service-instance-id of the SLE Transfer
 Service instance or the CSTS instance for which the data units are to discarded
 when the tcVcMuxDiscardDataUnits directive is invoked. 
-->
	<xsd:complexType name="TcVcMuxDiscardDataUnitsDirQual">
		<xsd:choice>
			<xsd:element name="sleServiceInstanceId">
				<xsd:complexType>
					<xsd:attribute name="value" type="SleSvcInstanceId" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cstsServiceInstanceId" type="CstsSvcInstanceId"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
