SanaRegistry/TdCstsProvider.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
The TD-CSTS provider transfers certain types of periodically measured tracking data
 as soon as they are generated by a Cross Support Complex or anytime thereafter.
 These tracking data are associated with the signal-related and angle-related TDM
 keyword categories as specified in CCSDS 503.0-B-1. 
-->
	<xsd:element name="TdCstsProviderElement" type="TdCstsProviderType" substitutionGroup="DataTransferServicesStratumParameters"/>
	<xsd:complexType name="TdCstsProviderType">
		<xsd:complexContent>
			<xsd:extension base="DataTransferServicesStratumType">
				<xsd:all>
					<xsd:element name="tdSvcInstanceId" type="TdSvcInstanceIdNamed" minOccurs="0"/>
					<xsd:element name="tdInitiatorId" type="TdInitiatorIdNamed" minOccurs="0"/>
					<xsd:element name="tdResponderId" type="TdResponderIdNamed" minOccurs="0"/>
					<xsd:element name="tdResponderPortId" type="TdResponderPortIdNamed" minOccurs="0"/>
					<xsd:element name="tdResponseTimeout" type="TdResponseTimeoutNamed" minOccurs="0"/>
					<xsd:element name="tdDeliveryMode" type="TdDeliveryModeNamed" minOccurs="0"/>
					<xsd:element name="tdRtnBufferSize" type="TdRtnBufferSizeNamed" minOccurs="0"/>
					<xsd:element name="tdDeliveryLatencyLimit" type="TdDeliveryLatencyLimitNamed" minOccurs="0"/>
					<xsd:element name="tdNamedLabelLists" type="TdNamedLabelListsNamed" minOccurs="0"/>
					<xsd:element name="tdPathList" type="TdPathListNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.80700"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This parameter reports the production status of the Tracking Data service instance.
 This parameter can take on one of four values:
- 'configured':  all production
 functions needed to support this service instance have been configured;
- ‘operational’:
  all production functions have been enabled to process data for this service instance;
-
 ‘interrupted’:  one or more production functions have been stopped because of an
 error condition that may be temporary;
- ‘halted’:  one or more production functions
 have been stopped by management action.
-->
	<xsd:simpleType name="TdProdStat">
		<xsd:restriction base="ProdStat"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the identifier of the given service instance.
 
-->
	<xsd:complexType name="TdSvcInstanceIdNamed">
		<xsd:complexContent>
			<xsd:extension base="DataTransferServicesStratumType">
				<xsd:sequence>
					<xsd:element name="TdSvcInstanceId" type="TdSvcInstanceId"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.80700.1.2.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdSvcInstanceId"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TdSvcInstanceId">
		<xsd:complexContent>
			<xsd:extension base="CstsSvcInstanceId"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the status of the given instance of the Tracking
 Data service. It can take on the following values:
- 'unbound':  all resources
 required to enable the provision of the service have been allocated, and all objects
 required to provide the service have been instantiated. However, no association
 yet exists between the user and the provider, i.e., the transfer service provider
 port is not bound;
- 'boundReady':  an association has been established between
 the user and the provider, and they may interact by means of the service operations.
 The user may invoke the GET invocation of the Information Query procedure and receive
 the requested parameter values. 
- 'boundActive':  this state resembles state ‘boundReady’,
 except that in addition the user also receives periodically the requested tracking
 data. The service instance remains in the 'boundActive' state until the user either
 invokes (a) the STOP operation to cause the service to cease sending tracking data
 and to transition back to state 'boundReady' or (b) the PEER-ABORT invocation to
 cause the service to transition back to the 'unbound' state. 
-->
	<xsd:simpleType name="TdSvcInstanceState">
		<xsd:restriction base="StatefulCstsInstanceState"/>
	</xsd:simpleType>
	<!--
This parameter reports the identifier of the peer application, i.e., the authority
 on whose behalf the CSTS application entity is initiating an association with the
 TD-CSTS service provider. The provider performs access control based on this parameter.
 It may also serve as key to further security relevant information such as the authentication
 level and method and the related password.

Given the security relevance of this
 parameter, specific mechanisms for setting this parameter when the FR instance is
 created and for the transfer of associated security relevant data might be specified
 in a bilateral agreement between service user and service provider. Also the accessibility
 by an MD-CSTS instance may be restricted.
-->
	<xsd:complexType name="TdInitiatorIdNamed">
		<xsd:complexContent>
			<xsd:extension base="DataTransferServicesStratumType">
				<xsd:attribute name="value" type="TdInitiatorId" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdInitiatorId"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.80700.1.4.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TdInitiatorId">
		<xsd:restriction base="AuthorityIdentifier"/>
	</xsd:simpleType>
	<!--
This parameter reports the identifier of the TD-CSTS application. The user performs
 access conrol based on this parameter. It may also serve as key to further security
 relevant information such as the authentication level and method and the related
 password.

Given the security relevance of this parameter, specific mechanisms
 for setting this parameter when the FR instance is created and for the transfer
 of associated security relevant data might be specified in a bilateral agreement
 between service user and service provider. Also the accessibility by an MD-CSTS
 instance may be restricted.
-->
	<xsd:complexType name="TdResponderIdNamed">
		<xsd:complexContent>
			<xsd:extension base="DataTransferServicesStratumType">
				<xsd:attribute name="value" type="TdResponderId" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdResponderId"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.80700.1.5.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TdResponderId">
		<xsd:restriction base="AuthorityIdentifier"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the port identifier to be used by the user
 to connect to the service provider. However, the parameter value is only a logical
 name that needs to be translated into the technology-specific addressing information
 required to establish a connection with the specific port of the responding CSTS
 application entity. As such this parameter is irrelevant for the service provider,
 but it may be needed for certain kind of gateways between service user and service
 provider application.
-->
	<xsd:complexType name="TdResponderPortIdNamed">
		<xsd:complexContent>
			<xsd:extension base="DataTransferServicesStratumType">
				<xsd:attribute name="value" type="TdResponderPortId" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdResponderPortId"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.80700.1.6.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TdResponderPortId">
		<xsd:restriction base="ResponderPortId"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the setting of the maximum time period in seconds
 permitted from when a confirmed TD-CSTS operation is invoked until the return is
 received by the invoker.

If a response is not received within that time period,
 the invoker may invoke the PEER-ABORT operation.

-->
	<xsd:complexType name="TdResponseTimeoutNamed">
		<xsd:complexContent>
			<xsd:extension base="DataTransferServicesStratumType">
				<xsd:attribute name="value" type="TdResponseTimeout" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdResponseTimeout"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.80700.1.7.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TdResponseTimeout">
		<xsd:restriction base="SvcResponseTimeout"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the data delivery mode of the Buffered Tracking
 Data Message Delivery procedure instance. See "Cross Support Transfer Service -
 Tracking Data Service", CCSDS 922.2.
-->
	<xsd:complexType name="TdDeliveryModeNamed">
		<xsd:complexContent>
			<xsd:extension base="DataTransferServicesStratumType">
				<xsd:attribute name="value" type="TdDeliveryMode" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdDeliveryMode"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.80700.1.8.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TdDeliveryMode">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="realtime"/>
			<xsd:enumeration value="complete"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--
This parameter configures and reports the return buffer size (in TRANSFER-DATA and/or
 NOTIFY invocations) to be used by the Buffered Tracking Data Message Delivery procedure
 instance. See "Cross Support Transfer Service - Tracking Data Service", CCSDS 922.2.
-->
	<xsd:complexType name="TdRtnBufferSizeNamed">
		<xsd:complexContent>
			<xsd:extension base="DataTransferServicesStratumType">
				<xsd:attribute name="value" type="TdRtnBufferSize" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdRtnBufferSize"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.80700.1.9.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TdRtnBufferSize">
		<xsd:restriction base="LongIntPos"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the delivery latency limit (in seconds) to
 be used by the Buffered Tracking Data Message Delivery procedure instance. See "Cross
 Support Transfer Service - Tracking Data Service", CCSDS 922.2.
-->
	<xsd:complexType name="TdDeliveryLatencyLimitNamed">
		<xsd:complexContent>
			<xsd:extension base="DataTransferServicesStratumType">
				<xsd:attribute name="value" type="TdDeliveryLatencyLimit" use="required"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdDeliveryLatencyLimit"/>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.80700.1.10.1.1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TdDeliveryLatencyLimit">
		<xsd:restriction base="ShortIntPos"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the set of named label lists to be used by
 the Information Query procedure instance. See "Cross Support Transfer Service -
 Tracking Data Service", CCSDS 922.2.
-->
	<xsd:complexType name="TdNamedLabelListsNamed">
		<xsd:complexContent>
			<xsd:extension base="DataTransferServicesStratumType">
				<xsd:sequence>
					<xsd:element name="TdNamedLabelLists" type="TdNamedLabelLists"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.80700.1.11.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdNamedLabelLists"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TdNamedLabelLists">
		<xsd:complexContent>
			<xsd:extension base="LabelListSet"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This parameter configures and reports the list of trackingDataPathIds for which this
 TD service instance will report the TDM Atomic Segments. See the TdmSegmentGen FR.
-->
	<xsd:complexType name="TdPathListNamed">
		<xsd:complexContent>
			<xsd:extension base="DataTransferServicesStratumType">
				<xsd:sequence>
					<xsd:element name="TdPathList" type="TdPathList"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.80700.1.12.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdPathList"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TdPathList">
		<xsd:sequence>
			<xsd:element name="element">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter configures and reports the types of tracking data that are contained
 in TDM Atomic Segments transferred by this TD service instance. The parameter contains
 one or more of the following types:
 - dopplerInstantaneous;
 - dopplerIntegrated;

 - range;
 - carrierPower;
 - carrierPowerToNoiseSpectralDensity;
 - ranginghPowerToNoiseSpectralDensity;

 - receiveFrequency;
 - transmitFrequency;
 - transmitFrequencyRate;
 - antennaAngles
-->
	<xsd:complexType name="TdTrackingDataTypes">
		<xsd:sequence>
			<xsd:element name="element">
				<xsd:simpleType>
					<xsd:restriction base="TrackingDataType"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This event notifies any change of the tdProdStat parameter value. 
-->
	<!--
The event value reports the tdProdStat parameter value that applies since the notified
 tdProdStatChange event has occurred.
-->
	<xsd:simpleType name="TdProdStatChangeEvtValue">
		<xsd:restriction base="TdProdStat"/>
	</xsd:simpleType>
	<!--
This event triggers when a one or more parameters controlling the configuration of
 service production of the service instance identified by the tdSvcInstanceId parameter
 have been changed.

This event carries no additional information.

-->
	<!--
The event-value of this event is 'empty'.
-->
	<xsd:simpleType name="TdProdConfigurationChangeEvtValue">
		<xsd:restriction base="ProdConfigurationChangeEvtValue"/>
	</xsd:simpleType>
	<!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
	<!--
The messages passed by means of the tdOperatorNotify event are classified in terms
 of severity as 'info', 'warning' or 'alarm'. To simplify filtering and searching
 for specific messages, a unique numerical identifier is assigned to each message
 string. The messages are free text such that equipment specific issues can be reported.
 
-->
	<xsd:complexType name="TdOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the TdCstsProvider
 FR type. 
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a set of parameter identifier and parameter value pairs. To be valid, the
 parameter identifier must reference a controllable parameter of the TdCstsProvider
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.
-->
	<xsd:complexType name="TdContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
