SanaRegistry/TdmSegmentGen.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
TdmSegmentGen performs the production functions associated with collecting: angle
 measurements from the antenna; receive frequency, carrier power, carrier power to
 noise spectral density, and Doppler measurements from the return space link; range
 and ranging power to noise spectral density measurements from the received space
 links; and transmit frequency and transmit frequency rate from the transmitted space
 link in order to generate Tracking Data Message (TDM) segments containing those
 measurements.
-->
	<xsd:element name="TdmSegmentGenElement" type="TdmSegmentGenType" substitutionGroup="SLSRadiometricDataProductionStratumParameters"/>
	<xsd:complexType name="TdmSegmentGenType">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:all>
					<xsd:element name="tdmSegmentGenCarrierPowerPathTable" type="TdmSegmentGenCarrierPowerPathTableNamed" minOccurs="0"/>
					<xsd:element name="tdmSegmentGenPcOverNoPathTable" type="TdmSegmentGenPcOverNoPathTableNamed" minOccurs="0"/>
					<xsd:element name="tdmSegmentGenPrOverNoPathTable" type="TdmSegmentGenPrOverNoPathTableNamed" minOccurs="0"/>
					<xsd:element name="tdmSegmentGenDoppInstPathTable" type="TdmSegmentGenDoppInstPathTableNamed" minOccurs="0"/>
					<xsd:element name="tdmSegmentGenDoppIntegPathTable" type="TdmSegmentGenDoppIntegPathTableNamed" minOccurs="0"/>
					<xsd:element name="tdmSegmentGenRngPathTable" type="TdmSegmentGenRngPathTableNamed" minOccurs="0"/>
					<xsd:element name="tdmSeqmentGenRcvFreqPathTable" type="TdmSeqmentGenRcvFreqPathTableNamed" minOccurs="0"/>
					<xsd:element name="tdmSegmentGenXmitFreqPathTable" type="TdmSegmentGenXmitFreqPathTableNamed" minOccurs="0"/>
					<xsd:element name="tdmSegmentGenXmitFreqRatePathTable" type="TdmSegmentGenXmitFreqRatePathTableNamed" minOccurs="0"/>
					<xsd:element name="tdmSegmentGenAntAnglesPathTable" type="TdmSegmentGenAntAnglesPathTableNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60100"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the TdmSegmentGen resource status and can take
 on four values:
- 'configured':  the associated equipment has been configured to
 ingest tracking data measurements and produce TDM atomic segments;
- 'operational':
  the associated equipment is ingesting tracking data measurements and produce TDM
 atomic segments;
- 'interrupted':  a failure has been detected;
- 'halted':  the
 associated equipment has been taken out of service.
-->
	<xsd:simpleType name="TdmSegmentGenResourceStat">
		<xsd:restriction base="ResourceStat"/>
	</xsd:simpleType>
	<!--
This complex-valued parameter configures and reports the set of Carrier Power tracking
 data paths for which Carrier Power Atomic Segments are to be generated during the
 execution of the Service Package.
-->
	<xsd:complexType name="TdmSegmentGenCarrierPowerPathTableNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="TdmSegmentGenCarrierPowerPathTable" type="TdmSegmentGenCarrierPowerPathTable"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60100.1.2.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdmSegmentGenCarrierPowerPathTable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TdmSegmentGenCarrierPowerPathTable">
		<xsd:choice>
			<xsd:element name="noCarrierPowerSegments">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="carrierPowerSegments">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="pathTableCommonElements" type="TdmPathTableCommonElements"/>
									<xsd:element name="rcvFreqBand">
										<xsd:complexType>
											<xsd:attribute name="value" type="FreqBand" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This complex-valued parameter configures and reports the set of Pc/No tracking data
 paths for which Pc/No Atomic Segments are to be generated during the execution of
 the Service Package.
-->
	<xsd:complexType name="TdmSegmentGenPcOverNoPathTableNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="TdmSegmentGenPcOverNoPathTable" type="TdmSegmentGenPcOverNoPathTable"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60100.1.3.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdmSegmentGenPcOverNoPathTable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TdmSegmentGenPcOverNoPathTable">
		<xsd:choice>
			<xsd:element name="noPcOverNoSegments">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="pcOverNoSegments">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="pathTableCommonElements" type="TdmPathTableCommonElements"/>
									<xsd:element name="rcvFreqBand">
										<xsd:complexType>
											<xsd:attribute name="value" type="FreqBand" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This complex-valued parameter configures and reports the set of Pr/No tracking data
 paths for which Pr/No Atomic Segments are to be generated during the execution of
 the Service Package
-->
	<xsd:complexType name="TdmSegmentGenPrOverNoPathTableNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="TdmSegmentGenPrOverNoPathTable" type="TdmSegmentGenPrOverNoPathTable"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60100.1.4.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdmSegmentGenPrOverNoPathTable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TdmSegmentGenPrOverNoPathTable">
		<xsd:choice>
			<xsd:element name="noPrOverNoSegments">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="prOverNoSegments">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="pathTableCommonElements" type="TdmPathTableCommonElements"/>
									<xsd:element name="rcvFreqBand">
										<xsd:complexType>
											<xsd:attribute name="value" type="FreqBand" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This complex-valued parameter configures and reports the set of Doppler (instantaneous)
 tracking data paths for which Doppler (instantaneous) Atomic Segments are to be
 generated during the execution of the Service Package.
-->
	<xsd:complexType name="TdmSegmentGenDoppInstPathTableNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="TdmSegmentGenDoppInstPathTable" type="TdmSegmentGenDoppInstPathTable"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60100.1.5.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdmSegmentGenDoppInstPathTable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TdmSegmentGenDoppInstPathTable">
		<xsd:choice>
			<xsd:element name="noDopplInstSegments">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="doppInstSegments">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="pathTableCommonElements" type="TdmPathTableCommonElements"/>
									<xsd:element name="threeWayRcvAperture" minOccurs="0">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
            The name of the receiving aperture, which populates the PARTICIPANT_3 field of the generated TDM segment. Used only if three-way Doppler measurements are taken with both transmitting and receiving apertures at the same ESLT.
            -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="rcvFreqBand">
										<xsd:complexType>
											<xsd:attribute name="value" type="FreqBand" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="xmitFreqBand" minOccurs="0">
										<xsd:complexType>
											<xsd:attribute name="value" type="FreqBand" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This complex-valued parameter configures and reports the set of Doppler (integrated)
 tracking data paths for which Doppler (integrated) Atomic Segments are to be generated
 during the execution of the Service Package.
-->
	<xsd:complexType name="TdmSegmentGenDoppIntegPathTableNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="TdmSegmentGenDoppIntegPathTable" type="TdmSegmentGenDoppIntegPathTable"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60100.1.6.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdmSegmentGenDoppIntegPathTable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TdmSegmentGenDoppIntegPathTable">
		<xsd:choice>
			<xsd:element name="noDoppIntegSegments">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="doppIntegSegments">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="pathTableCommonElements" type="TdmPathTableCommonElements"/>
									<xsd:element name="threeWayRcvAperture" minOccurs="0">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
            The name of the receiving aperture, which populates the PARTICIPANT_3 field of the generated TDM segment. Used only if three-way Doppler measurements are taken with both transmitting and receiving apertures at the same ESLT.
            -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="rcvFreqBand">
										<xsd:complexType>
											<xsd:attribute name="value" type="FreqBand" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="xmitFreqBand" minOccurs="0">
										<xsd:complexType>
											<xsd:attribute name="value" type="FreqBand" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="integrationInterval">
										<xsd:complexType>
											<xsd:attribute name="value" type="ShortIntUnsigned" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="integrationRef">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
            The integration reference specifies whether the timetag represents the start, middle, or end of the integration period.
            -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:token">
														<xsd:enumeration value="start"/>
														<xsd:enumeration value="middle"/>
														<xsd:enumeration value="end"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This complex-valued parameter configures and reports the set of Range tracking data
 paths for which Range Atomic Segments are to be generated during the execution of
 the Service Package.
-->
	<xsd:complexType name="TdmSegmentGenRngPathTableNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="TdmSegmentGenRngPathTable" type="TdmSegmentGenRngPathTable"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60100.1.7.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdmSegmentGenRngPathTable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TdmSegmentGenRngPathTable">
		<xsd:choice>
			<xsd:element name="noRngSegments">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rngSegments">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="pathTableCommonElements" type="TdmPathTableCommonElements"/>
									<xsd:element name="threeWayRcvAperture" minOccurs="0">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
            The name of the receiving aperture, which populates the PARTICIPANT_3 field of the generated TDM segment. Used only if three-way range measurements are taken with both transmitting and receiving apertures at the same ESLT.
            -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="rcvFreqBand">
										<xsd:complexType>
											<xsd:attribute name="value" type="FreqBand" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="xmitFreqBand">
										<xsd:complexType>
											<xsd:attribute name="value" type="FreqBand" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="rangeUnits">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:token">
														<xsd:enumeration value="km"/>
														<xsd:enumeration value="seconds"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="integrationInterval">
										<xsd:complexType>
											<xsd:attribute name="value" type="ShortIntPos" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="integrationRef">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
            The integration reference specifies whether the timetag represents the start, middle, or end of the integration period.
            -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:token">
														<xsd:enumeration value="start"/>
														<xsd:enumeration value="middle"/>
														<xsd:enumeration value="end"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This complex-valued parameter configures and reports the set of Receive Frequency
 tracking data paths for which Receive Frequency Atomic Segments are to be generated
 during the execution of the Service Package.
-->
	<xsd:complexType name="TdmSeqmentGenRcvFreqPathTableNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="TdmSeqmentGenRcvFreqPathTable" type="TdmSeqmentGenRcvFreqPathTable"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60100.1.8.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdmSeqmentGenRcvFreqPathTable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TdmSeqmentGenRcvFreqPathTable">
		<xsd:choice>
			<xsd:element name="noRcvFreqSegments">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rcvFreqSegments">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="pathTableCommonElements" type="TdmPathTableCommonElements"/>
									<xsd:element name="rcvFreqBand">
										<xsd:complexType>
											<xsd:attribute name="value" type="FreqBand" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This complex-valued parameter configures and reports the set of Transmit Frequency
 tracking data paths for which Transmit Frequency Atomic Segments are to be generated
 during the execution of the Service Package.
-->
	<xsd:complexType name="TdmSegmentGenXmitFreqPathTableNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="TdmSegmentGenXmitFreqPathTable" type="TdmSegmentGenXmitFreqPathTable"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60100.1.9.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdmSegmentGenXmitFreqPathTable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TdmSegmentGenXmitFreqPathTable">
		<xsd:choice>
			<xsd:element name="noXmitFreqSegments">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="xmitFreqSegments">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="pathTableCommonElements" type="TdmPathTableCommonElements"/>
									<xsd:element name="xmitFreqBand">
										<xsd:complexType>
											<xsd:attribute name="value" type="FreqBand" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This complex-valued parameter configures and reports the set of Transmit Frequency
 Rate tracking data paths for which Transmit Frequency Rate Atomic Segments are to
 be generated during the execution of the Service Package.
-->
	<xsd:complexType name="TdmSegmentGenXmitFreqRatePathTableNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="TdmSegmentGenXmitFreqRatePathTable" type="TdmSegmentGenXmitFreqRatePathTable"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60100.1.10.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdmSegmentGenXmitFreqRatePathTable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TdmSegmentGenXmitFreqRatePathTable">
		<xsd:choice>
			<xsd:element name="noXmitFreqRateSegments">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="xmitFreqRate">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="pathTableCommonElements" type="TdmPathTableCommonElements"/>
									<xsd:element name="xmitFreqBand">
										<xsd:complexType>
											<xsd:attribute name="value" type="FreqBand" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This complex-valued parameter configures and reports the set of Antenna Angles tracking
 data paths for which Antenna Angles Atomic Segments are to be generated during the
 execution of the Service Package.
-->
	<!--
 trackingDataPathId, apertureName, spaceUserNodeName,reportingPeriod, and frName
 -->
	<xsd:complexType name="TdmSegmentGenAntAnglesPathTableNamed">
		<xsd:complexContent>
			<xsd:extension base="SLSRadiometricDataProductionStratumType">
				<xsd:sequence>
					<xsd:element name="TdmSegmentGenAntAnglesPathTable" type="TdmSegmentGenAntAnglesPathTable"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.60100.1.11.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TdmSegmentGenAntAnglesPathTable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TdmSegmentGenAntAnglesPathTable">
		<xsd:choice>
			<xsd:element name="noAntAnglesSegments">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="antAnglesSegments" type="TdmPathTableCommonElements"/>
		</xsd:choice>
	</xsd:complexType>
	<!--
This event notifies any change of the tdmSegmentGenStatus parameter value.
-->
	<!--
The event value reports the tdmSegmentGenResourceStat parameter value that applies
 since the notified tdmSegmentGenResourceStatChange event has occurred.
-->
	<xsd:simpleType name="TdmSegmentGenResourceStatChangeEvtValue">
		<xsd:restriction base="TdmSegmentGenResourceStat"/>
	</xsd:simpleType>
	<!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
	<!--
The messages passed by means of the tdmSegmentGenOperatorNotify event are classified
 in terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and
 searching for specific messages, a unique numerical identifier is assigned to each
 message string. The messages are free text such that equipment specific issues can
 be reported. 
-->
	<xsd:complexType name="TdmSegmentGenOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the TdmSegmentGen
 FR type. 
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the TdmSegmentGen
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.
-->
	<xsd:complexType name="TdmSegmentGenContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
