SanaRegistry/TmAosVcDemux.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
The TmAosVcDemux FR accepts frames from a given master channel and passes on all
 frames of the configured Virtual Channels. If so configured it also extracts and
 delivers the CLCWs of the selected Virtual Channel. 
-->
	<xsd:element name="TmAosVcDemuxElement" type="TmAosVcDemuxType" substitutionGroup="SpaceLinkProtocolStratumParameters"/>
	<xsd:complexType name="TmAosVcDemuxType">
		<xsd:complexContent>
			<xsd:extension base="SpaceLinkProtocolStratumType">
				<xsd:all>
					<xsd:element name="tmAosVcDemuxGvcid" type="TmAosVcDemuxGvcidNamed" minOccurs="0"/>
					<xsd:element name="tmAosVcDemuxClcwExtraction" type="TmAosVcDemuxClcwExtractionNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.40501"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the TmAosVcDemux FR resource status and can take
 on four values:
- 'configured':  the associated equipment has been configured;
-
 'operational':  the associated equipment is active;
- 'interrupted':  a failure
 has been detected;
- 'halted':  the associated equipment has been taken out of
 service.
-->
	<xsd:simpleType name="TmAosVcDemuxResourceStat">
		<xsd:restriction base="ResourceStat"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the GVCIDs of the VCs being delivered by this
 FR instance. 

The contents of this parameter are constrained as follows:
1)
 if the value of the tmAosMcDemuxMcIds parameter of the associated TmAosMcDemux FR
 instance is 'tmFrames', then 
    a) the value of tmAosVcDemuxGvcid shall be 'tmGvcid',

    b) the value of the tfvn component of 'tmGvcid' shall equal the value of the
 tfvn component of the mAosMcDemuxMcIds parameter of the associated TmAosMcDemux
 FR instance, and
	c) the value of the scid component of 'tmGvcid' shall equal the
 value of the one of the values of the scid set of the tmAosMcDemuxMcIds parameter
 of the associated TmAosMcDemux FR instance.
2) if the value of the tmAosMcDemuxMcIds
 parameter of the associated TmAosMcDemux FR instance is 'aosFrames', then 
   
 a) the value of tmAosVcDemuxGvcid shall be 'aosGvcid',
    b) the value of the
 tfvn component of 'aosGvcid' shall equal the value of the tfvn component of the
 mAosMcDemuxMcIds parameter of the associated TmAosMcDemux FR instance, and
	c)
 the value of the scid component of 'aosGvcid' shall equal the value of the one of
 the values of the scid set of the tmAosMcDemuxMcIds parameter of the associated
 TmAosMcDemux FR instance.
-->
	<xsd:complexType name="TmAosVcDemuxGvcidNamed">
		<xsd:complexContent>
			<xsd:extension base="SpaceLinkProtocolStratumType">
				<xsd:sequence>
					<xsd:element name="TmAosVcDemuxGvcid" type="TmAosVcDemuxGvcid"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.40501.1.2.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TmAosVcDemuxGvcid"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TmAosVcDemuxGvcid">
		<xsd:choice>
			<xsd:element name="tmGvcid">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tfvn">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         For Tm frames the Transfer Frame Version Number is 1 which is encoded as binary '00'.
         -->
									<xsd:simpleType>
										<xsd:restriction base="BitString"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="scid">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="0"/>
											<xsd:maxInclusive value="1023"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="vcid">
							<xsd:complexType>
								<xsd:sequence minOccurs="1" maxOccurs="8">
									<xsd:element name="element">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:minInclusive value="0"/>
												<xsd:maxInclusive value="7"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="aosGvcid">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tfvn">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         For AOS frames the Transfer Frame Version Number is 2 which is encoded as binary '01'B.
         -->
									<xsd:simpleType>
										<xsd:restriction base="BitString"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="scid">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="0"/>
											<xsd:maxInclusive value="255"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="vcid">
							<xsd:complexType>
								<xsd:sequence minOccurs="1" maxOccurs="64">
									<xsd:element name="element">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:minInclusive value="0"/>
												<xsd:maxInclusive value="63"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This parameter configures and reports if the FR instance shall extract CLCWs and
 if so from which VC. The extracted CLCWs are forwarded  to the FR types that consume
 them. 
-->
	<xsd:complexType name="TmAosVcDemuxClcwExtractionNamed">
		<xsd:complexContent>
			<xsd:extension base="SpaceLinkProtocolStratumType">
				<xsd:sequence>
					<xsd:element name="TmAosVcDemuxClcwExtraction" type="TmAosVcDemuxClcwExtraction"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.40501.1.3.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="TmAosVcDemuxClcwExtraction"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TmAosVcDemuxClcwExtraction">
		<xsd:choice>
			<xsd:element name="noClcwExtraction">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<xsd:simpleType>
							<xsd:restriction base="NULL"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="clcwExtractionTmVcs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tfvn">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         For TM frames the Transfer Frame Version Number is 1 which is encoded as binary  '00'.
         -->
									<xsd:simpleType>
										<xsd:restriction base="BitString"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="scid">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="0"/>
											<xsd:maxInclusive value="1023"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="vcid">
							<xsd:complexType>
								<xsd:sequence minOccurs="1" maxOccurs="8">
									<xsd:element name="element">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:minInclusive value="0"/>
												<xsd:maxInclusive value="7"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="clcwExtractionAosVcs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tfvn">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<!--
         For AOS frames the Transfer Frame Version Number is 2 which is encoded as binary '01'.
         -->
									<xsd:simpleType>
										<xsd:restriction base="BitString"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="scid">
							<xsd:complexType>
								<xsd:attribute name="value" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:minInclusive value="0"/>
											<xsd:maxInclusive value="255"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="vcid">
							<xsd:complexType>
								<xsd:sequence minOccurs="1" maxOccurs="64">
									<xsd:element name="element">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:minInclusive value="0"/>
												<xsd:maxInclusive value="63"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This event notifies any change of the tmAosVcDemuxResourceStat parameter value.
-->
	<!--
The event value reports the tmAosVcDemuxResourceStat parameter value that applies
 since the notified tmAosVcDemuxResourceStatChange event has occurred.
-->
	<xsd:simpleType name="TmAosVcDemuxResourceStatChangeEvtValue">
		<xsd:restriction base="TmAosVcDemuxResourceStat"/>
	</xsd:simpleType>
	<!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
	<!--
The messages passed by means of the tmAosVcDemuxOperatorNotify event are classified
 in terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and
 searching for specific messages, a unique numerical identifier is assigned to each
 message string. The messages are free text such that equipment specific issues can
 be reported. 
-->
	<xsd:complexType name="TmAosVcDemuxOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the TmAosVcDemux
 FR type. 
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a sequence of parameter identifier and parameter value pairs. To be valid,
 the parameter identifier must reference a controllable parameter of the TmAosVcDemux
 FR and the parameter value must be of the same type as the parameter value that
 shall be set.

-->
	<xsd:complexType name="TmAosVcDemuxContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
