SanaRegistry/ValRmDataStore.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="urn:ccsds:schema:cssm:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ccsds:schema:cssm:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<xsd:include schemaLocation="frm_type_definitions.xsd"/>
	<xsd:include schemaLocation="AbstractFrStrataParameterSets.xsd"/>
	<!--
The ValRmDataStore FR is a repository of validated TDM files typically generated
 by the navigations teams of the space flight agencies. The validated TDM files may
 contain observables requiring processing of raw data collected at more than one
 ESLT or other facilities. The result of the correlation of the files generated by
 DdorRawDataCollection FR instances at different ESLTs are also validated TDM files
 that may be stored in the  ValRmDataStore. 

Storage space allocation shall be
 per mission. The applied data retention policy is FIFO.

Transfer of the validated
 TDM files shall be through a TGFT Host FR instance. 
-->
	<xsd:element name="ValRmDataStoreElement" type="ValRmDataStoreType" substitutionGroup="OfflineDataStorageStratumParameters"/>
	<xsd:complexType name="ValRmDataStoreType">
		<xsd:complexContent>
			<xsd:extension base="OfflineDataStorageStratumType">
				<xsd:all>
					<xsd:element name="valRmDataStoreAllocatedStorage" type="ValRmDataStoreAllocatedStorageNamed" minOccurs="0"/>
				</xsd:all>
				<xsd:attribute name="frin" type="xsd:string" use="optional"/>
				<xsd:attribute name="frTypeOid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.70400"/>
				<xsd:attribute name="frNickname" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This enumerated parameter reports the ValRmDataStore FR resource status and can take
 on four values:
- 'configured':  the associated resource has been configured;
-
 'operational':  the associated resource is active;
- 'interrupted':  a failure
 has been detected;
- 'halted':  the associated resource has been taken out of service.

NOTE
 - Because it is an offline data storage FR, the resource status of the ValRmDataStore
 FR is independent of any Service Package that it may be included in. 
-->
	<xsd:simpleType name="ValRmDataStoreResourceStat">
		<xsd:restriction base="ResourceStat"/>
	</xsd:simpleType>
	<!--
This parameter configures and reports the maximum storage (in megabytes) allocated
 to the validated TDM files associated with each of the supported missions and to
 the validated TDM files containing data that are not mission specific.
-->
	<xsd:complexType name="ValRmDataStoreAllocatedStorageNamed">
		<xsd:complexContent>
			<xsd:extension base="OfflineDataStorageStratumType">
				<xsd:sequence>
					<xsd:element name="ValRmDataStoreAllocatedStorage" type="ValRmDataStoreAllocatedStorage"/>
				</xsd:sequence>
				<xsd:attribute name="oid" type="ObjectIdentifier" fixed="1.3.112.4.4.2.1.70400.1.2.1.1"/>
				<xsd:attribute name="classifier" type="xsd:string" fixed="ValRmDataStoreAllocatedStorage"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ValRmDataStoreAllocatedStorage">
		<xsd:sequence>
			<xsd:element name="missionSpecificStorageAllocation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="missionId">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
            This is typically the same string as assigned to the PARTICIPANT_2 keyword in the associated raw data TDM file(s).
            -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="allocatedStorageSpace">
										<xsd:complexType>
											<xsd:attribute name="value" type="LongIntUnsigned" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="missionIndependentStorageAllocation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="dataSourceId">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
            For the validated TDM files containing not signal related observables, this string will typically be the same as assigned to the PARTICIPANT_1 keyword in the raw data TDM file(s).
            -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="allocatedStorageSpace">
										<xsd:complexType>
											<xsd:attribute name="value" type="LongIntUnsigned" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This parameter reports reports the storage space (in megabytes) currently available
 for the validated TDM files per supported mission and currently available for the
 validated TDM files containing data that are not mission specific per data source.
-->
	<xsd:complexType name="ValRmDataStoreAvailableStorage">
		<xsd:sequence>
			<xsd:element name="missionSpecificAvailableStorage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="missionId">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           This is typically the same string as assigned to the PARTICIPANT_2 keyword in the associated raw data TDM file(s).
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="availableStorageSpace">
										<xsd:complexType>
											<xsd:attribute name="value" type="LongIntUnsigned" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="missionIndependentAvailableStorage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="dataSourceId">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
           For the validated TDM files containing not signal related observables, this string will typically be the same as assigned to the PARTICIPANT_1 keyword in the raw data TDM file(s).
           -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="availableStorageSpace">
										<xsd:complexType>
											<xsd:attribute name="value" type="LongIntUnsigned" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This event notifies any change of the valRmDataStoreResourceStat parameter.
-->
	<!--
The event value reports the valRmDataStoreResourceStat value that applies since the
 notified valRmDataStoreResourceStatChange event occurred.
-->
	<xsd:simpleType name="ValRmDataStoreResourceStatChangeEvtValue">
		<xsd:restriction base="ValRmDataStoreResourceStat"/>
	</xsd:simpleType>
	<!--
This event notifies the overflow of a part of the ValRmDataStore beyond its allocated
 storage space.
-->
	<!--
The event value identifies the part of the storage in which the overflow notified
 by the valRmDataStoreOverflow event occurred.
-->
	<xsd:complexType name="ValRmDataStoreOverflowEvtValue">
		<xsd:choice>
			<xsd:element name="missionId">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The overflow happened in the storage allocated to the indicated mission. 
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="missionIndependentDataSource">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      The overflow occured in the storage area allocated to the indicated mission independent data source.
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!--
This event notifies the insertion of a TDM file and reports in the event value the
 file name assigned to that TDM file.
-->
	<!--
The event value reports the name that has been assigned to the file the insertion
 of which is notified by the valRmFileInsertion event.

The file extension shall
 always be 'tdm'.
-->
	<xsd:complexType name="ValRmFileInsertionEvtValue">
		<xsd:sequence>
			<xsd:element name="creationDate">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      This string shall be the string assigned to the CREATION_DATE keyword in the TDM file header. The character string shall be formatted as YYYY-MM-DDThh:mm:ss (see subsection 4.3.9. of CCSDS 503.0-B-2).
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="originator">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      This string shall be the string assigned to the CREATION_DATE keyword in the TDM file header. This string shall be an entry from the ‘Abbreviation’ column in the SANA Organizations Registry, https://sanaregistry.org/r/organizations/organizations.html
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="participants">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="sequentialMode">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="spacecraftId">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
          This string shall be the string assigned to the PARTICIPNT_2 keyword in the raw data TDM file.
          -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="antennaId">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
          This string shall be the string assigned to the PARTICIPANT_1 keyword in the raw data TDM file.
          -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="differencedRangeDopplerMode">
							<!--
     This string shall be the string assigned to the PARTICIPANT_2 keyword in both input raw data TDM files.
     -->
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="spacecraftId">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="antennaId1">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
          This string shall be the string assigned to the PARTICIPANT_1 keyword in the first raw data TDM file used to generate this validated TDM file.
          -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="antennaId2">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
          This string shall be the string assigned to the PARTICIPANT_1 keyword in the second raw data TDM file used to generate this validated TDM file.
          -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="differencedVlbiMode">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="spacecraftId">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
          This string shall be the string that for the given spacecraft is assigned to the PARTICIPANT_2 keyword in raw data TDM files. It should be noted that in the raw DDOR files which are the input for the generation of VLBI data a different convention for identifying the spacecraft applies.
          -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="quasarId">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
          The string shall be the one assigned to the quasar in the SANA registry http://sanaregistry.org/r/radio_sources/radio_sources.html.
          -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="antennaId1">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
          This string shall be the string assigned to the PARTICIPANT_1 keyword in raw data TDM files when using the antenna identified in the raw Delta-Dor data acquired by that antenna. The convention regarding the string identifying the antenna in raw data Delta-Dor files may differ from the TDM file convention.
          -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="antennaId2">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
          This string shall be the string assigned to the PARTICIPANT_1 keyword in raw data TDM files when using the antenna identified in the raw Delta-Dor data acquired by that antenna. The convention regarding the string identifying the antenna in raw data Delta-Dor files may differ from the TDM file convention.
          -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="modeNotApplicable">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="antennaId">
										<xsd:complexType>
											<xsd:attribute name="value" use="required">
												<!--
          This string shall be the string assigned to the PARTICIPANT_1 keyword in raw data TDM files when this antenna is used for acquisition of the observables
          -->
												<xsd:simpleType>
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="spacecraftFacilityID">
										<xsd:complexType>
											<xsd:choice>
												<xsd:element name="clockBiasDrift">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
            If the validated TDM file data segment contains data assigned to the keywords CLOCK_BIAS and CLOCK_DRIFT, this string assigned to the PARTICIPANT_2 keyword may either identify a second antenna or a ground facility with a highly stable clock. 
            -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="tropo">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
            If the validated TDM file data segments contain observables assigned to the keywords TROPO_DRY and TROPO_WET, this string shall be the one assigned to the PARTICIPANT_2 keyword in raw data TDM files.  
            -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="meteo">
													<xsd:complexType>
														<xsd:attribute name="value" use="required">
															<!--
            If the validated TDM file data segments contain observables assigned to the keywords PRESSURE, RHUMIDITY, and TEMPERATURE, this string shall be set to 'N/A'. 
            -->
															<xsd:simpleType>
																<xsd:restriction base="xsd:string"/>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:complexType>
												</xsd:element>
											</xsd:choice>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="observablesInDataSegments">
				<!--
   This elements lists all keywords associated with observables contained in the data segments of the given TDM file. The observables with the keywords MAG and RCS are not supported and therefore these keywords are not listed.
   -->
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string"/>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="observationStartTime">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      This shall be the time tag assigned to the START_TIME keyword of the first Metadata Section contained in the TDM file. The character string is formatted as YYYY-MM-DDThh:mm:ss (see subsection 4.3.9. of CCSDS 503.0-B-2). 
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="observationStopTime">
				<xsd:complexType>
					<xsd:attribute name="value" use="required">
						<!--
      This shall be the time tag assigned to the STOP_TIME keyword of the last Metadata Section contained in the TDM file. The character string is formatted as YYYY-MM-DDThh:mm:ss (see subsection 4.3.9. of CCSDS 503.0-B-2). 
      -->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--
This event passes text messages intended for logs or operators involved in the ongoing
 service provision.
-->
	<!--
The messages passed by means of the valRmDataStoreOperatorNotify event are classified
 in terms of severity as 'info', 'warning' or 'alarm'. To simplify filtering and
 searching for specific messages, a unique numerical identifier is assigned to each
 message string. The messages are free text such that equipment specific issues can
 be reported. 
-->
	<xsd:complexType name="ValRmDataStoreOperatorNotifyMessage">
		<xsd:complexContent>
			<xsd:extension base="OperatorNotifyMessage"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
This directive permits setting of the controllable parameters of the ValRmDataStore
 FR type. 
-->
	<!--
The directive qualifier specifies the FR instance the directive shall act on and
 contains a set of parameter identifier and parameter value pairs. To be valid, the
 parameter identifier must reference a controllable parameter of the ValRmDataStore
 FR and the parameter value must be of the same type as the parameter value that
 shall be set. 
-->
	<xsd:complexType name="ValRmDataStoreContrParamIdsAndValuesDirQual">
		<xsd:complexContent>
			<xsd:extension base="DirectiveQualifier"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
